<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wf.dao.AuthoritySettingMapper">
	<resultMap id="AuthoritySettingMap" type="com.wf.bean.AuthoritySetting">
		<result column="authority_code" property="authorityCode" jdbcType="VARCHAR" />
		<result column="authority_name" property="authorityName" jdbcType="VARCHAR" />
		<result column="authority_sort" property="authoritySort" jdbcType="INTEGER" />
	</resultMap>
	
	<select id="getAuthoritySettingList" resultMap="AuthoritySettingMap">
		select * from authority_settings order by authority_sort
	</select>
</mapper>