<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wf.dao.CardBatchMapper" >
  <resultMap id="BaseResultMap" type="java.util.Map" >
    <id column="batch_id" property="batchId" jdbcType="VARCHAR" />
    <result column="batch_name" property="batchName" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="value_number" property="valueNumber" jdbcType="VARCHAR" />
    <result column="valid_start" property="validStart" jdbcType="VARCHAR" />
    <result column="valid_end" property="validEnd" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="VARCHAR" />
    <result column="amount" property="amount" jdbcType="INTEGER" />
    <result column="apply_department" property="applyDepartment" jdbcType="VARCHAR" />
    <result column="apply_person" property="applyPerson" jdbcType="VARCHAR" />
    <result column="apply_date" property="applyDate" jdbcType="VARCHAR" />
    <result column="adjunct" property="adjunct" jdbcType="VARCHAR" />
    <result column="check_state" property="checkState" jdbcType="INTEGER" />
    <result column="check_department" property="checkDepartment" jdbcType="VARCHAR" />
    <result column="check_person" property="checkPerson" jdbcType="VARCHAR" />
    <result column="check_date" property="checkDate" jdbcType="VARCHAR" />
    <result column="pull_department" property="pullDepartment" jdbcType="VARCHAR" />
    <result column="pull_person" property="pullPerson" jdbcType="VARCHAR" />
    <result column="pull_date" property="pullDate" jdbcType="VARCHAR" />
    <result column="batch_state" property="batchState" jdbcType="INTEGER" />
    <result column="card_name" property="cardTypeName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    batch_id, batch_name, type, value_number, valid_start, valid_end, 
    create_date, amount, apply_department, apply_person, apply_date, adjunct, check_state, 
    check_department, check_person, check_date, pull_department, pull_person, pull_date, 
    batch_state
  </sql>
  <!-- 生成万方卡批次 -->
  <insert id="insertCardBatch" parameterType="com.wf.bean.CardBatch">
  	insert into wfks_accounting.rech_card_batch(batch_id, batch_name, type, 
      value_number, valid_start, 
      valid_end, create_date, amount, 
      apply_department, apply_person, apply_date, 
      adjunct, check_state, check_department, 
      check_person, check_date, pull_department, 
      pull_person, pull_date, batch_state
      )
  	values(#{batchId}, #{batchName}, #{type}, 
      #{valueNumber}, #{validStart}, 
      #{validEnd}, #{createDate}, #{amount}, 
      #{applyDepartment}, #{applyPerson}, #{applyDate}, 
      #{adjunct}, #{checkState}, #{checkDepartment}, 
      #{checkPerson}, #{checkDate}, #{pullDepartment}, 
      #{pullPerson}, #{pullDate}, #{batchState}
      )
  </insert>
  <!-- 查询万方卡批次号最大值 -->
  <select id="queryBatchName" resultType="java.lang.String">
  	select max(batch_name) from wfks_accounting.rech_card_batch 
  </select>
  <!-- 查询当日同种金额卡号的序列号 -->
  <select id="querySameMoney" resultType="java.lang.String">
  	select max(card_num) from wfks_accounting.rech_card where card_num like CONCAT(#{card},'%')
  </select>
  <!-- 查询所有批次 -->
  <select id="queryAll" resultMap="BaseResultMap" parameterType="java.util.Map">
  	select b.*,t.* from wfks_accounting.rech_card_batch b,wfks_accounting.card_type t
  	where b.type=t.card_code
  	ORDER BY batch_name ASC
  </select>
  <!-- 查询充值批次当前条件下分页信息 -->
  <select id="queryCheck" resultMap="BaseResultMap" parameterType="java.util.Map">
	select b.*,t.* from wfks_accounting.rech_card_batch b,wfks_accounting.card_type t
 	where b.type=t.card_code
  	<if test="batchName!=null">
  		and b.batch_name=#{batchName}
  	</if>
  	<if test="applyDepartment!=null">
  		and b.apply_department=#{applyDepartment}
  	</if><if test="applyPerson!=null">
  		and b.apply_person=#{applyPerson}
  	</if>
  	<if test="startTime!=null">
  		and b.apply_date <![CDATA[ >= ]]> #{startTime}
  	</if>
  	<if test="endTime!=null">
  		and b.apply_date <![CDATA[ <= ]]> #{endTime}
  	</if>
  	<if test="cardType !=null">
  		and b.type=#{cardType}
  	</if>
  	<if test="batchState !=null">
  		and b.batch_state=#{batchState}
  	</if>
  	ORDER BY create_date DESC
  	limit #{pageNum},#{pageSize}
  </select>
  <!-- 查询充值批次当前条件下所有记录 -->
  <select id="queryCheckSize" resultType="java.lang.Integer" parameterType="java.util.Map">
  	select count(1) from wfks_accounting.rech_card_batch b
  	where 1=1
  	<if test="batchName!=null">
  		and b.batch_name=#{batchName}
  	</if>
  	<if test="applyDepartment!=null">
  		and b.apply_department=#{applyDepartment}
  	</if>
  	<if test="applyPerson!=null">
  		and b.apply_person=#{applyPerson}
  	</if>
  	<if test="startTime!=null">
  		and b.apply_date <![CDATA[ >= ]]> #{startTime}
  	</if>
  	<if test="endTime!=null">
  		and b.apply_date <![CDATA[ <= ]]> #{endTime}
  	</if>
  	<if test="cardType!=null">
       	and b.type=#{cardType}
    </if>
    <if test="batchState !=null">
  		and b.batch_state=#{batchState}
  	</if>
  </select>
  <!-- 根据batchId  万方卡批次详情页 -->
  <select id="queryOneByBatchId" resultMap="BaseResultMap" parameterType="java.lang.String">
  	select b.*,t.* from wfks_accounting.rech_card_batch b,wfks_accounting.card_type t
 	where b.type=t.card_code 
 	and b.batch_id=#{batchId}
  </select>
  <!-- 修改审核状态 -->
  <update id="updateCheckState" parameterType="java.util.Map">
  	update wfks_accounting.rech_card_batch 
  	set check_state=2,check_department=#{checkDepartment},check_person=#{checkPerson},check_date=#{checkDate}
  	where batch_id=#{batchId}
  </update>
  <!-- 修改批次状态 -->
  <update id="updateBatchState" parameterType="java.util.Map">
  	update wfks_accounting.rech_card_batch 
  	set batch_state=#{batchState},pull_department=#{pullDepartment},pull_person=#{pullPerson},pull_date=#{pullDate}
  	where batch_id=#{batchId}
  </update>
</mapper>