<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wf.dao.DatabaseUseHourlyMapper" >
  <resultMap id="BaseResultMap" type="com.wf.bean.DatabaseUseHourly" >
    <id column="user_id" property="user_id" jdbcType="VARCHAR" />
    <result column="institution" property="institution_name" jdbcType="VARCHAR" />
    <result column="operate_type" property="operate_type" jdbcType="VARCHAR" />
    <result column="database_name" property="database_name" jdbcType="VARCHAR" />
    <result column="date" property="date" jdbcType="VARCHAR" />
    <result column="hour" property="hour" jdbcType="VARCHAR" />
    <result column="numbers" property="numbers" jdbcType="VARCHAR" />
    <result column="sum(numbers)" property="sum" jdbcType="VARCHAR"/>
    <result column="sum1" property="sum1" jdbcType="VARCHAR"/>
    <result column="sum2" property="sum2" jdbcType="VARCHAR"/>
    <result column="sum3" property="sum3" jdbcType="VARCHAR"/>
  </resultMap>
  
   <!-- 查询数据库分析当前条件下分页信息 -->

	<select id="getData" resultMap="BaseResultMap">
		SELECT d.table_name as database_name,r.product_source_code as product_source_code,
		sum(CASE r.operate_type when 3 then r.numbers else 0 end)sum1,
		sum(CASE r.operate_type when 1 then r.numbers else 0 end)sum2,
		sum(CASE r.operate_type when 2 then r.numbers else 0 end)sum3

		from rs_resources_statistics_database_use_hourly r
		left join
		datamanager d on d.product_source_code=r.product_source_code
		where 1=1
		<if test="product_source_code!=null and product_source_code !=''">
			and r.product_source_code= #{product_source_code}
		</if>
		<if test="source_db!=null and source_db !=''">
			and r.source_db = #{source_db}
		</if>
		<choose>
			<when test="date !=null and date !=''">
				and date = #{date}
				<if test="startTime!=null and startTime !=''">
					and r.hour <![CDATA[ >= ]]> #{startTime}
				</if>
				<if test="endTime!=null and endTime !=''">
					and r.hour <![CDATA[ <= ]]> #{endTime}
				</if>
			</when>
			<otherwise>
				<if test="startTime!=null and startTime !=''">
					and r.date <![CDATA[ >= ]]> #{startTime}
				</if>
				<if test="endTime!=null and endTime !=''">
					and r.date <![CDATA[ <= ]]> #{endTime}
				</if>
			</otherwise>
		</choose>
		group by r.product_source_code
		limit #{pageNum},#{pageSize}
	</select>
	<select id="getDataById" resultMap="BaseResultMap">
		SELECT d.table_name as database_name,r.product_source_code as product_source_code,
		sum(CASE r.operate_type when 3 then r.numbers else 0 end)sum1,
		sum(CASE r.operate_type when 1 then r.numbers else 0 end)sum2,
		sum(CASE r.operate_type when 2 then r.numbers else 0 end)sum3

		from rs_resources_statistics_database_use_hourly r
		left join
		datamanager d on d.product_source_code=r.product_source_code
		where 1=1
		<if test="user_id!=null and user_id !=''">
			and r.user_id = #{user_id}
		</if>
		<choose>
			<when test="product_source_code!=null and product_source_code !=''">
				and r.product_source_code= #{product_source_code}
			</when>
			<otherwise>
				and r.product_source_code in(select resource_id
				from wfks_pay_channel_resources wkfs where user_id = #{user_id} )
			</otherwise>
		</choose>
		<if test="source_db!=null and source_db !=''">
			and r.source_db = #{source_db}
		</if>
		<choose>
			<when test="date !=null and date !=''">
				and date = #{date}
				<if test="startTime!=null and startTime !=''">
					and r.hour <![CDATA[ >= ]]> #{startTime}
				</if>
				<if test="endTime!=null and endTime !=''">
					and r.hour <![CDATA[ <= ]]> #{endTime}
				</if>
			</when>
			<otherwise>
				<if test="startTime!=null and startTime !=''">
					and r.date <![CDATA[ >= ]]> #{startTime}
				</if>
				<if test="endTime!=null and endTime !=''">
					and r.date <![CDATA[ <= ]]> #{endTime}
				</if>
			</otherwise>
		</choose>
		group by r.product_source_code
		limit #{pageNum},#{pageSize}
	</select>
	<select id="getDataByIds" resultMap="BaseResultMap">
		SELECT d.table_name as database_name,r.product_source_code as product_source_code,
		sum(CASE r.operate_type when 3 then r.numbers else 0 end)sum1,
		sum(CASE r.operate_type when 1 then r.numbers else 0 end)sum2,
		sum(CASE r.operate_type when 2 then r.numbers else 0 end)sum3
		from rs_resources_statistics_database_use_hourly r
		left join
		datamanager d on d.product_source_code=r.product_source_code
		where 1=1
		<choose>
			<when test="product_source_code!=null and product_source_code !=''">
				and r.product_source_code= #{product_source_code}
			</when>
			<otherwise>
				and r.product_source_code in(select resource_id
				from wfks_pay_channel_resources wkfs where user_id in
				<foreach collection="users" item="item" open="("   separator="," close=")">
					#{item}
				</foreach>
				)
			</otherwise>
		</choose>
		<if test="source_db!=null and source_db !=''">
			and r.source_db = #{source_db}
		</if>
		<choose>
			<when test="date !=null and date !=''">
				and date = #{date}
				<if test="startTime!=null and startTime !=''">
					and r.hour <![CDATA[ >= ]]> #{startTime}
				</if>
				<if test="endTime!=null and endTime !=''">
					and r.hour <![CDATA[ <= ]]> #{endTime}
				</if>
			</when>
			<otherwise>
				<if test="startTime!=null and startTime !=''">
					and r.date <![CDATA[ >= ]]> #{startTime}
				</if>
				<if test="endTime!=null and endTime !=''">
					and r.date <![CDATA[ <= ]]> #{endTime}
				</if>
			</otherwise>
		</choose>
		group by r.product_source_code
		limit #{pageNum},#{pageSize}
	</select>
   <!-- 查询数据库分析当前条件下所有信息 -->
  <select id="getDataAnalysisLists" resultMap="BaseResultMap">
		SELECT d.table_name as database_name,r.product_source_code as product_source_code,
		sum(CASE r.operate_type when 3 then r.numbers else 0 end)sum1,
		sum(CASE r.operate_type when 1 then r.numbers else 0 end)sum2,
		sum(CASE r.operate_type when 2 then r.numbers else 0 end)sum3 
				
		from rs_resources_statistics_database_use_hourly r 
		left join
		datamanager d on d.product_source_code=r.product_source_code
		where 1=1
  	<if test="product_source_code!=null and product_source_code !=''">
  		and r.product_source_code= #{product_source_code}
  	</if>
  	<if test="source_db!=null and source_db !=''">
  		and r.source_db = #{source_db}
  	</if>
	  <choose>
		  <when test="date !=null and date !=''">
			  and date = #{date}
			  <if test="startTime!=null and startTime !=''">
				  and r.hour <![CDATA[ >= ]]> #{startTime}
			  </if>
			  <if test="endTime!=null and endTime !=''">
				  and r.hour <![CDATA[ <= ]]> #{endTime}
			  </if>
		  </when>
		  <otherwise>
			  <if test="startTime!=null and startTime !=''">
				  and r.date <![CDATA[ >= ]]> #{startTime}
			  </if>
			  <if test="endTime!=null and endTime !=''">
				  and r.date <![CDATA[ <= ]]> #{endTime}
			  </if>
		  </otherwise>
	  </choose>
  	group by r.product_source_code
  </select>

  <!-- 查询来源分析当前条件下（全部来源、日期、指标类型）折线图信息 -->
  <select id="getGroupList" resultType="String" parameterType="com.wf.bean.DatabaseUseDaily">

		SELECT operate_type
		from rs_resources_statistics_database_use_hourly
		WHERE 1=1
		<if test="institution_name!=null and institution_name !=''">
  			and institution=#{institution_name}
	  	</if>
	  	<if test="user_id!=null and user_id !=''">
	  		and user_id = #{user_id}
	  	</if>
	  	<if test="product_source_code!=null and product_source_code !=''">
  			and product_source_code= #{product_source_code}
  		</if>
  		<if test="source_db!=null and source_db !=''">
  			and source_db = #{source_db}
  		</if>
  		<if test="date!=null and date !=''">
  			and date = #{date}
  		</if>
	  	<if test="startTime!=null and startTime !=''">
	  		and date <![CDATA[ >= ]]> #{startTime}
	  	</if>
	  	<if test="endTime!=null and endTime !=''">
	  		and date <![CDATA[ <= ]]> #{endTime}
	  	</if>
	  	<if test="urlType!=null and urlType !=''">
	  		and operate_type in
	  		<foreach collection="urlType"  item="item" open="("   separator="," close=")">
	  			#{item}
	  		</foreach>
	  	</if>
	  	<if test="database_name!=null and database_name !=''">
	  		and product_source_code in
	  		<foreach collection="database_name"  item="item" open="("   separator="," close=")">
	  			#{item}
	  		</foreach>
	  	</if>

		GROUP BY operate_type;
  </select>
	<select id="getDataAnalysisListsById" resultMap="BaseResultMap">
		SELECT d.table_name as database_name,r.product_source_code as product_source_code,
		sum(CASE r.operate_type when 3 then r.numbers else 0 end)sum1,
		sum(CASE r.operate_type when 1 then r.numbers else 0 end)sum2,
		sum(CASE r.operate_type when 2 then r.numbers else 0 end)sum3

		from rs_resources_statistics_database_use_hourly r
		left join
		datamanager d on d.product_source_code=r.product_source_code
		where 1=1
		<if test="user_id!=null and user_id !=''">
			and r.user_id = #{user_id}
		</if>
		<choose>
			<when test="product_source_code!=null and product_source_code !=''">
				and r.product_source_code= #{product_source_code}
			</when>
			<otherwise>
				and r.product_source_code in(select resource_id
				from wfks_pay_channel_resources wkfs where user_id = #{user_id} )
			</otherwise>
		</choose>
		<if test="source_db!=null and source_db !=''">
			and r.source_db = #{source_db}
		</if>
		<choose>
			<when test="date !=null and date !=''">
				and date = #{date}
				<if test="startTime!=null and startTime !=''">
					and r.hour <![CDATA[ >= ]]> #{startTime}
				</if>
				<if test="endTime!=null and endTime !=''">
					and r.hour <![CDATA[ <= ]]> #{endTime}
				</if>
			</when>
			<otherwise>
				<if test="startTime!=null and startTime !=''">
					and r.date <![CDATA[ >= ]]> #{startTime}
				</if>
				<if test="endTime!=null and endTime !=''">
					and r.date <![CDATA[ <= ]]> #{endTime}
				</if>
			</otherwise>
		</choose>
		group by r.product_source_code
	</select>
	<select id="getDataAnalysisListsByIds" resultMap="BaseResultMap">
		SELECT d.table_name as database_name,r.product_source_code as product_source_code,
		sum(CASE r.operate_type when 3 then r.numbers else 0 end)sum1,
		sum(CASE r.operate_type when 1 then r.numbers else 0 end)sum2,
		sum(CASE r.operate_type when 2 then r.numbers else 0 end)sum3
		from rs_resources_statistics_database_use_hourly r
		left join
		datamanager d on d.product_source_code=r.product_source_code
		where 1=1
		<choose>
			<when test="product_source_code!=null and product_source_code !=''">
				and r.product_source_code= #{product_source_code}
			</when>
			<otherwise>
				and r.product_source_code in(select resource_id
				from wfks_pay_channel_resources wkfs where user_id in
				<foreach collection="users" item="item" open="("   separator="," close=")">
					#{item}
				</foreach>
				)
			</otherwise>
		</choose>
		<if test="source_db!=null and source_db !=''">
			and r.source_db = #{source_db}
		</if>
		<choose>
			<when test="date !=null and date !=''">
				and date = #{date}
				<if test="startTime!=null and startTime !=''">
					and r.hour <![CDATA[ >= ]]> #{startTime}
				</if>
				<if test="endTime!=null and endTime !=''">
					and r.hour <![CDATA[ <= ]]> #{endTime}
				</if>
			</when>
			<otherwise>
				<if test="startTime!=null and startTime !=''">
					and r.date <![CDATA[ >= ]]> #{startTime}
				</if>
				<if test="endTime!=null and endTime !=''">
					and r.date <![CDATA[ <= ]]> #{endTime}
				</if>
			</otherwise>
		</choose>
		group by r.product_source_code
	</select>
  
  <!-- 查询数据库分析当前条件下统计信息 -->
  <select id="DatabaseAnalysisStatistics" resultMap="BaseResultMap">
	SELECT
	<choose>
		<when test="date !=null and date !=''">
			hour,
		</when>
		<otherwise>
			date,
		</otherwise>
	</choose>
	sum(CASE operate_type when 3 then numbers else 0 end)sum1,
	sum(CASE operate_type when 1 then numbers else 0 end)sum2,
	sum(CASE operate_type when 2 then numbers else 0 end)sum3
	from rs_resources_statistics_database_use_hourly where 1=1
	<if test="product_source_code!=null and product_source_code !=''">
		and product_source_code= #{product_source_code}
	</if>
	<if test="source_db!=null and source_db !=''">
		and source_db = #{source_db}
	</if>
	<choose>
		<when test="date !=null and date !=''">
			and date = #{date}
			<if test="startTime!=null and startTime !=''">
				and hour  <![CDATA[ >= ]]> #{startTime}
			</if>
			<if test="endTime!=null and endTime !=''">
				and hour  <![CDATA[ <= ]]> #{endTime}
			</if>
		</when>
		<otherwise>
			<if test="startTime!=null and startTime !=''">
				and date  <![CDATA[ >= ]]> #{startTime}
			</if>
			<if test="endTime!=null and endTime !=''">
				and date  <![CDATA[ <= ]]> #{endTime}
			</if>
		</otherwise>
	</choose>
	<if test="urlType!=null and urlType !=''">
		and operate_type in
		<foreach collection="urlType"  item="item" open="("   separator="," close=")">
			#{item}
		</foreach>
	</if>
	<if test="database_name!=null and database_name !=''">
		and product_source_code in
		<foreach collection="database_name"  item="item" open="("   separator="," close=")">
			#{item}
		</foreach>
	</if>
	group by
	<choose>
		<when test="date !=null and date !=''">
			hour
		</when>
		<otherwise>
			date
		</otherwise>
	</choose>
</select>
	<select id="DatabaseAnalysisStatisticsById" resultMap="BaseResultMap">
		SELECT
		<choose>
			<when test="date !=null and date !=''">
				hour,
			</when>
			<otherwise>
				date,
			</otherwise>
		</choose>
		sum(CASE operate_type when 3 then numbers else 0 end)sum1,
		sum(CASE operate_type when 1 then numbers else 0 end)sum2,
		sum(CASE operate_type when 2 then numbers else 0 end)sum3
		from rs_resources_statistics_database_use_hourly where 1=1
		<if test="user_id!=null and user_id !=''">
			and user_id = #{user_id}
		</if>
		<choose>
			<when test="product_source_code!=null and product_source_code !=''">
				and product_source_code= #{product_source_code}
			</when>
			<otherwise>
				and product_source_code in(select resource_id
				from wfks_pay_channel_resources wkfs where user_id = #{user_id} )
			</otherwise>
		</choose>
		<if test="source_db!=null and source_db !=''">
			and source_db = #{source_db}
		</if>
		<choose>
			<when test="date !=null and date !=''">
				and date = #{date}
				<if test="startTime!=null and startTime !=''">
					and hour  <![CDATA[ >= ]]> #{startTime}
				</if>
				<if test="endTime!=null and endTime !=''">
					and hour  <![CDATA[ <= ]]> #{endTime}
				</if>
			</when>
			<otherwise>
				<if test="startTime!=null and startTime !=''">
					and date  <![CDATA[ >= ]]> #{startTime}
				</if>
				<if test="endTime!=null and endTime !=''">
					and date  <![CDATA[ <= ]]> #{endTime}
				</if>
			</otherwise>
		</choose>
		<if test="urlType!=null and urlType !=''">
			and operate_type in
			<foreach collection="urlType"  item="item" open="("   separator="," close=")">
				#{item}
			</foreach>
		</if>
		<if test="database_name!=null and database_name !=''">
			and product_source_code in
			<foreach collection="database_name"  item="item" open="("   separator="," close=")">
				#{item}
			</foreach>
		</if>
		group by
		<choose>
			<when test="date !=null and date !=''">
				hour
			</when>
			<otherwise>
				date
			</otherwise>
		</choose>
	</select>
	<select id="DatabaseAnalysisStatisticsByIds" resultMap="BaseResultMap">
		SELECT
		<choose>
			<when test="date !=null and date !=''">
				hour,
			</when>
			<otherwise>
				date,
			</otherwise>
		</choose>
		sum(CASE operate_type when 3 then numbers else 0 end)sum1,
		sum(CASE operate_type when 1 then numbers else 0 end)sum2,
		sum(CASE operate_type when 2 then numbers else 0 end)sum3
		from rs_resources_statistics_database_use_hourly where 1=1
		<choose>
			<when test="product_source_code!=null and product_source_code !=''">
				and product_source_code= #{product_source_code}
			</when>
			<otherwise>
				and product_source_code in(select resource_id
				from wfks_pay_channel_resources wkfs where user_id in
				<foreach collection="users" item="item" open="("   separator="," close=")">
					#{item}
				</foreach>
				)
			</otherwise>
		</choose>
		<if test="source_db!=null and source_db !=''">
			and source_db = #{source_db}
		</if>
		<choose>
			<when test="date !=null and date !=''">
				and date = #{date}
				<if test="startTime!=null and startTime !=''">
					and hour  <![CDATA[ >= ]]> #{startTime}
				</if>
				<if test="endTime!=null and endTime !=''">
					and hour  <![CDATA[ <= ]]> #{endTime}
				</if>
			</when>
			<otherwise>
				<if test="startTime!=null and startTime !=''">
					and date  <![CDATA[ >= ]]> #{startTime}
				</if>
				<if test="endTime!=null and endTime !=''">
					and date  <![CDATA[ <= ]]> #{endTime}
				</if>
			</otherwise>
		</choose>
		<if test="urlType!=null and urlType !=''">
			and operate_type in
			<foreach collection="urlType"  item="item" open="("   separator="," close=")">
				#{item}
			</foreach>
		</if>
		<if test="database_name!=null and database_name !=''">
			and product_source_code in
			<foreach collection="database_name"  item="item" open="("   separator="," close=")">
				#{item}
			</foreach>
		</if>
		group by
		<choose>
			<when test="date !=null and date !=''">
				hour
			</when>
			<otherwise>
				date
			</otherwise>
		</choose>
	</select>

  <select id="exportDatabaseOneDay" resultType="java.util.Map">
  	select d.table_name as database_name,YEAR(date) as 'year',MONTH(date) as 'month',
			sum(CASE r.operate_type when 3 then r.numbers else 0 end) as  'searchNum',
			sum(CASE r.operate_type when 1 then r.numbers else 0 end) as  'browseNum',
			sum(CASE r.operate_type when 2 then r.numbers else 0 end) as  'downloadNum'
		from rs_resources_statistics_database_use_hourly r
		left join
		datamanager d on d.product_source_code=r.product_source_code
		where 1=1
	  	<if test="databaseUseDaily.product_source_code!=null and databaseUseDaily.product_source_code !=''">
  			and r.product_source_code= #{databaseUseDaily.product_source_code}
  		</if>
  		<if test="databaseUseDaily.source_db!=null and databaseUseDaily.source_db !=''">
  			and r.source_db = #{databaseUseDaily.source_db}
  		</if>
	  <choose>
		  <when test="databaseUseDaily.date !=null and databaseUseDaily.date !=''">
			  and r.date = #{databaseUseDaily.date}
			  <if test="startTime!=null and startTime !=''">
				  and r.hour <![CDATA[ >= ]]>  #{startTime}
			  </if>
			  <if test="endTime!=null and endTime !=''">
				  and r.hour  <![CDATA[ <= ]]> #{endTime}
			  </if>
		  </when>
		  <otherwise>
			  <if test="startTime!=null and startTime !=''">
				  and r.date <![CDATA[ >= ]]> #{startTime}
			  </if>
			  <if test="endTime!=null and endTime !=''">
				  and r.date <![CDATA[ <= ]]>  #{endTime}
			  </if>
		  </otherwise>
	  </choose>
			group by  r.product_source_code,YEAR(r.date),MONTH(r.date)
  </select>
	<select id="exportDatabaseOneDayById" resultType="java.util.Map">
		select d.table_name as database_name,YEAR(date) as 'year',MONTH(date) as 'month',
		sum(CASE r.operate_type when 3 then r.numbers else 0 end) as  'searchNum',
		sum(CASE r.operate_type when 1 then r.numbers else 0 end) as  'browseNum',
		sum(CASE r.operate_type when 2 then r.numbers else 0 end) as  'downloadNum'
		from rs_resources_statistics_database_use_hourly r
		left join
		datamanager d on d.product_source_code=r.product_source_code
		where 1=1
		<if test="databaseUseDaily.user_id!=null and databaseUseDaily.user_id !=''">
			and r.user_id = #{databaseUseDaily.user_id}
		</if>
		<choose>
			<when test="databaseUseDaily.product_source_code!=null and databaseUseDaily.product_source_code !=''">
				and r.product_source_code= #{databaseUseDaily.product_source_code}
			</when>
			<otherwise>
				and r.product_source_code in(select resource_id
				from wfks_pay_channel_resources wkfs where user_id = #{databaseUseDaily.user_id} )
			</otherwise>
		</choose>
		<if test="databaseUseDaily.source_db!=null and databaseUseDaily.source_db !=''">
			and r.source_db = #{databaseUseDaily.source_db}
		</if>
		<choose>
			<when test="databaseUseDaily.date !=null and databaseUseDaily.date !=''">
				and r.date = #{databaseUseDaily.date}
				<if test="startTime!=null and startTime !=''">
					and r.hour <![CDATA[ >= ]]>  #{startTime}
				</if>
				<if test="endTime!=null and endTime !=''">
					and r.hour  <![CDATA[ <= ]]> #{endTime}
				</if>
			</when>
			<otherwise>
				<if test="startTime!=null and startTime !=''">
					and r.date <![CDATA[ >= ]]> #{startTime}
				</if>
				<if test="endTime!=null and endTime !=''">
					and r.date <![CDATA[ <= ]]>  #{endTime}
				</if>
			</otherwise>
		</choose>
		group by  r.product_source_code,YEAR(r.date),MONTH(r.date)
	</select>
	<select id="exportDatabaseOneDayByIds" resultType="java.util.Map">
		select d.table_name as database_name,YEAR(date) as 'year',MONTH(date) as 'month',
		sum(CASE r.operate_type when 3 then r.numbers else 0 end) as  'searchNum',
		sum(CASE r.operate_type when 1 then r.numbers else 0 end) as  'browseNum',
		sum(CASE r.operate_type when 2 then r.numbers else 0 end) as  'downloadNum'
		from rs_resources_statistics_database_use_hourly r
		left join
		datamanager d on d.product_source_code=r.product_source_code
		where 1=1
		<choose>
			<when test="databaseUseDaily.product_source_code!=null and databaseUseDaily.product_source_code !=''">
				and r.product_source_code= #{databaseUseDaily.product_source_code}
			</when>
			<otherwise>
				and r.product_source_code in(select resource_id
				from wfks_pay_channel_resources wkfs where user_id in
				<foreach collection="users" item="item" open="("   separator="," close=")">
					#{item}
				</foreach>
				)
			</otherwise>
		</choose>
		<if test="databaseUseDaily.source_db!=null and databaseUseDaily.source_db !=''">
			and r.source_db = #{databaseUseDaily.source_db}
		</if>
		<choose>
			<when test="databaseUseDaily.date !=null and databaseUseDaily.date !=''">
				and r.date = #{databaseUseDaily.date}
				<if test="startTime!=null and startTime !=''">
					and r.hour <![CDATA[ >= ]]>  #{startTime}
				</if>
				<if test="endTime!=null and endTime !=''">
					and r.hour  <![CDATA[ <= ]]> #{endTime}
				</if>
			</when>
			<otherwise>
				<if test="startTime!=null and startTime !=''">
					and r.date <![CDATA[ >= ]]> #{startTime}
				</if>
				<if test="endTime!=null and endTime !=''">
					and r.date <![CDATA[ <= ]]>  #{endTime}
				</if>
			</otherwise>
		</choose>
		group by  r.product_source_code,YEAR(r.date),MONTH(r.date)
	</select>

</mapper>