<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wf.dao.HotWordSettingDao" >
 <!--  <resultMap id="BaseResultMap" type="com.wf.bean.WarningInfo" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="amountthreshold" property="amountthreshold" jdbcType="VARCHAR" />
    <result column="datethreshold" property="datethreshold" jdbcType="VARCHAR" />
    <result column="remindtime" property="remindtime" jdbcType="VARCHAR" />
    <result column="remindemail" property="remindemail" jdbcType="VARCHAR" />
    <result column="countthreshold" property="countthreshold" jdbcType="VARCHAR" />
  </resultMap> -->
 
 	<select id="getHotWordSetting"  resultType="map" parameterType="map">
 	  select * from hot_search_word_setting  order by status 
 	  limit #{pageNum},#{pageSize}
 	</select>
 	
 	<select id="getHotWordSettingCount" resultType="map" parameterType="map">
 		select * from hot_search_word_setting  order by status
 	</select>
 
  
     <insert id="addWordSetting" parameterType="com.wf.bean.HotWordSetting">
    insert into hot_search_word_setting
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="publish_cyc != null">
        publish_cyc,
      </if>
      <if test="time_slot != null">
        time_slot,
      </if>
      <if test="publish_strategy != null">
        publish_strategy,
      </if>
      <if test="publish_date != null">
        publish_date,
      </if>
      <if test="operation != null">
        operation,
      </if>
      <if test="operation_date != null">
        operation_date,
      </if>
      <if test="status!=null">
        status,
      </if>
      <if test="first_publish_time!=null">
        first_publish_time,
      </if>
      <if test="get_time!=null">
        get_time,
      </if>
      <if test="next_publish_time!=null">
        next_publish_time,
      </if>
      <if test="next_publish_time_space!=null">
        next_publish_time_space,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="publish_cyc != null">
        #{publish_cyc,jdbcType=INTEGER},
      </if>
      <if test="time_slot != null">
        #{time_slot,jdbcType=INTEGER},
      </if>
      <if test="publish_strategy != null">
        #{publish_strategy,jdbcType=VARCHAR},
      </if>
      <if test="publish_date != null">
        #{publish_date,jdbcType=VARCHAR},
      </if>
      <if test="operation != null">
      	 #{operation,jdbcType=VARCHAR},
      </if>
      <if test="operation_date != null">
         #{operation_date,jdbcType=VARCHAR},
      </if>
      <if test="status!=null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="first_publish_time!=null">
        #{first_publish_time,jdbcType=VARCHAR},
      </if>
      <if test="get_time!=null">
        #{get_time,jdbcType=VARCHAR},
      </if>
      <if test="next_publish_time!=null">
        #{next_publish_time,jdbcType=VARCHAR},
      </if>
      <if test="next_publish_time_space!=null">
        #{next_publish_time_space,jdbcType=VARCHAR},
      </if>
      
    </trim>
  </insert>
  
  
</mapper>