<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wf.dao.HotWordSettingDao" >
  <resultMap id="TaskResultMap" type="com.wf.bean.HotWordSetting" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="publish_cyc" property="publish_cyc" jdbcType="INTEGER" />
    <result column="time_slot" property="time_slot" jdbcType="INTEGER" />
    <result column="publish_strategy" property="publish_strategy" jdbcType="VARCHAR" />
    <result column="publish_date" property="publish_date" jdbcType="VARCHAR" />
    <result column="operation" property="operation" jdbcType="VARCHAR" />
    <result column="operation_date" property="operation_date" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="first_publish_time" property="first_publish_time" jdbcType="VARCHAR" />
    <result column="get_time" property="get_time" jdbcType="VARCHAR" />
    <result column="next_publish_time" property="next_publish_time" jdbcType="VARCHAR" />
    <result column="next_publish_time_space" property="next_publish_time_space" jdbcType="VARCHAR" />
    <result column="is_first" property="is_first" jdbcType="VARCHAR" />
  </resultMap>
	<resultMap id="ThemeResultMap" type="java.util.Map">
		<result property="theme" column="theme" jdbcType="VARCHAR" />
		<result property="frequency" column="frequency" jdbcType="INTEGER" />
	</resultMap>
 	<select id="getHotWordSettingList" resultType="com.wf.bean.HotWordSetting">
 	  select * from hot_search_word_setting 
 	</select>
 	<select id="getHotWordSetting"  resultType="map" parameterType="map">
 	  select * from hot_search_word_setting  order by status,operation_date DESC
 	  limit #{pageNum},#{pageSize}
 	</select>
 	
 	<select id="getHotWordSettingCount" resultType="map" parameterType="map">
 		select * from hot_search_word_setting where 1=1
	      <if test="status != null">
	        and  status=#{status}
	      </if>
 		order by status,operation_date DESC
 	</select>
 	
 	<select id="getOneHotWordSetting" resultType="com.wf.bean.HotWordSetting" parameterType="int">
 		select * from hot_search_word_setting where id=#{id}
 	</select>
 	<select id="getExecHotWordSetting" resultType="com.wf.bean.HotWordSetting" parameterType="int">
 		select * from hot_search_word_setting where status=#{status}
 	</select>
 	
     <insert id="addWordSetting" parameterType="com.wf.bean.HotWordSetting">
    insert into hot_search_word_setting
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="publish_cyc != null">
        publish_cyc,
      </if>
      <if test="time_slot != null">
        time_slot,
      </if>
      <if test="publish_strategy != null">
        publish_strategy,
      </if>
      <if test="publish_date != null">
        publish_date,
      </if>
      <if test="operation != null">
        operation,
      </if>
      <if test="operation_date != null">
        operation_date,
      </if>
      <if test="status!=null">
        status,
      </if>
      <if test="first_publish_time!=null">
        first_publish_time,
      </if>
      <if test="get_time!=null">
        get_time,
      </if>
      <if test="next_publish_time!=null">
        next_publish_time,
      </if>
      <if test="next_publish_time_space!=null">
        next_publish_time_space,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="publish_cyc != null">
        #{publish_cyc,jdbcType=INTEGER},
      </if>
      <if test="time_slot != null">
        #{time_slot,jdbcType=INTEGER},
      </if>
      <if test="publish_strategy != null">
        #{publish_strategy,jdbcType=VARCHAR},
      </if>
      <if test="publish_date != null">
        #{publish_date,jdbcType=VARCHAR},
      </if>
      <if test="operation != null">
      	 #{operation,jdbcType=VARCHAR},
      </if>
      <if test="operation_date != null">
         #{operation_date,jdbcType=VARCHAR},
      </if>
      <if test="status!=null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="first_publish_time!=null">
        #{first_publish_time,jdbcType=VARCHAR},
      </if>
      <if test="get_time!=null">
        #{get_time,jdbcType=VARCHAR},
      </if>
      <if test="next_publish_time!=null">
        #{next_publish_time,jdbcType=VARCHAR},
      </if>
      <if test="next_publish_time_space!=null">
        #{next_publish_time_space,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  
  <update id="updateHotWordSetting" parameterType="com.wf.bean.HotWordSetting">
      update hot_search_word_setting
    <set>
      <if test="publish_cyc != null">
        publish_cyc=#{publish_cyc,jdbcType=INTEGER},
      </if>
      <if test="time_slot != null">
        time_slot=#{time_slot,jdbcType=INTEGER},
      </if>
      <if test="publish_strategy != null">
        publish_strategy=#{publish_strategy,jdbcType=VARCHAR},
      </if>
      <if test="publish_date != null">
        publish_date=#{publish_date,jdbcType=VARCHAR},
      </if>
      <if test="operation != null">
      	 operation=#{operation,jdbcType=VARCHAR},
      </if>
      <if test="operation_date != null">
         operation_date=#{operation_date,jdbcType=VARCHAR},
      </if>
      <if test="status!=null">
        status=#{status,jdbcType=INTEGER},
      </if>
      <if test="first_publish_time!=null">
        first_publish_time=#{first_publish_time,jdbcType=VARCHAR},
      </if>
      <if test="get_time!=null">
        get_time=#{get_time,jdbcType=VARCHAR},
      </if>
      <if test="next_publish_time!=null">
        next_publish_time=#{next_publish_time,jdbcType=VARCHAR},
      </if>
      <if test="next_publish_time_space!=null">
        next_publish_time_space=#{next_publish_time_space,jdbcType=VARCHAR},
      </if>
      <if test="is_first!=null">
        is_first=#{is_first,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
   	<select id="getHotWordSettingTask" resultMap="TaskResultMap">
 		select * from hot_search_word_setting where substr(next_publish_time,1,10)=DATE_FORMAT(now(),"%Y-%m-%d") and publish_strategy='自动发布' and status=1 limit 0,1
 	</select>
 	
 	<update id="updateAllSetting">
 	 	update hot_search_word_setting set status=2 
 	</update>
 	
 	<select id="checkFirst" resultType="int">
 		select count(1) from hot_search_word_setting where is_first <![CDATA[ <> ]]> ''
 	</select>
 	
 	<select id="getNextPublishTime" resultType="String">
 		select next_publish_time from hot_search_word_setting where status=1
 	</select>
 	
</mapper>