<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wf.dao.InformationLabelMapper">
  <resultMap id="BaseResultMap" type="com.wf.bean.InformationLabel">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="label" jdbcType="VARCHAR" property="label" />
    <result column="total_number" jdbcType="INTEGER" property="totalNumber" />
    <result column="operator" jdbcType="VARCHAR" property="operator" />
    <result column="operating_time" jdbcType="TIMESTAMP" property="operatingTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, label, total_number, operator, operating_time
  </sql>
  <select id="selectByExample" parameterType="com.wf.bean.InformationLabelExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from information_label
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="limit != null">
      <if test="offset != null">
        limit ${offset}, ${limit}
      </if>
      <if test="offset == null">
        limit ${limit}
      </if>
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from information_label
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from information_label
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.wf.bean.InformationLabelExample">
    delete from information_label
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.wf.bean.InformationLabel">
    insert into information_label (id, label, total_number, 
      operator, operating_time)
    values (#{id,jdbcType=INTEGER}, #{label,jdbcType=VARCHAR}, #{totalNumber,jdbcType=INTEGER}, 
      #{operator,jdbcType=VARCHAR}, #{operatingTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.wf.bean.InformationLabel">
    insert into information_label
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="label != null">
        label,
      </if>
      <if test="totalNumber != null">
        total_number,
      </if>
      <if test="operator != null">
        operator,
      </if>
      <if test="operatingTime != null">
        operating_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="label != null">
        #{label,jdbcType=VARCHAR},
      </if>
      <if test="totalNumber != null">
        #{totalNumber,jdbcType=INTEGER},
      </if>
      <if test="operator != null">
        #{operator,jdbcType=VARCHAR},
      </if>
      <if test="operatingTime != null">
        #{operatingTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.wf.bean.InformationLabelExample" resultType="java.lang.Long">
    select count(*) from information_label
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update information_label
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.label != null">
        label = #{record.label,jdbcType=VARCHAR},
      </if>
      <if test="record.totalNumber != null">
        total_number = #{record.totalNumber,jdbcType=INTEGER},
      </if>
      <if test="record.operator != null">
        operator = #{record.operator,jdbcType=VARCHAR},
      </if>
      <if test="record.operatingTime != null">
        operating_time = #{record.operatingTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update information_label
    set id = #{record.id,jdbcType=INTEGER},
      label = #{record.label,jdbcType=VARCHAR},
      total_number = #{record.totalNumber,jdbcType=INTEGER},
      operator = #{record.operator,jdbcType=VARCHAR},
      operating_time = #{record.operatingTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.wf.bean.InformationLabel">
    update information_label
    <set>
      <if test="label != null">
        label = #{label,jdbcType=VARCHAR},
      </if>
      <if test="totalNumber != null">
        total_number = #{totalNumber,jdbcType=INTEGER},
      </if>
      <if test="operator != null">
        operator = #{operator,jdbcType=VARCHAR},
      </if>
      <if test="operatingTime != null">
        operating_time = #{operatingTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wf.bean.InformationLabel">
    update information_label
    set label = #{label,jdbcType=VARCHAR},
      total_number = #{totalNumber,jdbcType=INTEGER},
      operator = #{operator,jdbcType=VARCHAR},
      operating_time = #{operatingTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="selectLabelName" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from information_label
    <where>
      <if test="labelId != null and labelId != ''">
        id &lt;&gt; #{labelId,jdbcType=VARCHAR}
      </if>
      <if test="labelName != null and labelName != ''">
        label = #{labelName,jdbcType=VARCHAR}
      </if>
    </where>
    order by total_number desc
  </select>

  <select id="echoInformationLabel" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from information_label
    <where>
      <if test="labelName != null and labelName != ''">
        label LIKE CONCAT('%',#{labelName,jdbcType=VARCHAR},'%')
      </if>
    </where>
    order by total_number desc
    limit 0,10
  </select>

  <update id="updateInformationLabelNumber">
    update information_label
    set total_number = total_number + 1
    where
    label in
    <foreach collection="labelName.split(',')"  open="(" close=")" separator="," item="item">
      #{item}
    </foreach>
  </update>

  <update id="updateInformationLabelNumberDel">
    update information_label
    set total_number = total_number - 1
    where
    label in
    <foreach collection="labelName.split(',')"  open="(" close=")" separator="," item="item">
      #{item}
    </foreach>
  </update>


</mapper>