<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wf.dao.MessageMapper" >
  <resultMap id="BaseResultMap" type="com.wf.bean.Message" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="channel" property="channel" jdbcType="VARCHAR" />
    <result column="colums" property="colums" jdbcType="VARCHAR" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="abstract" property="abstracts" jdbcType="VARCHAR" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="link_address" property="linkAddress" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="VARCHAR" />
    <result column="author" property="author" jdbcType="VARCHAR" />
    <result column="organ_name" property="organName" jdbcType="VARCHAR" />
    <result column="branch" property="branch" jdbcType="VARCHAR" />
    <result column="image_url" property="imageUrl" jdbcType="VARCHAR" />
    <result column="human" property="human" jdbcType="VARCHAR" />
    <result column="stick" property="stick" jdbcType="VARCHAR" />
    <result column="issue_state" property="issueState" jdbcType="INTEGER" />
    <result column="is_top" property="isTop" jdbcType="VARCHAR" />
    <result column="label" property="label" jdbcType="VARCHAR" />
  </resultMap>
	<sql id="Base_Column_List" >
		id,channel,colums,title,abstract,link_address,date_format(create_time,'%Y-%m-%d %H:%i:%s') create_time,
		author,organ_name,branch,image_url,human,date_format(stick,'%Y-%m-%d %H:%i:%s') stick,issue_state,is_top,label
	</sql>
  
	<!-- 查询学科分类信息分页 -->
	<select id="getMessageList" resultMap="BaseResultMap" parameterType="com.wf.bean.MessageSearchRequest">
    select <include refid="Base_Column_List" />
		from message
		where 1=1
    	<if test="issueState!=null and issueState!= ''">
    		and issue_state=#{issueState}
    	</if>
    	<if test="topState!=null and topState!= ''">
    		and is_top=#{topState}
    	</if>
    	<if test="title!=null and title!= ''">
    		and title LIKE CONCAT('%',#{title,jdbcType=VARCHAR},'%')
    	</if>
    	<if test="branch!=null and branch!= ''">
    		and branch=#{branch}
    	</if>
    	<if test="human!=null and human!= ''">
    		and human LIKE CONCAT('%',#{human,jdbcType=VARCHAR},'%')
    	</if>
    	<if test="colums!=null and colums!= ''">
    		and colums =#{colums,jdbcType=VARCHAR}
    	</if>
    	<if test="startTime!=null and startTime!= ''">
    		and create_time <![CDATA[ >= ]]> #{startTime} 
    	</if>
    	<if test="endTime!=null and endTime!= ''">
    		and create_time <![CDATA[ <= ]]> #{endTime}
    	</if>
    	ORDER BY stick DESC
		<if test="count != 0 ">
			limit ${startIndex},${count}
		</if>
	</select>
	<select id="getMessageCount" resultType="int" parameterType="com.wf.bean.MessageSearchRequest">
    select count(1) from message where 1=1
		<if test="issueState!=null and issueState!= ''">
			and issue_state=#{issueState}
		</if>
		<if test="title!=null and title!= ''">
			and title LIKE CONCAT('%',#{title,jdbcType=VARCHAR},'%')
		</if>
		<if test="branch!=null and branch!= ''">
			and branch=#{branch}
		</if>
		<if test="human!=null and human!= ''">
            and human LIKE CONCAT('%',#{human,jdbcType=VARCHAR},'%')
		</if>
		<if test="colums!=null and colums!= ''">
			and colums = #{colums,jdbcType=VARCHAR}
		</if>
		<if test="startTime!=null and startTime!= ''">
			and create_time <![CDATA[ >= ]]> #{startTime}
		</if>
		<if test="endTime!=null and endTime!= ''">
			and create_time <![CDATA[ <= ]]> #{endTime}
		</if>
	</select>
  
	<select id="selectMessageInforAll" resultMap="BaseResultMap" parameterType="java.util.Map">
		select * from message where 1=1
    	<if test="isTop!=null">
    		and is_top=#{isTop}
    	</if>
    	<if test="branch!=null">
    		and branch=#{branch}
    	</if>
    	<if test="human!=null">
    		and human=#{human}
    	</if>
    	<if test="colums!=null">
    		and colums=#{colums}
    	</if>
    	<if test="startTime!=null">
    		and create_time <![CDATA[ >= ]]> #{startTime} 
    	</if>
    	<if test="endTime!=null">
    		and create_time <![CDATA[ <= ]]> #{endTime}
    	</if>
    	<if test="issue_state!=null">
    		and issue_state=#{issue_state}
    	</if>
	</select>
  	
	<select id="findMessage" resultMap="BaseResultMap" parameterType="java.lang.String">
		select * from message where id=#{id}
	</select>
	<!-- 根据类型查询 -->
	<select id="selectBycolums" resultMap="BaseResultMap" parameterType="java.util.Map">
		select <include refid="Base_Column_List" />
		from message
		where is_top='0' and issue_state=2 and colums =#{colums,jdbcType=VARCHAR}
		ORDER BY stick DESC
		limit 0,#{size}
	</select>
	<select id="selectBycolums2" resultMap="BaseResultMap" parameterType="java.util.Map">
		select <include refid="Base_Column_List" />
		from message
		where is_top='0' and issue_state=2
        and (colums =#{colum1,jdbcType=VARCHAR} or colums =#{colum2,jdbcType=VARCHAR})
		ORDER BY stick DESC
		limit 0,#{size}
	</select>
	<!-- 查询置顶数据 -->
	<select id="selectIsTop" resultMap="BaseResultMap" parameterType="java.util.Map">
		select
        <include refid="Base_Column_List" />
        from message
        where is_top='1' and issue_state=2 and colums =#{colums,jdbcType=VARCHAR}
        ORDER BY stick DESC
        limit 0,#{size}
	</select>
	<select id="selectIsTop2" resultMap="BaseResultMap" parameterType="java.util.Map">
		select
        <include refid="Base_Column_List" />
        from message
        where is_top='1' and issue_state= 2
        and (colums = #{colum1,jdbcType=VARCHAR} or colums = #{colum2,jdbcType=VARCHAR})
        ORDER BY stick DESC
        limit 0,#{size}
	</select>
  	<delete id="deleteMessage" parameterType="java.lang.String">
           delete from message where 
           <if test="_parameter !=null">
           		id in
           		<foreach collection="_parameter.split(',')"  open="(" close=")" separator="," item="item">  
					#{item}
				</foreach>
           </if> 
           <if test="_parameter==null">
           		1=2
           </if> 
   </delete>
	<insert id="insertMessage" parameterType="com.wf.bean.Message">
		insert into message(
		id,channel,colums,title,abstract,link_address,create_time,author,organ_name,content,branch,image_url,human,issue_state,stick,label,is_top)
		values(
		#{id},#{channel},#{colums}, #{title}, #{abstracts},#{linkAddress},#{createTime},#{author},#{organName},#{content},#{branch},#{imageUrl},#{human},#{issueState},#{stick},#{label},#{isTop})
	</insert>
	<update id="updateMessage" parameterType="com.wf.bean.Message">
		update message SET channel=#{channel},colums=#{colums},title=#{title},abstract=#{abstracts},link_address=#{linkAddress},
		author=#{author},organ_name=#{organName},content=#{content},image_url=#{imageUrl},branch=#{branch},human=#{human},label=#{label},stick=now() where id=#{id}
	</update>
	<!-- 更改状态 -->
	<update id="updateIssue" parameterType="java.util.Map">
		update message
		SET stick=#{stick}
		<if test="issueState!=null">
			,issue_state=#{issueState}
		</if>
		<if test="isTop!=null">
			,is_top=#{isTop}
		</if>
		<where>
			<if test="id !=null and id != ''">
				id in
				<foreach collection="id.split(',')"  open="(" close=")" separator="," item="item">
					#{item}
				</foreach>
			</if>
		</where>
	</update>
	<!-- 重置某一类型的置顶状态 -->
	<update id="updateIsTop" parameterType="java.lang.String">
		update message SET is_top='0' where colums=#{colums}
	</update>
	<select id="judgeMessageTitle">
		select count(title)
		where
		<if test="messageId != null and messageId != ''">
			id = #{messageId}
		</if>
		title = #{title}
	</select>
</mapper>