<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wf.dao.ResourceStatisticsHourMapper" >
  <resultMap id="BaseResultMap" type="com.wf.bean.ResourceStatisticsHour" >
    <result column="operate_type" property="operate_type" jdbcType="INTEGER" />
    <result column="institution_name" property="institutionName" jdbcType="VARCHAR" />
    <result column="source_type_name" property="sourceTypeName" jdbcType="VARCHAR" />
	<result column="resource_type_code" property="resourceTypeCode" jdbcType="VARCHAR" />
    <result column="source_db" property="sourceName" jdbcType="VARCHAR" />
    <result column="date" property="date" jdbcType="VARCHAR" />
    <result column="hour" property="hour" jdbcType="VARCHAR" />
    <result column="numbers" property="numbers" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="title" property="title" jdbcType="VARCHAR" />
	<result column="sum1" property="sum1" jdbcType="VARCHAR"/>
	<result column="sum2" property="sum2" jdbcType="VARCHAR"/>
	<result column="sum3" property="sum3" jdbcType="VARCHAR"/>
	<result column="sum4" property="sum4" jdbcType="VARCHAR"/>
	<result column="sum5" property="sum5" jdbcType="VARCHAR"/>
	<result column="sum6" property="sum6" jdbcType="VARCHAR"/>
	<result column="sum7" property="sum7" jdbcType="VARCHAR"/>
	<result column="sum8" property="sum8" jdbcType="VARCHAR"/>
	<result column="sum9" property="sum9" jdbcType="VARCHAR"/>
  </resultMap>
  
    <select id="getLine" resultMap="BaseResultMap">
	SELECT rs.resource_type_name as sourceTypeName,r.source_type_name as resource_type_code,
		sum(CASE r.operate_type when 1 then r.numbers else 0 end) sum1,
		sum(CASE r.operate_type when 2 then r.numbers else 0 end) sum2,
		sum(CASE r.operate_type when 3 then r.numbers else 0 end) sum3,
		sum(CASE r.operate_type when 4 then r.numbers else 0 end) sum4,
		sum(CASE r.operate_type when 5 then r.numbers else 0 end) sum5,
		sum(CASE r.operate_type when 6 then r.numbers else 0 end) sum6,
		sum(CASE r.operate_type when 7 then r.numbers else 0 end) sum7,
		sum(CASE r.operate_type when 8 then r.numbers else 0 end) sum8,
		sum(CASE r.operate_type when 9 then r.numbers else 0 end) sum9

		from rs_resources_statistics_sourcetype_use_hourly r left join
		resource_type rs on r.source_type_name = rs.resource_type_code
		where 1=1
	<if test="res.source_db!=null and res.source_db!=''">
		 and r.source_db=#{res.source_db}
	</if>
	<if test="res.product_source_code!=null and res.product_source_code!=''">
		 and r.product_source_code=#{res.product_source_code}
	</if>
	<if test="res.sourceTypeName!=null and res.sourceTypeName!=''">
		 and r.source_type_name=#{res.sourceTypeName}
	</if>
	<choose>
		<when test="res.date !=null and res.date !=''">
			and date = #{res.date}
			<if test="startTime!=null and startTime !=''">
				and r.hour <![CDATA[ >= ]]> #{startTime}
			</if>
			<if test="endTime!=null and endTime !=''">
				and r.hour <![CDATA[ <= ]]> #{endTime}
			</if>
		</when>
		<otherwise>
			<if test="startTime!=null and startTime !=''">
				and r.date <![CDATA[ >= ]]> #{startTime}
			</if>
			<if test="endTime!=null and endTime !=''">
				and r.date <![CDATA[ <= ]]> #{endTime}
			</if>
		</otherwise>
	</choose>
		group by r.source_type_name limit #{pageNum},#{pageSize}
  </select>

	<select id="getLineById" resultMap="BaseResultMap">
		SELECT rs.resource_type_name as sourceTypeName,r.source_type_name as resource_type_code,
		sum(CASE r.operate_type when 1 then r.numbers else 0 end) sum1,
		sum(CASE r.operate_type when 2 then r.numbers else 0 end) sum2,
		sum(CASE r.operate_type when 3 then r.numbers else 0 end) sum3,
		sum(CASE r.operate_type when 4 then r.numbers else 0 end) sum4,
		sum(CASE r.operate_type when 5 then r.numbers else 0 end) sum5,
		sum(CASE r.operate_type when 6 then r.numbers else 0 end) sum6,
		sum(CASE r.operate_type when 7 then r.numbers else 0 end) sum7,
		sum(CASE r.operate_type when 8 then r.numbers else 0 end) sum8,
		sum(CASE r.operate_type when 9 then r.numbers else 0 end) sum9

		from rs_resources_statistics_sourcetype_use_hourly r left join
		resource_type rs on r.source_type_name = rs.resource_type_code
		where 1=1
		<if test="res.userId!=null and res.userId!=''">
			and r.user_id=#{res.userId}
		</if>
		<if test="res.source_db!=null and res.source_db!=''">
			and r.source_db=#{res.source_db}
		</if>
		<choose>
			<when test="res.product_source_code!=null and res.product_source_code !=''">
				and r.product_source_code= #{res.product_source_code}
			</when>
			<otherwise>
				and r.product_source_code in(select resource_id
				from wfks_pay_channel_resources wkfs where user_id = #{res.userId} )
			</otherwise>
		</choose>
		<if test="res.sourceTypeName!=null and res.sourceTypeName!='' ">
			and r.source_type_name=#{res.sourceTypeName}
		</if>
		<choose>
			<when test="res.date !=null and res.date !=''">
				and date = #{res.date}
				<if test="startTime!=null and startTime !=''">
					and r.hour <![CDATA[ >= ]]> #{startTime}
				</if>
				<if test="endTime!=null and endTime !=''">
					and r.hour <![CDATA[ <= ]]> #{endTime}
				</if>
			</when>
			<otherwise>
				<if test="startTime!=null and startTime !=''">
					and r.date <![CDATA[ >= ]]> #{startTime}
				</if>
				<if test="endTime!=null and endTime !=''">
					and r.date <![CDATA[ <= ]]> #{endTime}
				</if>
			</otherwise>
		</choose>
		group by r.source_type_name limit #{pageNum},#{pageSize}
	</select>

	<select id="getLineByIds" resultMap="BaseResultMap">
		SELECT rs.resource_type_name as sourceTypeName,r.source_type_name as resource_type_code,
		sum(CASE r.operate_type when 1 then r.numbers else 0 end) sum1,
		sum(CASE r.operate_type when 2 then r.numbers else 0 end) sum2,
		sum(CASE r.operate_type when 3 then r.numbers else 0 end) sum3,
		sum(CASE r.operate_type when 4 then r.numbers else 0 end) sum4,
		sum(CASE r.operate_type when 5 then r.numbers else 0 end) sum5,
		sum(CASE r.operate_type when 6 then r.numbers else 0 end) sum6,
		sum(CASE r.operate_type when 7 then r.numbers else 0 end) sum7,
		sum(CASE r.operate_type when 8 then r.numbers else 0 end) sum8,
		sum(CASE r.operate_type when 9 then r.numbers else 0 end) sum9

		from rs_resources_statistics_sourcetype_use_hourly r left join
		resource_type rs on r.source_type_name = rs.resource_type_code
		where 1=1
		<if test="res.institutionName!=null and res.institutionName!=''">
			and r.institution=#{res.institutionName}
		</if>
		<if test="res.source_db!=null and res.source_db!=''">
			and r.source_db=#{res.source_db}
		</if>
		<choose>
			<when test="res.product_source_code!=null and res.product_source_code !=''">
				and r.product_source_code= #{res.product_source_code}
			</when>
			<otherwise>
				and r.product_source_code in(select resource_id
				from wfks_pay_channel_resources wkfs where user_id in
				<foreach collection="users" item="item" open="("   separator="," close=")">
					#{item}
				</foreach>
				)
			</otherwise>
		</choose>
		<if test="res.sourceTypeName!=null and res.sourceTypeName!=''">
			and r.source_type_name=#{res.sourceTypeName}
		</if>
		<choose>
			<when test="res.date !=null and res.date !=''">
				and date = #{res.date}
				<if test="startTime!=null and startTime !=''">
					and r.hour <![CDATA[ >= ]]> #{startTime}
				</if>
				<if test="endTime!=null and endTime !=''">
					and r.hour <![CDATA[ <= ]]> #{endTime}
				</if>
			</when>
			<otherwise>
				<if test="startTime!=null and startTime !=''">
					and r.date <![CDATA[ >= ]]> #{startTime}
				</if>
				<if test="endTime!=null and endTime !=''">
					and r.date <![CDATA[ <= ]]> #{endTime}
				</if>
			</otherwise>
		</choose>
		group by r.source_type_name limit #{pageNum},#{pageSize}
	</select>


	<select id="getLineMore" resultMap="BaseResultMap">
		SELECT rs.resource_type_name as sourceTypeName,r.source_type_name as resource_type_code,title,
		sum(CASE r.operate_type when 1 then r.numbers else 0 end) sum1,
		sum(CASE r.operate_type when 2 then r.numbers else 0 end) sum2,
		sum(CASE r.operate_type when 3 then r.numbers else 0 end) sum3,
		sum(CASE r.operate_type when 4 then r.numbers else 0 end) sum4,
		sum(CASE r.operate_type when 5 then r.numbers else 0 end) sum5,
		sum(CASE r.operate_type when 6 then r.numbers else 0 end) sum6,
		sum(CASE r.operate_type when 7 then r.numbers else 0 end) sum7,
		sum(CASE r.operate_type when 8 then r.numbers else 0 end) sum8,
		sum(CASE r.operate_type when 9 then r.numbers else 0 end) sum9

		from rs_resources_statistics_sourcetype_use_hourly r left join
		resource_type rs on r.source_type_name = rs.resource_type_code
		where 1=1
		<if test="res.source_db!=null and res.source_db!=''">
			and r.source_db=#{res.source_db}
		</if>
		<if test="res.product_source_code!=null and res.product_source_code!=''">
			and r.product_source_code=#{res.product_source_code}
		</if>
		<if test="res.sourceTypeName!=null and res.sourceTypeName!=''">
			and r.source_type_name=#{res.sourceTypeName}
		</if>
		<choose>
			<when test="res.date !=null and res.date !=''">
				and date = #{res.date}
				<if test="startTime!=null and startTime !=''">
					and r.hour <![CDATA[ >= ]]> #{startTime}
				</if>
				<if test="endTime!=null and endTime !=''">
					and r.hour <![CDATA[ <= ]]> #{endTime}
				</if>
			</when>
			<otherwise>
				<if test="startTime!=null and startTime !=''">
					and r.date <![CDATA[ >= ]]> #{startTime}
				</if>
				<if test="endTime!=null and endTime !=''">
					and r.date <![CDATA[ <= ]]> #{endTime}
				</if>
			</otherwise>
		</choose>
		group by r.title limit #{pageNum},#{pageSize}
	</select>

	<select id="getLineMoreById" resultMap="BaseResultMap">
		SELECT rs.resource_type_name as sourceTypeName,r.source_type_name as resource_type_code,title,
		sum(CASE r.operate_type when 1 then r.numbers else 0 end) sum1,
		sum(CASE r.operate_type when 2 then r.numbers else 0 end) sum2,
		sum(CASE r.operate_type when 3 then r.numbers else 0 end) sum3,
		sum(CASE r.operate_type when 4 then r.numbers else 0 end) sum4,
		sum(CASE r.operate_type when 5 then r.numbers else 0 end) sum5,
		sum(CASE r.operate_type when 6 then r.numbers else 0 end) sum6,
		sum(CASE r.operate_type when 7 then r.numbers else 0 end) sum7,
		sum(CASE r.operate_type when 8 then r.numbers else 0 end) sum8,
		sum(CASE r.operate_type when 9 then r.numbers else 0 end) sum9

		from rs_resources_statistics_sourcetype_use_hourly r left join
		resource_type rs on r.source_type_name = rs.resource_type_code
		where 1=1
		<if test="res.userId!=null and res.userId!=''">
			and r.user_id=#{res.userId}
		</if>
		<if test="res.source_db!=null and res.source_db!=''">
			and r.source_db=#{res.source_db}
		</if>
		<choose>
			<when test="res.product_source_code!=null and res.product_source_code !=''">
				and r.product_source_code= #{res.product_source_code}
			</when>
			<otherwise>
				and r.product_source_code in(select resource_id
				from wfks_pay_channel_resources wkfs where user_id = #{res.userId} )
			</otherwise>
		</choose>
		<if test="res.sourceTypeName!=null and res.sourceTypeName!='' ">
			and r.source_type_name=#{res.sourceTypeName}
		</if>
		<choose>
			<when test="res.date !=null and res.date !=''">
				and date = #{res.date}
				<if test="startTime!=null and startTime !=''">
					and r.hour <![CDATA[ >= ]]> #{startTime}
				</if>
				<if test="endTime!=null and endTime !=''">
					and r.hour <![CDATA[ <= ]]> #{endTime}
				</if>
			</when>
			<otherwise>
				<if test="startTime!=null and startTime !=''">
					and r.date <![CDATA[ >= ]]> #{startTime}
				</if>
				<if test="endTime!=null and endTime !=''">
					and r.date <![CDATA[ <= ]]> #{endTime}
				</if>
			</otherwise>
		</choose>
		group by r.title limit #{pageNum},#{pageSize}
	</select>

	<select id="getLineMoreByIds" resultMap="BaseResultMap">
		SELECT rs.resource_type_name as sourceTypeName,r.source_type_name as resource_type_code,title,
		sum(CASE r.operate_type when 1 then r.numbers else 0 end) sum1,
		sum(CASE r.operate_type when 2 then r.numbers else 0 end) sum2,
		sum(CASE r.operate_type when 3 then r.numbers else 0 end) sum3,
		sum(CASE r.operate_type when 4 then r.numbers else 0 end) sum4,
		sum(CASE r.operate_type when 5 then r.numbers else 0 end) sum5,
		sum(CASE r.operate_type when 6 then r.numbers else 0 end) sum6,
		sum(CASE r.operate_type when 7 then r.numbers else 0 end) sum7,
		sum(CASE r.operate_type when 8 then r.numbers else 0 end) sum8,
		sum(CASE r.operate_type when 9 then r.numbers else 0 end) sum9

		from rs_resources_statistics_sourcetype_use_hourly r left join
		resource_type rs on r.source_type_name = rs.resource_type_code
		where 1=1
		<if test="res.institutionName!=null and res.institutionName!=''">
			and r.institution=#{res.institutionName}
		</if>
		<if test="res.source_db!=null and res.source_db!=''">
			and r.source_db=#{res.source_db}
		</if>
		<choose>
			<when test="res.product_source_code!=null and res.product_source_code !=''">
				and r.product_source_code= #{res.product_source_code}
			</when>
			<otherwise>
				and r.product_source_code in(select resource_id
				from wfks_pay_channel_resources wkfs where user_id in
				<foreach collection="users" item="item" open="("   separator="," close=")">
					#{item}
				</foreach>
				)
			</otherwise>
		</choose>
		<if test="res.sourceTypeName!=null and res.sourceTypeName!=''">
			and r.source_type_name=#{res.sourceTypeName}
		</if>
		<choose>
			<when test="res.date !=null and res.date !=''">
				and date = #{res.date}
				<if test="startTime!=null and startTime !=''">
					and r.hour <![CDATA[ >= ]]> #{startTime}
				</if>
				<if test="endTime!=null and endTime !=''">
					and r.hour <![CDATA[ <= ]]> #{endTime}
				</if>
			</when>
			<otherwise>
				<if test="startTime!=null and startTime !=''">
					and r.date <![CDATA[ >= ]]> #{startTime}
				</if>
				<if test="endTime!=null and endTime !=''">
					and r.date <![CDATA[ <= ]]> #{endTime}
				</if>
			</otherwise>
		</choose>
		group by r.title limit #{pageNum},#{pageSize}
	</select>


	<select id="getChart" resultMap="BaseResultMap">
		SELECT
		<if test="singmore==0">
			rs.resource_type_name as sourceTypeName,r.source_type_name as resource_type_code,
		</if>
		<choose>
			<when test="res.date !=null and res.date !=''">
				hour,
			</when>
			<otherwise>
				date,
			</otherwise>
		</choose>
		sum(CASE r.operate_type when 1 then r.numbers else 0 end) sum1,
		sum(CASE r.operate_type when 2 then r.numbers else 0 end) sum2,
		sum(CASE r.operate_type when 3 then r.numbers else 0 end) sum3,
		sum(CASE r.operate_type when 4 then r.numbers else 0 end) sum4,
		sum(CASE r.operate_type when 5 then r.numbers else 0 end) sum5,
		sum(CASE r.operate_type when 6 then r.numbers else 0 end) sum6,
		sum(CASE r.operate_type when 7 then r.numbers else 0 end) sum7,
		sum(CASE r.operate_type when 8 then r.numbers else 0 end) sum8,
		sum(CASE r.operate_type when 9 then r.numbers else 0 end) sum9

		from rs_resources_statistics_sourcetype_use_hourly r left join
		resource_type rs on r.source_type_name = rs.resource_type_code
		where 1=1
		<if test="res.source_db!=null and res.source_db!=''">
			and r.source_db=#{res.source_db}
		</if>
		<if test="res.product_source_code!=null and res.product_source_code!=''">
			and r.product_source_code=#{res.product_source_code}
		</if>
		<if test="res.sourceTypeName!=null and res.sourceTypeName!='' ">
			and r.source_type_name=#{res.sourceTypeName}
		</if>
		<if test="urls!=null and urls !=''">
			and operate_type in
			<foreach collection="urls"  item="item" open="("   separator="," close=")">
				#{item}
			</foreach>
		</if>
		<if test="database_name!=null and database_name !=''">
			and r.source_type_name in
			<foreach collection="database_name"  item="item" open="("   separator="," close=")">
				#{item}
			</foreach>
		</if>
		<choose>
			<when test="res.date !=null and res.date !=''">
				and date = #{res.date}
				<if test="startTime!=null and startTime !=''">
					and r.hour <![CDATA[ >= ]]> #{startTime}
				</if>
				<if test="endTime!=null and endTime !=''">
					and r.hour <![CDATA[ <= ]]> #{endTime}
				</if>
			</when>
			<otherwise>
				<if test="startTime!=null and startTime !=''">
					and r.date <![CDATA[ >= ]]> #{startTime}
				</if>
				<if test="endTime!=null and endTime !=''">
					and r.date <![CDATA[ <= ]]> #{endTime}
				</if>
			</otherwise>
		</choose>
		group by
		<if test="singmore==0">
			resource_type_name,
		</if>
		<choose>
			<when test="res.date !=null and res.date !=''">
				hour
			</when>
			<otherwise>
				date
			</otherwise>
		</choose>
	</select>

	<select id="getChartById" resultMap="BaseResultMap">
		SELECT
		<if test="singmore==0">
			rs.resource_type_name as sourceTypeName,r.source_type_name as resource_type_code,
		</if>
		<choose>
			<when test="res.date !=null and res.date !=''">
				hour,
			</when>
			<otherwise>
				date,
			</otherwise>
		</choose>
		sum(CASE r.operate_type when 1 then r.numbers else 0 end) sum1,
		sum(CASE r.operate_type when 2 then r.numbers else 0 end) sum2,
		sum(CASE r.operate_type when 3 then r.numbers else 0 end) sum3,
		sum(CASE r.operate_type when 4 then r.numbers else 0 end) sum4,
		sum(CASE r.operate_type when 5 then r.numbers else 0 end) sum5,
		sum(CASE r.operate_type when 6 then r.numbers else 0 end) sum6,
		sum(CASE r.operate_type when 7 then r.numbers else 0 end) sum7,
		sum(CASE r.operate_type when 8 then r.numbers else 0 end) sum8,
		sum(CASE r.operate_type when 9 then r.numbers else 0 end) sum9

		from rs_resources_statistics_sourcetype_use_hourly r left join
		resource_type rs on r.source_type_name = rs.resource_type_code
		where 1=1
		<if test="res.userId!=null and res.userId!=''">
			and r.user_id=#{res.userId}
		</if>
		<if test="res.source_db!=null and res.source_db!=''">
			and r.source_db=#{res.source_db}
		</if>
		<choose>
			<when test="res.product_source_code!=null and res.product_source_code !=''">
				and r.product_source_code= #{res.product_source_code}
			</when>
			<otherwise>
				and r.product_source_code in(select resource_id
				from wfks_pay_channel_resources wkfs where user_id = #{res.userId} )
			</otherwise>
		</choose>
		<if test="res.sourceTypeName!=null and res.sourceTypeName!='' ">
			and r.source_type_name=#{res.sourceTypeName}
		</if>
		<if test="urls!=null and urls !=''">
			and operate_type in
			<foreach collection="urls"  item="item" open="("   separator="," close=")">
				#{item}
			</foreach>
		</if>
		<if test="database_name!=null and database_name !=''">
			and r.source_type_name in
			<foreach collection="database_name"  item="item" open="("   separator="," close=")">
				#{item}
			</foreach>
		</if>
		<choose>
			<when test="res.date !=null and res.date !=''">
				and date = #{date}
				<if test="startTime!=null and startTime !=''">
					and r.hour <![CDATA[ >= ]]> #{startTime}
				</if>
				<if test="endTime!=null and endTime !=''">
					and r.hour <![CDATA[ <= ]]> #{endTime}
				</if>
			</when>
			<otherwise>
				<if test="startTime!=null and startTime !=''">
					and r.date <![CDATA[ >= ]]> #{startTime}
				</if>
				<if test="endTime!=null and endTime !=''">
					and r.date <![CDATA[ <= ]]> #{endTime}
				</if>
			</otherwise>
		</choose>
		group by
		<if test="singmore==0">
			resource_type_name,
		</if>
		<choose>
			<when test="res.date !=null and res.date !=''">
				hour
			</when>
			<otherwise>
				date
			</otherwise>
		</choose>
	</select>

	<select id="getChartByIds" resultMap="BaseResultMap">
		SELECT
		<if test="singmore==0">
			rs.resource_type_name as sourceTypeName,r.source_type_name as resource_type_code,
		</if>
		<choose>
			<when test="res.date !=null and res.date !=''">
				hour,
			</when>
			<otherwise>
				date,
			</otherwise>
		</choose>
		sum(CASE r.operate_type when 1 then r.numbers else 0 end) sum1,
		sum(CASE r.operate_type when 2 then r.numbers else 0 end) sum2,
		sum(CASE r.operate_type when 3 then r.numbers else 0 end) sum3,
		sum(CASE r.operate_type when 4 then r.numbers else 0 end) sum4,
		sum(CASE r.operate_type when 5 then r.numbers else 0 end) sum5,
		sum(CASE r.operate_type when 6 then r.numbers else 0 end) sum6,
		sum(CASE r.operate_type when 7 then r.numbers else 0 end) sum7,
		sum(CASE r.operate_type when 8 then r.numbers else 0 end) sum8,
		sum(CASE r.operate_type when 9 then r.numbers else 0 end) sum9

		from rs_resources_statistics_sourcetype_use_hourly r left join
		resource_type rs on r.source_type_name = rs.resource_type_code
		where 1=1
		<if test="res.institutionName!=null and res.institutionName!=''">
			and r.institution=#{res.institutionName}
		</if>
		<if test="res.source_db!=null and res.source_db!=''">
			and r.source_db=#{res.source_db}
		</if>
		<choose>
			<when test="res.product_source_code!=null and res.product_source_code !=''">
				and r.product_source_code= #{res.product_source_code}
			</when>
			<otherwise>
				and r.product_source_code in(select resource_id
				from wfks_pay_channel_resources wkfs where user_id in
				<foreach collection="users" item="item" open="("   separator="," close=")">
					#{item}
				</foreach>
				)
			</otherwise>
		</choose>
		<if test="res.sourceTypeName!=null and res.sourceTypeName!=''">
			and r.source_type_name=#{res.sourceTypeName}
		</if>
		<if test="urls!=null and urls !=''">
			and operate_type in
			<foreach collection="urls"  item="item" open="("   separator="," close=")">
				#{item}
			</foreach>
		</if>
		<if test="database_name!=null and database_name !=''">
			and r.source_type_name in
			<foreach collection="database_name"  item="item" open="("   separator="," close=")">
				#{item}
			</foreach>
		</if>
		<choose>
			<when test="res.date !=null and res.date !=''">
				and date = #{res.date}
				<if test="startTime!=null and startTime !=''">
					and r.hour <![CDATA[ >= ]]> #{startTime}
				</if>
				<if test="endTime!=null and endTime !=''">
					and r.hour <![CDATA[ <= ]]> #{endTime}
				</if>
			</when>
			<otherwise>
				<if test="startTime!=null and startTime !=''">
					and r.date <![CDATA[ >= ]]> #{startTime}
				</if>
				<if test="endTime!=null and endTime !=''">
					and r.date <![CDATA[ <= ]]> #{endTime}
				</if>
			</otherwise>
		</choose>
		group by
		<if test="singmore==0">
			resource_type_name,
		</if>
		<choose>
			<when test="res.date !=null and res.date !=''">
				hour
			</when>
			<otherwise>
				date
			</otherwise>
		</choose>
	</select>


	<select id="getChartMore" resultMap="BaseResultMap">
		SELECT
		<choose>
			<when test="res.date !=null and res.date !=''">
				hour,
			</when>
			<otherwise>
				date,
			</otherwise>
		</choose>
		sum(CASE r.operate_type when 1 then r.numbers else 0 end) sum1,
		sum(CASE r.operate_type when 2 then r.numbers else 0 end) sum2,
		sum(CASE r.operate_type when 3 then r.numbers else 0 end) sum3,
		sum(CASE r.operate_type when 4 then r.numbers else 0 end) sum4,
		sum(CASE r.operate_type when 5 then r.numbers else 0 end) sum5,
		sum(CASE r.operate_type when 6 then r.numbers else 0 end) sum6,
		sum(CASE r.operate_type when 7 then r.numbers else 0 end) sum7,
		sum(CASE r.operate_type when 8 then r.numbers else 0 end) sum8,
		sum(CASE r.operate_type when 9 then r.numbers else 0 end) sum9

		from rs_resources_statistics_sourcetype_use_hourly r left join
		resource_type rs on r.source_type_name = rs.resource_type_code
		where 1=1
		<if test="res.source_db!=null and res.source_db!=''">
			and r.source_db=#{res.source_db}
		</if>
		<if test="res.product_source_code!=null and res.product_source_code!=''">
			and r.product_source_code=#{res.product_source_code}
		</if>
		<if test="res.sourceTypeName!=null and res.sourceTypeName!=''">
			and r.source_type_name=#{res.sourceTypeName}
		</if>
		<if test="urls!=null and urls !=''">
			and operate_type in
			<foreach collection="urls"  item="item" open="("   separator="," close=")">
				#{item}
			</foreach>
		</if>
		<choose>
			<when test="res.date !=null and res.date !=''">
				and date = #{res.date}
				<if test="startTime!=null and startTime !=''">
					and r.hour <![CDATA[ >= ]]> #{startTime}
				</if>
				<if test="endTime!=null and endTime !=''">
					and r.hour <![CDATA[ <= ]]> #{endTime}
				</if>
			</when>
			<otherwise>
				<if test="startTime!=null and startTime !=''">
					and r.date <![CDATA[ >= ]]> #{startTime}
				</if>
				<if test="endTime!=null and endTime !=''">
					and r.date <![CDATA[ <= ]]> #{endTime}
				</if>
			</otherwise>
		</choose>
		group by
		<choose>
			<when test="res.date !=null and res.date !=''">
				hour
			</when>
			<otherwise>
				date
			</otherwise>
		</choose>
	</select>

	<select id="getChartMoreById" resultMap="BaseResultMap">
		SELECT
		<choose>
			<when test="res.date !=null and res.date !=''">
				hour,
			</when>
			<otherwise>
				date,
			</otherwise>
		</choose>
		sum(CASE r.operate_type when 1 then r.numbers else 0 end) sum1,
		sum(CASE r.operate_type when 2 then r.numbers else 0 end) sum2,
		sum(CASE r.operate_type when 3 then r.numbers else 0 end) sum3,
		sum(CASE r.operate_type when 4 then r.numbers else 0 end) sum4,
		sum(CASE r.operate_type when 5 then r.numbers else 0 end) sum5,
		sum(CASE r.operate_type when 6 then r.numbers else 0 end) sum6,
		sum(CASE r.operate_type when 7 then r.numbers else 0 end) sum7,
		sum(CASE r.operate_type when 8 then r.numbers else 0 end) sum8,
		sum(CASE r.operate_type when 9 then r.numbers else 0 end) sum9

		from rs_resources_statistics_sourcetype_use_hourly r left join
		resource_type rs on r.source_type_name = rs.resource_type_code
		where 1=1
		<if test="res.userId!=null and res.userId!=''">
			and r.user_id=#{res.userId}
		</if>
		<if test="res.source_db!=null and res.source_db!=''">
			and r.source_db=#{res.source_db}
		</if>
		<choose>
			<when test="res.product_source_code!=null and res.product_source_code !=''">
				and r.product_source_code= #{res.product_source_code}
			</when>
			<otherwise>
				and r.product_source_code in(select resource_id
				from wfks_pay_channel_resources wkfs where user_id = #{res.userId} )
			</otherwise>
		</choose>
		<if test="res.sourceTypeName!=null and res.sourceTypeName!=''">
			and r.source_type_name=#{res.sourceTypeName}
		</if>
		<if test="urls!=null and urls !=''">
			and operate_type in
			<foreach collection="urls"  item="item" open="("   separator="," close=")">
				#{item}
			</foreach>
		</if>
		<choose>
			<when test="res.date !=null and res.date !=''">
				and date = #{res.date}
				<if test="startTime!=null and startTime !=''">
					and r.hour <![CDATA[ >= ]]> #{startTime}
				</if>
				<if test="endTime!=null and endTime !=''">
					and r.hour <![CDATA[ <= ]]> #{endTime}
				</if>
			</when>
			<otherwise>
				<if test="startTime!=null and startTime !=''">
					and r.date <![CDATA[ >= ]]> #{startTime}
				</if>
				<if test="endTime!=null and endTime !=''">
					and r.date <![CDATA[ <= ]]> #{endTime}
				</if>
			</otherwise>
		</choose>
		group by
		<choose>
			<when test="res.date !=null and res.date !=''">
				hour
			</when>
			<otherwise>
				date
			</otherwise>
		</choose>
	</select>

	<select id="getChartMoreByIds" resultMap="BaseResultMap">
		SELECT
		<choose>
			<when test="res.date !=null and res.date !=''">
				hour,
			</when>
			<otherwise>
				date,
			</otherwise>
		</choose>
		sum(CASE r.operate_type when 1 then r.numbers else 0 end) sum1,
		sum(CASE r.operate_type when 2 then r.numbers else 0 end) sum2,
		sum(CASE r.operate_type when 3 then r.numbers else 0 end) sum3,
		sum(CASE r.operate_type when 4 then r.numbers else 0 end) sum4,
		sum(CASE r.operate_type when 5 then r.numbers else 0 end) sum5,
		sum(CASE r.operate_type when 6 then r.numbers else 0 end) sum6,
		sum(CASE r.operate_type when 7 then r.numbers else 0 end) sum7,
		sum(CASE r.operate_type when 8 then r.numbers else 0 end) sum8,
		sum(CASE r.operate_type when 9 then r.numbers else 0 end) sum9

		from rs_resources_statistics_sourcetype_use_hourly r left join
		resource_type rs on r.source_type_name = rs.resource_type_code
		where 1=1
		<if test="res.institutionName!=null and res.institutionName!=''">
			and r.institution=#{res.institutionName}
		</if>
		<if test="res.source_db!=null and res.source_db!=''">
			and r.source_db=#{res.source_db}
		</if>
		<choose>
			<when test="res.product_source_code!=null and res.product_source_code !=''">
				and r.product_source_code= #{res.product_source_code}
			</when>
			<otherwise>
				and r.product_source_code in(select resource_id
				from wfks_pay_channel_resources wkfs where user_id in
				<foreach collection="users" item="item" open="("   separator="," close=")">
					#{item}
				</foreach>
				)
			</otherwise>
		</choose>
		<if test="res.sourceTypeName!=null and res.sourceTypeName!=''">
			and r.source_type_name=#{res.sourceTypeName}
		</if>
		<if test="urls!=null and urls !=''">
			and operate_type in
			<foreach collection="urls"  item="item" open="("   separator="," close=")">
				#{item}
			</foreach>
		</if>
		<choose>
			<when test="res.date !=null and res.date !=''">
				and date = #{res.date}
				<if test="startTime!=null and startTime !=''">
					and r.hour <![CDATA[ >= ]]> #{startTime}
				</if>
				<if test="endTime!=null and endTime !=''">
					and r.hour <![CDATA[ <= ]]> #{endTime}
				</if>
			</when>
			<otherwise>
				<if test="startTime!=null and startTime !=''">
					and r.date <![CDATA[ >= ]]> #{startTime}
				</if>
				<if test="endTime!=null and endTime !=''">
					and r.date <![CDATA[ <= ]]> #{endTime}
				</if>
			</otherwise>
		</choose>
		group by
		<choose>
			<when test="res.date !=null and res.date !=''">
				hour
			</when>
			<otherwise>
				date
			</otherwise>
		</choose>
	</select>


	<select id="getLineAll" resultMap="BaseResultMap">
		SELECT rs.resource_type_name as sourceTypeName,r.source_type_name as resource_type_code,
		sum(CASE r.operate_type when 1 then r.numbers else 0 end) sum1,
		sum(CASE r.operate_type when 2 then r.numbers else 0 end) sum2,
		sum(CASE r.operate_type when 3 then r.numbers else 0 end) sum3,
		sum(CASE r.operate_type when 4 then r.numbers else 0 end) sum4,
		sum(CASE r.operate_type when 5 then r.numbers else 0 end) sum5,
		sum(CASE r.operate_type when 6 then r.numbers else 0 end) sum6,
		sum(CASE r.operate_type when 7 then r.numbers else 0 end) sum7,
		sum(CASE r.operate_type when 8 then r.numbers else 0 end) sum8,
		sum(CASE r.operate_type when 9 then r.numbers else 0 end) sum9

		from rs_resources_statistics_sourcetype_use_hourly r left join
		resource_type rs on r.source_type_name = rs.resource_type_code
		where 1=1
		<if test="res.source_db!=null and res.source_db!=''">
			and r.source_db=#{res.source_db}
		</if>
		<if test="res.product_source_code!=null and res.product_source_code!=''">
			and r.product_source_code=#{res.product_source_code}
		</if>
		<if test="res.sourceTypeName!=null and res.sourceTypeName!=''">
			and r.source_type_name=#{res.sourceTypeName}
		</if>
		<choose>
			<when test="res.date !=null and res.date !=''">
				and date = #{date}
				<if test="startTime!=null and startTime !=''">
					and r.hour <![CDATA[ >= ]]> #{startTime}
				</if>
				<if test="endTime!=null and endTime !=''">
					and r.hour <![CDATA[ <= ]]> #{endTime}
				</if>
			</when>
			<otherwise>
				<if test="startTime!=null and startTime !=''">
					and r.date <![CDATA[ >= ]]> #{startTime}
				</if>
				<if test="endTime!=null and endTime !=''">
					and r.date <![CDATA[ <= ]]> #{endTime}
				</if>
			</otherwise>
		</choose>
		group by r.source_type_name
	</select>

	<select id="getLineAllById" resultMap="BaseResultMap">
		SELECT rs.resource_type_name as sourceTypeName,r.source_type_name as resource_type_code,
		sum(CASE r.operate_type when 1 then r.numbers else 0 end) sum1,
		sum(CASE r.operate_type when 2 then r.numbers else 0 end) sum2,
		sum(CASE r.operate_type when 3 then r.numbers else 0 end) sum3,
		sum(CASE r.operate_type when 4 then r.numbers else 0 end) sum4,
		sum(CASE r.operate_type when 5 then r.numbers else 0 end) sum5,
		sum(CASE r.operate_type when 6 then r.numbers else 0 end) sum6,
		sum(CASE r.operate_type when 7 then r.numbers else 0 end) sum7,
		sum(CASE r.operate_type when 8 then r.numbers else 0 end) sum8,
		sum(CASE r.operate_type when 9 then r.numbers else 0 end) sum9

		from rs_resources_statistics_sourcetype_use_hourly r left join
		resource_type rs on r.source_type_name = rs.resource_type_code
		where 1=1
		<if test="res.userId!=null and res.userId!=''">
			and r.user_id=#{res.userId}
		</if>
		<if test="res.source_db!=null and res.source_db!=''">
			and r.source_db=#{res.source_db}
		</if>
		<choose>
			<when test="res.product_source_code!=null and res.product_source_code !=''">
				and r.product_source_code= #{res.product_source_code}
			</when>
			<otherwise>
				and r.product_source_code in(select resource_id
				from wfks_pay_channel_resources wkfs where user_id = #{res.userId} )
			</otherwise>
		</choose>
		<if test="res.sourceTypeName!=null and res.sourceTypeName!='' ">
			and r.source_type_name=#{res.sourceTypeName}
		</if>
		<choose>
			<when test="res.date !=null and res.date !=''">
				and date = #{date}
				<if test="startTime!=null and startTime !=''">
					and r.hour <![CDATA[ >= ]]> #{startTime}
				</if>
				<if test="endTime!=null and endTime !=''">
					and r.hour <![CDATA[ <= ]]> #{endTime}
				</if>
			</when>
			<otherwise>
				<if test="startTime!=null and startTime !=''">
					and r.date <![CDATA[ >= ]]> #{startTime}
				</if>
				<if test="endTime!=null and endTime !=''">
					and r.date <![CDATA[ <= ]]> #{endTime}
				</if>
			</otherwise>
		</choose>
		group by r.source_type_name
	</select>

	<select id="getLineAllByIds" resultMap="BaseResultMap">
		SELECT rs.resource_type_name as sourceTypeName,r.source_type_name as resource_type_code,
		sum(CASE r.operate_type when 1 then r.numbers else 0 end) sum1,
		sum(CASE r.operate_type when 2 then r.numbers else 0 end) sum2,
		sum(CASE r.operate_type when 3 then r.numbers else 0 end) sum3,
		sum(CASE r.operate_type when 4 then r.numbers else 0 end) sum4,
		sum(CASE r.operate_type when 5 then r.numbers else 0 end) sum5,
		sum(CASE r.operate_type when 6 then r.numbers else 0 end) sum6,
		sum(CASE r.operate_type when 7 then r.numbers else 0 end) sum7,
		sum(CASE r.operate_type when 8 then r.numbers else 0 end) sum8,
		sum(CASE r.operate_type when 9 then r.numbers else 0 end) sum9

		from rs_resources_statistics_sourcetype_use_hourly r left join
		resource_type rs on r.source_type_name = rs.resource_type_code
		where 1=1
		<if test="res.institutionName!=null and res.institutionName!=''">
			and r.institution=#{res.institutionName}
		</if>
		<if test="res.source_db!=null and res.source_db!=''">
			and r.source_db=#{res.source_db}
		</if>
		<choose>
			<when test="res.product_source_code!=null and res.product_source_code !=''">
				and r.product_source_code= #{res.product_source_code}
			</when>
			<otherwise>
				and r.product_source_code in(select resource_id
				from wfks_pay_channel_resources wkfs where user_id in
				<foreach collection="users" item="item" open="("   separator="," close=")">
					#{item}
				</foreach>
				)
			</otherwise>
		</choose>
		<if test="res.sourceTypeName!=null and res.sourceTypeName!='' ">
			and r.source_type_name=#{res.sourceTypeName}
		</if>
		<choose>
			<when test="res.date !=null and res.date !=''">
				and date = #{res.date}
				<if test="startTime!=null and startTime !=''">
					and r.hour <![CDATA[ >= ]]> #{startTime}
				</if>
				<if test="endTime!=null and endTime !=''">
					and r.hour <![CDATA[ <= ]]> #{endTime}
				</if>
			</when>
			<otherwise>
				<if test="startTime!=null and startTime !=''">
					and r.date <![CDATA[ >= ]]> #{startTime}
				</if>
				<if test="endTime!=null and endTime !=''">
					and r.date <![CDATA[ <= ]]> #{endTime}
				</if>
			</otherwise>
		</choose>
		group by r.source_type_name
	</select>


	<select id="getLineMoreAll" resultMap="BaseResultMap">
		SELECT rs.resource_type_name as sourceTypeName,r.source_type_name as resource_type_code,r.title,
		sum(CASE r.operate_type when 1 then r.numbers else 0 end) sum1,
		sum(CASE r.operate_type when 2 then r.numbers else 0 end) sum2,
		sum(CASE r.operate_type when 3 then r.numbers else 0 end) sum3,
		sum(CASE r.operate_type when 4 then r.numbers else 0 end) sum4,
		sum(CASE r.operate_type when 5 then r.numbers else 0 end) sum5,
		sum(CASE r.operate_type when 6 then r.numbers else 0 end) sum6,
		sum(CASE r.operate_type when 7 then r.numbers else 0 end) sum7,
		sum(CASE r.operate_type when 8 then r.numbers else 0 end) sum8,
		sum(CASE r.operate_type when 9 then r.numbers else 0 end) sum9

		from rs_resources_statistics_sourcetype_use_hourly r left join
		resource_type rs on r.source_type_name = rs.resource_type_code
		where 1=1
		<if test="res.source_db!=null and res.source_db!=''">
			and r.source_db=#{res.source_db}
		</if>
		<if test="res.product_source_code!=null and res.product_source_code!=''">
			and r.product_source_code=#{res.product_source_code}
		</if>
		<if test="res.sourceTypeName!=null and res.sourceTypeName!=''">
			and r.source_type_name=#{res.sourceTypeName}
		</if>
		<choose>
			<when test="res.date !=null and res.date !=''">
				and date = #{res.date}
				<if test="startTime!=null and startTime !=''">
					and r.hour <![CDATA[ >= ]]> #{startTime}
				</if>
				<if test="endTime!=null and endTime !=''">
					and r.hour <![CDATA[ <= ]]> #{endTime}
				</if>
			</when>
			<otherwise>
				<if test="startTime!=null and startTime !=''">
					and r.date <![CDATA[ >= ]]> #{startTime}
				</if>
				<if test="endTime!=null and endTime !=''">
					and r.date <![CDATA[ <= ]]> #{endTime}
				</if>
			</otherwise>
		</choose>
		group by r.title
	</select>

	<select id="getLineMoreAllById" resultMap="BaseResultMap">
		SELECT rs.resource_type_name as sourceTypeName,r.source_type_name as resource_type_code,r.title,
		sum(CASE r.operate_type when 1 then r.numbers else 0 end) sum1,
		sum(CASE r.operate_type when 2 then r.numbers else 0 end) sum2,
		sum(CASE r.operate_type when 3 then r.numbers else 0 end) sum3,
		sum(CASE r.operate_type when 4 then r.numbers else 0 end) sum4,
		sum(CASE r.operate_type when 5 then r.numbers else 0 end) sum5,
		sum(CASE r.operate_type when 6 then r.numbers else 0 end) sum6,
		sum(CASE r.operate_type when 7 then r.numbers else 0 end) sum7,
		sum(CASE r.operate_type when 8 then r.numbers else 0 end) sum8,
		sum(CASE r.operate_type when 9 then r.numbers else 0 end) sum9

		from rs_resources_statistics_sourcetype_use_hourly r left join
		resource_type rs on r.source_type_name = rs.resource_type_code
		where 1=1
		<if test="res.userId!=null and res.userId!=''">
			and r.user_id=#{res.userId}
		</if>
		<if test="res.source_db!=null and res.source_db!=''">
			and r.source_db=#{res.source_db}
		</if>
		<choose>
			<when test="res.product_source_code!=null and res.product_source_code !=''">
				and r.product_source_code= #{res.product_source_code}
			</when>
			<otherwise>
				and r.product_source_code in(select resource_id
				from wfks_pay_channel_resources wkfs where user_id = #{res.userId} )
			</otherwise>
		</choose>
		<if test="res.sourceTypeName!=null and res.sourceTypeName!='' ">
			and r.source_type_name=#{res.sourceTypeName}
		</if>
		<choose>
			<when test="res.date !=null and res.date !=''">
				and date = #{res.date}
				<if test="startTime!=null and startTime !=''">
					and r.hour <![CDATA[ >= ]]> #{startTime}
				</if>
				<if test="endTime!=null and endTime !=''">
					and r.hour <![CDATA[ <= ]]> #{endTime}
				</if>
			</when>
			<otherwise>
				<if test="startTime!=null and startTime !=''">
					and r.date <![CDATA[ >= ]]> #{startTime}
				</if>
				<if test="endTime!=null and endTime !=''">
					and r.date <![CDATA[ <= ]]> #{endTime}
				</if>
			</otherwise>
		</choose>
		group by r.title
	</select>

	<select id="getLineMoreAllByIds" resultMap="BaseResultMap">
		SELECT rs.resource_type_name as sourceTypeName,r.source_type_name as resource_type_code,r.title,
		sum(CASE r.operate_type when 1 then r.numbers else 0 end) sum1,
		sum(CASE r.operate_type when 2 then r.numbers else 0 end) sum2,
		sum(CASE r.operate_type when 3 then r.numbers else 0 end) sum3,
		sum(CASE r.operate_type when 4 then r.numbers else 0 end) sum4,
		sum(CASE r.operate_type when 5 then r.numbers else 0 end) sum5,
		sum(CASE r.operate_type when 6 then r.numbers else 0 end) sum6,
		sum(CASE r.operate_type when 7 then r.numbers else 0 end) sum7,
		sum(CASE r.operate_type when 8 then r.numbers else 0 end) sum8,
		sum(CASE r.operate_type when 9 then r.numbers else 0 end) sum9

		from rs_resources_statistics_sourcetype_use_hourly r left join
		resource_type rs on r.source_type_name = rs.resource_type_code
		where 1=1
		<if test="res.institutionName!=null and res.institutionName!=''">
			and r.institution=#{res.institutionName}
		</if>
		<if test="res.source_db!=null and res.source_db!=''">
			and r.source_db=#{res.source_db}
		</if>
		<choose>
			<when test="res.product_source_code!=null and res.product_source_code !=''">
				and r.product_source_code= #{res.product_source_code}
			</when>
			<otherwise>
				and r.product_source_code in(select resource_id
				from wfks_pay_channel_resources wkfs where user_id in
				<foreach collection="users" item="item" open="("   separator="," close=")">
					#{item}
				</foreach>
				)
			</otherwise>
		</choose>
		<if test="res.sourceTypeName!=null and res.sourceTypeName!=''">
			and r.source_type_name=#{res.sourceTypeName}
		</if>
		<choose>
			<when test="res.date !=null and res.date !=''">
				and date = #{res.date}
				<if test="startTime!=null and startTime !=''">
					and r.hour <![CDATA[ >= ]]> #{startTime}
				</if>
				<if test="endTime!=null and endTime !=''">
					and r.hour <![CDATA[ <= ]]> #{endTime}
				</if>
			</when>
			<otherwise>
				<if test="startTime!=null and startTime !=''">
					and r.date <![CDATA[ >= ]]> #{startTime}
				</if>
				<if test="endTime!=null and endTime !=''">
					and r.date <![CDATA[ <= ]]> #{endTime}
				</if>
			</otherwise>
		</choose>
		group by r.title
	</select>



	<select id="getTtitle" resultType="java.lang.String">
		SELECT
		rs.resource_type_name as sourceTypeName
		from rs_resources_statistics_sourcetype_use_hourly r left join
		resource_type rs on r.source_type_name = rs.resource_type_code
		where 1=1
		<if test="res.source_db!=null and res.source_db!=''">
			and r.source_db=#{res.source_db}
		</if>
		<if test="res.product_source_code!=null and res.product_source_code!=''">
			and r.product_source_code=#{res.product_source_code}
		</if>
		<if test="res.sourceTypeName!=null and res.sourceTypeName!='' ">
			and r.source_type_name=#{res.sourceTypeName}
		</if>
		<if test="urls!=null and urls !=''">
			and operate_type in
			<foreach collection="urls"  item="item" open="("   separator="," close=")">
				#{item}
			</foreach>
		</if>
		<if test="database_name!=null and database_name !=''">
			and r.source_type_name in
			<foreach collection="database_name"  item="item" open="("   separator="," close=")">
				#{item}
			</foreach>
		</if>
		<choose>
			<when test="res.date !=null and res.date !=''">
				and date = #{res.date}
				<if test="startTime!=null and startTime !=''">
					and r.hour <![CDATA[ >= ]]> #{startTime}
				</if>
				<if test="endTime!=null and endTime !=''">
					and r.hour <![CDATA[ <= ]]> #{endTime}
				</if>
			</when>
			<otherwise>
				<if test="startTime!=null and startTime !=''">
					and r.date <![CDATA[ >= ]]> #{startTime}
				</if>
				<if test="endTime!=null and endTime !=''">
					and r.date <![CDATA[ <= ]]> #{endTime}
				</if>
			</otherwise>
		</choose>
		group by resource_type_name
	</select>

	<select id="getTtitleById" resultType="java.lang.String">
		SELECT
		rs.resource_type_name as sourceTypeName
		from rs_resources_statistics_sourcetype_use_hourly r left join
		resource_type rs on r.source_type_name = rs.resource_type_code
		where 1=1
		<if test="res.userId!=null and res.userId!=''">
			and r.user_id=#{res.userId}
		</if>
		<if test="res.source_db!=null and res.source_db!=''">
			and r.source_db=#{res.source_db}
		</if>
		<choose>
			<when test="res.product_source_code!=null and res.product_source_code !=''">
				and r.product_source_code= #{res.product_source_code}
			</when>
			<otherwise>
				and r.product_source_code in(select resource_id
				from wfks_pay_channel_resources wkfs where user_id = #{res.userId} )
			</otherwise>
		</choose>
		<if test="res.sourceTypeName!=null and res.sourceTypeName!='' ">
			and r.source_type_name=#{res.sourceTypeName}
		</if>
		<if test="urls!=null and urls !=''">
			and operate_type in
			<foreach collection="urls"  item="item" open="("   separator="," close=")">
				#{item}
			</foreach>
		</if>
		<if test="database_name!=null and database_name !=''">
			and r.source_type_name in
			<foreach collection="database_name"  item="item" open="("   separator="," close=")">
				#{item}
			</foreach>
		</if>
		<choose>
			<when test="res.date !=null and res.date !=''">
				and date = #{date}
				<if test="startTime!=null and startTime !=''">
					and r.hour <![CDATA[ >= ]]> #{startTime}
				</if>
				<if test="endTime!=null and endTime !=''">
					and r.hour <![CDATA[ <= ]]> #{endTime}
				</if>
			</when>
			<otherwise>
				<if test="startTime!=null and startTime !=''">
					and r.date <![CDATA[ >= ]]> #{startTime}
				</if>
				<if test="endTime!=null and endTime !=''">
					and r.date <![CDATA[ <= ]]> #{endTime}
				</if>
			</otherwise>
		</choose>
		group by resource_type_name
	</select>

	<select id="getTtitleByIds" resultType="java.lang.String">
		SELECT
		rs.resource_type_name as sourceTypeName
		from rs_resources_statistics_sourcetype_use_hourly r left join
		resource_type rs on r.source_type_name = rs.resource_type_code
		where 1=1
		<if test="res.institutionName!=null and res.institutionName!=''">
			and r.institution=#{res.institutionName}
		</if>
		<if test="res.source_db!=null and res.source_db!=''">
			and r.source_db=#{res.source_db}
		</if>
		<choose>
			<when test="res.product_source_code!=null and res.product_source_code !=''">
				and r.product_source_code= #{res.product_source_code}
			</when>
			<otherwise>
				and r.product_source_code in(select resource_id
				from wfks_pay_channel_resources wkfs where user_id in
				<foreach collection="users" item="item" open="("   separator="," close=")">
					#{item}
				</foreach>
				)
			</otherwise>
		</choose>
		<if test="res.sourceTypeName!=null and res.sourceTypeName!=''">
			and r.source_type_name=#{res.sourceTypeName}
		</if>
		<if test="urls!=null and urls !=''">
			and operate_type in
			<foreach collection="urls"  item="item" open="("   separator="," close=")">
				#{item}
			</foreach>
		</if>
		<if test="database_name!=null and database_name !=''">
			and r.source_type_name in
			<foreach collection="database_name"  item="item" open="("   separator="," close=")">
				#{item}
			</foreach>
		</if>
		<choose>
			<when test="res.date !=null and res.date !=''">
				and date = #{res.date}
				<if test="startTime!=null and startTime !=''">
					and r.hour <![CDATA[ >= ]]> #{startTime}
				</if>
				<if test="endTime!=null and endTime !=''">
					and r.hour <![CDATA[ <= ]]> #{endTime}
				</if>
			</when>
			<otherwise>
				<if test="startTime!=null and startTime !=''">
					and r.date <![CDATA[ >= ]]> #{startTime}
				</if>
				<if test="endTime!=null and endTime !=''">
					and r.date <![CDATA[ <= ]]> #{endTime}
				</if>
			</otherwise>
		</choose>
		group by resource_type_name
	</select>


</mapper>