<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wf.dao.ResourceStatisticsHourMapper" >
  <resultMap id="BaseResultMap" type="com.wf.bean.ResourceStatisticsHour" >
    <result column="operate_type" property="operate_type" jdbcType="INTEGER" />
    <result column="institution_name" property="institutionName" jdbcType="VARCHAR" />
    <result column="source_type_name" property="sourceTypeName" jdbcType="VARCHAR" />
    <result column="source_db" property="sourceName" jdbcType="VARCHAR" />
    <result column="date" property="date" jdbcType="DATE" />
    <result column="hour" property="hour" jdbcType="VARCHAR" />
    <result column="numbers" property="numbers" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="title" property="title" jdbcType="VARCHAR" />
  </resultMap>
  
    <select id="getLine" resultMap="BaseResultMap">
	SELECT sum(numbers) numbers,date,source_type_name sourceTypeName,hour
	from rs_resources_statistics_sourcetype_use_hourly 
	where operate_type=#{res.operate_type} and date=#{date} 
	and source_type_name <![CDATA[<>]]> ''
	and operate_type <![CDATA[ <> ]]>'' 
	and source_type_name <![CDATA[ <> ]]>'全部'
	<if test="res.institutionName!=null and res.institutionName!=''">
		 and institution_name=#{res.institutionName}
	</if>
	<if test="res.userId!=null and res.userId!=''">
		 and user_id=#{res.userId}
	</if>
	<if test="res.source_db!=null and res.source_db!=''">
		 and source_db=#{res.source_db}
	</if>
	<if test="res.product_source_code!=null and res.product_source_code!=''">
		 and product_source_code=#{res.product_source_code}
	</if>
	<if test="res.sourceTypeName!=null and res.sourceTypeName!='' and res.sourceTypeName!='--请选择资源类型--'">
		 and source_type_name=#{res.sourceTypeName}
	</if>
	 group by source_type_name,hour order by date asc
  </select>
  
  <select id="getLine_IsInstitution" resultMap="BaseResultMap">
	SELECT sum(numbers) numbers,date,source_type_name sourceTypeName,hour
	from (select p.resource_id from wfks_pay_channel_resources p 
		left join user u on p.user_id=u.user_id where 1=1 and p.resource_id  <![CDATA[ <> ]]>  ''
	 <if test="res.institutionName!=null and res.institutionName!=''">
		 and u.institution=#{res.institutionName}
	</if>
	<if test="res.userId!=null and res.userId!=''">
		 and u.user_id=#{res.userId}
	</if>	
	group by p.resource_id) temp left join rs_resources_statistics_sourcetype_use_hourly s
	on temp.resource_id=s.product_source_code
	where 1=1 and operate_type=#{res.operate_type} 
	and operate_type<![CDATA[ <> ]]>'' 
	and source_type_name <![CDATA[ <> ]]>''
	and source_type_name <![CDATA[ <> ]]>'全部'
	<if test="res.userId!=null and res.userId!=''">
		 and s.user_id=#{res.userId}
	</if>
	<if test="res.source_db!=null and res.source_db!=''">
		 and s.source_db=#{res.source_db}
	</if>
	<if test="res.product_source_code!=null and res.product_source_code!=''">
		 and s.product_source_code=#{res.product_source_code}
	</if>
	<if test="res.sourceTypeName!=null and res.sourceTypeName!='' and res.sourceTypeName!='--请选择资源类型--'">
		 and s.source_type_name=#{res.sourceTypeName}
	</if>
	<if test="starttime!=null and starttime!=''">
		 and s.date &gt;= #{starttime}
	</if>
	<if test="endtime!=null and endtime!=''">
		 and s.date &lt;= #{endtime}
	</if>
	 group by source_type_name,hour order by date asc
  </select>
  
  
   <select id="getLineByCheckMore" resultMap="BaseResultMap">
	SELECT sum(numbers) numbers,date,source_type_name sourceTypeName,hour
	from rs_resources_statistics_sourcetype_use_hourly 
	where operate_type=#{res.operate_type} and date=#{date} and 
	and source_type_name <![CDATA[<>]]> ''
	and operate_type <![CDATA[ <> ]]>'' 
	and source_type_name <![CDATA[ <> ]]>'全部'
	<if test="res.institutionName!=null and res.institutionName!=''">
		 and institution_name=#{res.institutionName}
	</if>
	<if test="res.userId!=null and res.userId!=''">
		 and user_id=#{res.userId}
	</if>
	<if test="res.source_db!=null and res.source_db!=''">
		 and source_db=#{res.source_db}
	</if>
	<if test="res.product_source_code!=null and res.product_source_code!=''">
		 and product_source_code=#{res.product_source_code}
	</if>
	<if test="sourceTypeName!=null">
		 and source_type_name in
		 <foreach collection="sourceTypeName" index="index" item="item" open="(" separator="," close=")">
		 	#{item}
		 </foreach>
	</if>
	 group by source_type_name,hour order by date asc
  </select>
  
  
  <select id="getLineByCheckMore_IsInstitution" resultMap="BaseResultMap">
	SELECT sum(numbers) numbers,date,source_type_name sourceTypeName,hour
	from (select p.resource_id from wfks_pay_channel_resources p 
		left join user u on p.user_id=u.user_id where 1=1 and p.resource_id  <![CDATA[ <> ]]>  ''
	 <if test="res.institutionName!=null and res.institutionName!=''">
		 and u.institution=#{res.institutionName}
	</if>
	<if test="res.userId!=null and res.userId!=''">
		 and u.user_id=#{res.userId}
	</if>	
	group by p.resource_id) temp left join rs_resources_statistics_sourcetype_use_hourly  s
	on temp.resource_id=s.product_source_code
	where 1=1 
	and operate_type=#{res.operate_type}
	and operate_type<![CDATA[ <> ]]>'' 
	and source_type_name <![CDATA[ <> ]]>''
	and source_type_name <![CDATA[ <> ]]>'全部'
	<if test="res.userId!=null and res.userId!=''">
		 and s.user_id=#{res.userId}
	</if>
	<if test="res.source_db!=null and res.source_db!=''">
		 and s.source_db=#{res.source_db}
	</if>
	<if test="res.product_source_code!=null and res.product_source_code!=''">
		 and s.product_source_code=#{res.product_source_code}
	</if>
	<if test="sourceTypeName!=null">
		 and s.source_type_name in
		 <foreach collection="sourceTypeName" index="index" item="item" open="(" separator="," close=")">
		    #{item}
		 </foreach>
	</if>
	<if test="starttime!=null and starttime!=''">
		 and s.date &gt;= #{starttime}
	</if>
	<if test="endtime!=null and endtime!=''">
		 and s.date &lt;= #{endtime}
	</if>
	 group by source_type_name,hour order by date asc
  </select>
  
  
   <select id="getLineMore" resultMap="BaseResultMap">
	SELECT sum(numbers) numbers,date,source_type_name sourceTypeName,hour,operate_type
	from rs_resources_statistics_sourcetype_use_hourly 
	where  date=#{date} 
	and operate_type <![CDATA[ <> ]]>'' 
	and source_type_name <![CDATA[ <> ]]>'' 
	and source_type_name <![CDATA[ <> ]]>'全部'
	<if test="urls!=null">
		and operate_type in(
	<foreach collection="urls" item="item" index="index" separator=",">  
    #{item}
	</foreach>
	)
	</if>
	<if test="res.institutionName!=null and res.institutionName!=''">
		 and institution_name=#{res.institutionName}
	</if>
	<if test="res.userId!=null and res.userId!=''">
		 and user_id=#{res.userId}
	</if>
	<if test="res.source_db!=null and res.source_db!=''">
		 and source_db=#{res.source_db}
	</if>
	<if test="res.product_source_code!=null and res.product_source_code!=''">
		 and product_source_code=#{res.product_source_code}
	</if>
	<if test="res.sourceTypeName!=null and res.sourceTypeName!='' and res.sourceTypeName!='--请选择资源类型--'">
		 and source_type_name=#{res.sourceTypeName}
	</if>
	 group by source_type_name,hour,operate_type order by date asc
  </select>
  
  
   <select id="getLineMore_IsInstitution" resultMap="BaseResultMap">
	SELECT sum(numbers) numbers,date,source_type_name sourceTypeName,hour,operate_type
	from (select p.resource_id from wfks_pay_channel_resources p 
		left join user u on p.user_id=u.user_id where 1=1 and p.resource_id  <![CDATA[ <> ]]>  ''
	 <if test="res.institutionName!=null and res.institutionName!=''">
		 and u.institution=#{res.institutionName}
	</if>
	<if test="res.userId!=null and res.userId!=''">
		 and u.user_id=#{res.userId}
	</if>	
	group by p.resource_id) temp left join rs_resources_statistics_sourcetype_use_hourly  s
	on temp.resource_id=s.product_source_code
	where 1=1 
	and operate_type<![CDATA[ <> ]]>''
	and source_type_name <![CDATA[ <> ]]>''
	and source_type_name <![CDATA[ <> ]]>'全部'
	<if test="urls!=null">
		and s.operate_type in(
	<foreach collection="urls" item="item" index="index" separator=",">  
    	#{item}
	</foreach>
		)
	</if>
	<if test="res.userId!=null and res.userId!=''">
		 and s.user_id=#{res.userId}
	</if>
	<if test="res.source_db!=null and res.source_db!=''">
		 and s.source_db=#{res.source_db}
	</if>
	<if test="res.product_source_code!=null and res.product_source_code!=''">
		 and s.product_source_code=#{res.product_source_code}
	</if>
	<if test="res.sourceTypeName!=null and res.sourceTypeName!='' and res.sourceTypeName!='--请选择资源类型--'">
		 and s.source_type_name=#{res.sourceTypeName}
	</if>
	<if test="starttime!=null and starttime!=''">
		 and s.date &gt;= #{starttime}
	</if>
	<if test="endtime!=null and endtime!=''">
		 and s.date &lt;= #{endtime}
	</if>
	 group by s.source_type_name,s.hour,s.operate_type order by s.date asc
  </select>
  
  
  
  
   <select id="getLineMoreByCheckMore" resultMap="BaseResultMap">
	SELECT sum(numbers) numbers,date,source_type_name sourceTypeName,hour,operate_type
	from rs_resources_statistics_sourcetype_use_hourly 
	where  date=#{date} and  
	operate_type <![CDATA[ <> ]]>'' 
	and source_type_name <![CDATA[ <> ]]>'' 
	and source_type_name <![CDATA[ <> ]]>'全部'
	<if test="urls!=null">
		and operate_type in(
	<foreach collection="urls" item="item" index="index" separator=",">  
    #{item}
	</foreach>
	)
	</if>
	<if test="res.institutionName!=null and res.institutionName!=''">
		 and institution_name=#{res.institutionName}
	</if>
	<if test="res.userId!=null and res.userId!=''">
		 and user_id=#{res.userId}
	</if>
	<if test="res.source_db!=null and res.source_db!=''">
		 and source_db=#{res.source_db}
	</if>
	<if test="res.product_source_code!=null and res.product_source_code!=''">
		 and product_source_code=#{res.product_source_code}
	</if>
	<if test="sourceTypeName!=null">
		and source_type_name in
		<foreach collection="sourceTypeName" index="index" item="item" open="(" separator="," close=")">
		     #{item}
		</foreach>
	</if>
	 group by source_type_name,hour,operate_type order by date asc
  </select>
  
    <select id="getLineMoreByCheckMore_IsInstitution" resultMap="BaseResultMap">
	SELECT sum(numbers) numbers,date,source_type_name sourceTypeName,hour,operate_type
	from (select p.resource_id from wfks_pay_channel_resources p 
		left join user u on p.user_id=u.user_id where 1=1 and p.resource_id  <![CDATA[ <> ]]>  ''
	 <if test="res.institutionName!=null and res.institutionName!=''">
		 and u.institution=#{res.institutionName}
	</if>
	<if test="res.userId!=null and res.userId!=''">
		 and u.user_id=#{res.userId}
	</if>	
	group by p.resource_id) temp left join rs_resources_statistics_sourcetype_use_hourly s
	on temp.resource_id=s.product_source_code
	where 1=1 and 
	operate_type <![CDATA[ <> ]]>'' 
	and source_type_name <![CDATA[ <> ]]>''
	and source_type_name <![CDATA[ <> ]]>'全部'
	<if test="sourceTypeName!=null">
		 and source_type_name in
		 <foreach collection="sourceTypeName" index="index" item="item" open="(" separator="," close=")">
		    #{item}
		 </foreach>
	</if>
	
	<if test="urls!=null">
		and s.operate_type in(
	<foreach collection="urls" item="item" index="index" separator=",">  
    	#{item}
	</foreach>
	)
	</if>
	<if test="res.userId!=null and res.userId!=''">
		 and s.user_id=#{res.userId}
	</if>
	<if test="res.source_db!=null and res.source_db!=''">
		 and s.source_db=#{res.source_db}
	</if>
	<if test="res.product_source_code!=null and res.product_source_code!=''">
		 and s.product_source_code=#{res.product_source_code}
	</if>
	<if test="starttime!=null and starttime!=''">
		 and s.date &gt;= #{starttime}
	</if>
	<if test="endtime!=null and endtime!=''">
		 and s.date &lt;= #{endtime}
	</if>
	 group by s.source_type_name,s.hour,s.operate_type order by s.date asc
  </select>
  
  
  
  <select id="gethourtable" resultMap="BaseResultMap">
  	select sum(numbers) numbers ,operate_type,source_db,source_type_name,hour
  	from rs_resources_statistics_sourcetype_use_hourly
  	where date=#{date} and  operate_type <![CDATA[ <> ]]>'' 
	and source_type_name <![CDATA[ <> ]]>'' 
	and source_type_name <![CDATA[ <> ]]>'全部'
  	<if test="res.institutionName!=null and res.institutionName!=''">
		 and institution_name=#{res.institutionName}
	</if>
	<if test="res.userId!=null and res.userId!=''">
		 and user_id=#{res.userId}
	</if>
	<if test="res.source_db!=null and res.source_db!=''">
		 and source_db=#{res.source_db}
	</if>
	<if test="res.product_source_code!=null and res.product_source_code!=''">
		 and product_source_code=#{res.product_source_code}
	</if>
	<if test="res.sourceTypeName!=null and res.sourceTypeName!='' and res.sourceTypeName!='--请选择资源类型--'">
		 and source_type_name=#{res.sourceTypeName}
	</if>
	GROUP BY operate_type,source_type_name order by operate_type
  </select>
  
  
  <select id='gethourtable_IsInstitution' resultMap="BaseResultMap">
  	select sum(numbers) numbers ,operate_type,source_db,source_type_name,hour
  	  from (select p.resource_id from wfks_pay_channel_resources p 
		left join user u on p.user_id=u.user_id where 1=1 and p.resource_id  <![CDATA[ <> ]]>  ''
	 <if test="res.institutionName!=null and res.institutionName!=''">
		 and u.institution=#{res.institutionName}
	</if>
	<if test="res.userId!=null and res.userId!=''">
		 and u.user_id=#{res.userId}
	</if>	
	group by p.resource_id) temp left join rs_resources_statistics_sourcetype_use_hourly s
	on temp.resource_id=s.product_source_code
	where 1=1 
	and operate_type<![CDATA[ <> ]]>'' 
	and source_type_name <![CDATA[ <> ]]>''
	and source_type_name <![CDATA[ <> ]]>'全部'
	<if test="res.userId!=null and res.userId!=''">
		 and s.user_id=#{res.userId}
	</if>
	<if test="res.source_db!=null and res.source_db!=''">
		 and s.source_db=#{res.source_db}
	</if>
	<if test="res.product_source_code!=null and res.product_source_code!=''">
		 and s.product_source_code=#{res.product_source_code}
	</if>
	<if test="res.sourceTypeName!=null and res.sourceTypeName!='' and res.sourceTypeName!='--请选择资源类型--'">
		 and s.source_type_name=#{res.sourceTypeName}
	</if>
	<if test="starttime!=null and starttime!=''">
		 and s.date &gt;= #{starttime}
	</if>
	<if test="endtime!=null and endtime!=''">
		 and s.date &lt;= #{endtime}
	</if>
	GROUP BY s.operate_type,s.source_type_name order by s.operate_type
  </select>
  
  <select id='gethouronetable' resultMap="BaseResultMap">
 	 SELECT sum(numbers) numbers,source_db,operate_type,source_type_name,title,hour
	from rs_resources_statistics_sourcetype_use_hourly
	where date=#{date}
	and operate_type<![CDATA[ <> ]]>'' 
	and source_type_name <![CDATA[ <> ]]>''
	and source_type_name <![CDATA[ <> ]]>'全部'
	<if test="res.institutionName!=null and res.institutionName!=''">
		 and institution_name=#{res.institutionName}
	</if>
	<if test="res.userId!=null and res.userId!=''">
		 and user_id=#{res.userId}
	</if>
	<if test="res.source_db!=null and res.source_db!=''">
		 and source_db=#{res.source_db}
	</if>
	<if test="res.product_source_code!=null and res.product_source_code!=''">
		 and product_source_code=#{res.product_source_code}
	</if>
	<if test="res.sourceTypeName!=null and res.sourceTypeName!='' and res.sourceTypeName!='--请选择资源类型--'">
		 and source_type_name=#{res.sourceTypeName}
	</if>
	group by operate_type,source_type_name,title
  </select>
  
  <select id='gethouronetable_IsInstitution' resultMap="BaseResultMap">
  	 SELECT sum(numbers) numbers,source_db,operate_type,source_type_name,title,hour
	from (select p.resource_id from wfks_pay_channel_resources p 
		left join user u on p.user_id=u.user_id where 1=1 and p.resource_id  <![CDATA[ <> ]]>  ''
	 <if test="res.institutionName!=null and res.institutionName!=''">
		 and u.institution=#{res.institutionName}
	</if>
	<if test="res.userId!=null and res.userId!=''">
		 and u.user_id=#{res.userId}
	</if>	
	group by p.resource_id) temp left join rs_resources_statistics_sourcetype_use_hourly s
	on temp.resource_id=s.product_source_code
	where 1=1 
	and operate_type<![CDATA[ <> ]]>''
	and source_type_name <![CDATA[ <> ]]>''
	and source_type_name <![CDATA[ <> ]]>'全部'
	<if test="res.userId!=null and res.userId!=''">
		 and s.user_id=#{res.userId}
	</if>
	<if test="res.source_db!=null and res.source_db!=''">
		 and s.source_db=#{res.source_db}
	</if>
	<if test="res.product_source_code!=null and res.product_source_code!=''">
		 and s.product_source_code=#{res.product_source_code}
	</if>
	<if test="res.sourceTypeName!=null and res.sourceTypeName!='' and res.sourceTypeName!='--请选择资源类型--'">
		 and s.source_type_name=#{res.sourceTypeName}
	</if>
	<if test="starttime!=null and starttime!=''">
		 and s.date &gt;= #{starttime}
	</if>
	<if test="endtime!=null and endtime!=''">
		 and s.date &lt;= #{endtime}
	</if>
	group by s.operate_type,s.source_type_name,s.title
  </select>
  
  
  
  <!--=========================按天查询=========================-->
  
  
  <select id="getLine_day" resultMap="BaseResultMap">
	SELECT sum(numbers) numbers,date,source_type_name sourceTypeName
	from rs_resources_statistics_sourcetype_use_hourly 
	where operate_type=#{res.operate_type} 
	and operate_type<![CDATA[ <> ]]>'' 
	and source_type_name <![CDATA[ <> ]]>''
	and source_type_name <![CDATA[ <> ]]>'全部'
	<if test="res.institutionName!=null and res.institutionName!=''">
		 and institution_name=#{res.institutionName}
	</if>
	<if test="res.userId!=null and res.userId!=''">
		 and user_id=#{res.userId}
	</if>
	<if test="res.source_db!=null and res.source_db!=''">
		 and source_db=#{res.source_db}
	</if>
	<if test="res.product_source_code!=null and res.product_source_code!=''">
		 and product_source_code=#{res.product_source_code}
	</if>
	<if test="res.sourceTypeName!=null and res.sourceTypeName!='' and res.sourceTypeName!='--请选择资源类型--'">
		 and source_type_name=#{res.sourceTypeName}
	</if>
	<if test="starttime!=null and starttime!=''">
		 and date &gt;= #{starttime}
	</if>
	<if test="endtime!=null and endtime!=''">
		 and date &lt;= #{endtime}
	</if>
	 group by source_type_name,date order by date asc
  </select>
  
  <select id='getLine_IsInstitution_day' resultMap="BaseResultMap">
  	SELECT sum(numbers) numbers,date,source_type_name sourceTypeName
	from (select p.resource_id from wfks_pay_channel_resources p 
		left join user u on p.user_id=u.user_id where 1=1 and p.resource_id  <![CDATA[ <> ]]>  ''
	 <if test="res.institutionName!=null and res.institutionName!=''">
		 and u.institution=#{res.institutionName}
	</if>
	<if test="res.userId!=null and res.userId!=''">
		 and u.user_id=#{res.userId}
	</if>	
	group by p.resource_id) temp left join rs_resources_statistics_sourcetype_use_hourly s
	on temp.resource_id=s.product_source_code
	where 1=1 and operate_type=#{res.operate_type} 
	and operate_type<![CDATA[ <> ]]>'' 
	and source_type_name <![CDATA[ <> ]]>''
	and source_type_name <![CDATA[ <> ]]>'全部'
	<if test="res.userId!=null and res.userId!=''">
		 and s.user_id=#{res.userId}
	</if>
	<if test="res.source_db!=null and res.source_db!=''">
		 and s.source_db=#{res.source_db}
	</if>
	<if test="res.product_source_code!=null and res.product_source_code!=''">
		 and s.product_source_code=#{res.product_source_code}
	</if>
	<if test="res.sourceTypeName!=null and res.sourceTypeName!='' and res.sourceTypeName!='--请选择资源类型--'">
		 and s.source_type_name=#{res.sourceTypeName}
	</if>
	<if test="starttime!=null and starttime!=''">
		 and s.date &gt;= #{starttime}
	</if>
	<if test="endtime!=null and endtime!=''">
		 and s.date &lt;= #{endtime}
	</if>
	 group by s.source_type_name,s.date order by s.date asc
  </select>
  
  <select id="getLineByCheckMore_day" resultMap="BaseResultMap">
	SELECT sum(numbers) numbers,date,source_type_name sourceTypeName
	from rs_resources_statistics_sourcetype_use_hourly 
	where operate_type=#{res.operate_type} 
	and operate_type<![CDATA[ <> ]]>'' 
	and source_type_name <![CDATA[ <> ]]>''
	and source_type_name <![CDATA[ <> ]]>'全部'
	<if test="res.institutionName!=null and res.institutionName!=''">
		 and institution_name=#{res.institutionName}
	</if>
	<if test="res.userId!=null and res.userId!=''">
		 and user_id=#{res.userId}
	</if>
	<if test="res.source_db!=null and res.source_db!=''">
		 and source_db=#{res.source_db}
	</if>
	<if test="res.product_source_code!=null and res.product_source_code!=''">
		 and product_source_code=#{res.product_source_code}
	</if>
	<if test="sourceTypeName!=null">
		 and source_type_name in
		 <foreach collection="sourceTypeName" index="index" item="item" open="(" separator="," close=")">
		    #{item}
		 </foreach>
	</if>
	<if test="starttime!=null and starttime!=''">
		 and date &gt;= #{starttime}
	</if>
	<if test="endtime!=null and endtime!=''">
		 and date &lt;= #{endtime}
	</if>
	 group by source_type_name,date order by date asc
  </select>
  
  <select id="getLineByCheckMore_IsInstitution_day" resultMap="BaseResultMap">
	SELECT sum(numbers) numbers,date,source_type_name sourceTypeName
	from (select p.resource_id from wfks_pay_channel_resources p 
		left join user u on p.user_id=u.user_id where 1=1 and p.resource_id  <![CDATA[ <> ]]>  ''
	 <if test="res.institutionName!=null and res.institutionName!=''">
		 and u.institution=#{res.institutionName}
	</if>
	<if test="res.userId!=null and res.userId!=''">
		 and u.user_id=#{res.userId}
	</if>	
	group by p.resource_id) temp left join rs_resources_statistics_sourcetype_use_hourly s
	on temp.resource_id=s.product_source_code
	where 1=1 and operate_type<![CDATA[ <> ]]>'' 
	and operate_type=#{res.operate_type}
	and source_type_name <![CDATA[ <> ]]>''
	and source_type_name <![CDATA[ <> ]]>'全部'
	<if test="res.userId!=null and res.userId!=''">
		 and s.user_id=#{res.userId}
	</if>
	<if test="res.source_db!=null and res.source_db!=''">
		 and s.source_db=#{res.source_db}
	</if>
	<if test="res.product_source_code!=null and res.product_source_code!=''">
		 and s.product_source_code=#{res.product_source_code}
	</if>
	<if test="sourceTypeName!=null">
		 and s.source_type_name in
		 <foreach collection="sourceTypeName" index="index" item="item" open="(" separator="," close=")">
		    #{item}
		 </foreach>
	</if>
	<if test="starttime!=null and starttime!=''">
		 and s.date &gt;= #{starttime}
	</if>
	<if test="endtime!=null and endtime!=''">
		 and s.date &lt;= #{endtime}
	</if>
	 group by s.source_type_name,s.date order by s.date asc
  </select>
  
  <select id="gettable_day" resultMap="BaseResultMap">
  	select sum(numbers) numbers ,operate_type,source_db,source_type_name from rs_resources_statistics_sourcetype_use_hourly
  	where 1=1  
  	and operate_type<![CDATA[ <> ]]>'' 
  	and source_type_name <![CDATA[ <> ]]>''
	and source_type_name <![CDATA[ <> ]]>'全部'
  	<if test="res.institutionName!=null and res.institutionName!=''">
		 and institution_name=#{res.institutionName}
	</if>
	<if test="res.userId!=null and res.userId!=''">
		 and user_id=#{res.userId}
	</if>
	<if test="res.source_db!=null and res.source_db!=''">
		 and source_db=#{res.source_db}
	</if>
	<if test="res.product_source_code!=null and res.product_source_code!=''">
		 and product_source_code=#{res.product_source_code}
	</if>
	<if test="res.sourceTypeName!=null and res.sourceTypeName!='' and res.sourceTypeName!='--请选择资源类型--'">
		 and source_type_name=#{res.sourceTypeName}
	</if>
	<if test="starttime!=null and starttime!=''">
		 and date &gt;= #{starttime}
	</if>
	<if test="endtime!=null and endtime!=''">
		 and date &lt;= #{endtime}
	</if>
	GROUP BY operate_type,source_type_name order by operate_type
  </select>
  
  <select id='gettable_IsInstitution_day' resultMap="BaseResultMap">
  	select sum(numbers) numbers ,operate_type,source_db,source_type_name
  	  from (select p.resource_id from wfks_pay_channel_resources p 
		left join user u on p.user_id=u.user_id where 1=1 and p.resource_id  <![CDATA[ <> ]]>  ''
	 <if test="res.institutionName!=null and res.institutionName!=''">
		 and u.institution=#{res.institutionName}
	</if>
	<if test="res.userId!=null and res.userId!=''">
		 and u.user_id=#{res.userId}
	</if>	
	group by p.resource_id) temp left join rs_resources_statistics_sourcetype_use_hourly s
	on temp.resource_id=s.product_source_code
	where 1=1 
	and operate_type<![CDATA[ <> ]]>'' 
	and source_type_name <![CDATA[ <> ]]>''
	and source_type_name <![CDATA[ <> ]]>'全部'
	<if test="res.userId!=null and res.userId!=''">
		 and s.user_id=#{res.userId}
	</if>
	<if test="res.source_db!=null and res.source_db!=''">
		 and s.source_db=#{res.source_db}
	</if>
	<if test="res.product_source_code!=null and res.product_source_code!=''">
		 and s.product_source_code=#{res.product_source_code}
	</if>
	<if test="res.sourceTypeName!=null and res.sourceTypeName!='' and res.sourceTypeName!='--请选择资源类型--'">
		 and s.source_type_name=#{res.sourceTypeName}
	</if>
	<if test="starttime!=null and starttime!=''">
		 and s.date &gt;= #{starttime}
	</if>
	<if test="endtime!=null and endtime!=''">
		 and s.date &lt;= #{endtime}
	</if>
	GROUP BY s.operate_type,s.source_type_name order by s.operate_type
  </select>
  
  <select id='getonetable_day' resultMap="BaseResultMap">
 	 SELECT sum(numbers) numbers,source_db,operate_type,source_type_name,title
	from rs_resources_statistics_sourcetype_use_hourly 
	where 1=1 
	and  operate_type <![CDATA[ <> ]]>'' 
	and source_type_name <![CDATA[ <> ]]>''
	and source_type_name <![CDATA[ <> ]]>'全部'
	<if test="res.institutionName!=null and res.institutionName!=''">
		 and institution_name=#{res.institutionName}
	</if>
	<if test="res.userId!=null and res.userId!=''">
		 and user_id=#{res.userId}
	</if>
	<if test="res.source_db!=null and res.source_db!=''">
		 and source_db=#{res.source_db}
	</if>
	<if test="res.product_source_code!=null and res.product_source_code!=''">
		 and product_source_code=#{res.product_source_code}
	</if>
	<if test="res.sourceTypeName!=null and res.sourceTypeName!='' and res.sourceTypeName!='--请选择资源类型--'">
		 and source_type_name=#{res.sourceTypeName}
	</if>
	<if test="starttime!=null and starttime!=''">
		 and date &gt; #{starttime}
	</if>
	<if test="endtime!=null and endtime!=''">
		 and date &lt; #{endtime}
	</if>
	group by operate_type,source_type_name,title
  </select>
  
  
  <select id='getonetable_IsInstitution_day' resultMap="BaseResultMap">
 	 SELECT sum(numbers) numbers,source_db,operate_type,source_type_name,s.title
	from (select p.resource_id from wfks_pay_channel_resources p 
		left join user u on p.user_id=u.user_id where 1=1 and p.resource_id  <![CDATA[ <> ]]>  ''
	 <if test="res.institutionName!=null and res.institutionName!=''">
		 and u.institution=#{res.institutionName}
	</if>
	<if test="res.userId!=null and res.userId!=''">
		 and u.user_id=#{res.userId}
	</if>	
	group by p.resource_id) temp left join rs_resources_statistics_sourcetype_use_hourly s
	on temp.resource_id=s.product_source_code
	where 1=1 
	and operate_type<![CDATA[ <> ]]>'' 
	and source_type_name <![CDATA[ <> ]]>''
	and source_type_name <![CDATA[ <> ]]>'全部'
	<if test="res.userId!=null and res.userId!=''">
		 and s.user_id=#{res.userId}
	</if>
	<if test="res.source_db!=null and res.source_db!=''">
		 and s.source_db=#{res.source_db}
	</if>
	<if test="res.product_source_code!=null and res.product_source_code!=''">
		 and s.product_source_code=#{res.product_source_code}
	</if>
	<if test="res.sourceTypeName!=null and res.sourceTypeName!='' and res.sourceTypeName!='--请选择资源类型--'">
		 and s.source_type_name=#{res.sourceTypeName}
	</if>
	<if test="starttime!=null and starttime!=''">
		 and s.date &gt;= #{starttime}
	</if>
	<if test="endtime!=null and endtime!=''">
		 and s.date &lt;= #{endtime}
	</if>
	group by s.operate_type,s.source_type_name,s.title
  </select>
  
  
  <select id="getLineMore_day" resultMap="BaseResultMap">
	SELECT sum(numbers) numbers,date,source_type_name sourceTypeName,operate_type 
	from rs_resources_statistics_sourcetype_use_hourly
	where source_type_name=#{res.sourceTypeName}
	and operate_type <![CDATA[ <> ]]>'' 
	and source_type_name <![CDATA[ <> ]]>''
	and source_type_name <![CDATA[ <> ]]>'全部'
	<if test="urls!=null">
		and operate_type in(
	<foreach collection="urls" item="item" index="index" separator=",">  
    	#{item}
	</foreach>
	)
	</if>
	<if test="res.institutionName!=null and res.institutionName!=''">
		 and institution_name=#{res.institutionName}
	</if>
	<if test="res.userId!=null and res.userId!=''">
		 and user_id=#{res.userId}
	</if>
	<if test="res.source_db!=null and res.source_db!=''">
		 and source_db=#{res.source_db}
	</if>
	<if test="res.product_source_code!=null and res.product_source_code!=''">
		 and product_source_code=#{res.product_source_code}
	</if>
	<if test="starttime!=null and starttime!=''">
		 and date &gt;= #{starttime}
	</if>
	<if test="endtime!=null and endtime!=''">
		 and date &lt;= #{endtime}
	</if>
	 group by source_type_name,operate_type,date order by date asc
  </select>
  
  
  <select id='getLineMore_IsInstitution_day' resultMap="BaseResultMap">
  	SELECT sum(numbers) numbers,date,source_type_name sourceTypeName,operate_type
  	from (select p.resource_id from wfks_pay_channel_resources p 
		left join user u on p.user_id=u.user_id where 1=1 and p.resource_id  <![CDATA[ <> ]]>  ''
	 <if test="res.institutionName!=null and res.institutionName!=''">
		 and u.institution=#{res.institutionName}
	</if>
	<if test="res.userId!=null and res.userId!=''">
		 and u.user_id=#{res.userId}
	</if>	
	group by p.resource_id) temp left join rs_resources_statistics_sourcetype_use_hourly s
	on temp.resource_id=s.product_source_code
	where 1=1 and operate_type<![CDATA[ <> ]]>''
	and source_type_name <![CDATA[ <> ]]>''
	and source_type_name <![CDATA[ <> ]]>'全部'
	<if test="urls!=null">
		and s.operate_type in(
	<foreach collection="urls" item="item" index="index" separator=",">  
    	#{item}
	</foreach>
		)
	</if>
	<if test="res.userId!=null and res.userId!=''">
		 and s.user_id=#{res.userId}
	</if>
	<if test="res.source_db!=null and res.source_db!=''">
		 and s.source_db=#{res.source_db}
	</if>
	<if test="res.product_source_code!=null and res.product_source_code!=''">
		 and s.product_source_code=#{res.product_source_code}
	</if>
	<if test="res.sourceTypeName!=null and res.sourceTypeName!='' and res.sourceTypeName!='--请选择资源类型--'">
		 and s.source_type_name=#{res.sourceTypeName}
	</if>
	<if test="starttime!=null and starttime!=''">
		 and s.date &gt;= #{starttime}
	</if>
	<if test="endtime!=null and endtime!=''">
		 and s.date &lt;= #{endtime}
	</if>
	 group by s.source_type_name,s.operate_type,s.date order by s.date asc
  </select>
  
   <select id="getLineMoreByCheckMore_day" resultMap="BaseResultMap">
	SELECT sum(numbers) numbers,date,source_type_name sourceTypeName,operate_type 
	from rs_resources_statistics_sourcetype_use_hourly
	where 1=1
	and operate_type <![CDATA[ <> ]]>''
	and source_type_name <![CDATA[ <> ]]>''
	and source_type_name <![CDATA[ <> ]]>'全部'
	<if test="sourceTypeName!=null">
		 and source_type_name in
		 <foreach collection="sourceTypeName" index="index" item="item" open="(" separator="," close=")">
		    #{item}
		 </foreach>
	</if>
	
	<if test="urls!=null">
		and operate_type in(
	<foreach collection="urls" item="item" index="index" separator=",">  
    	#{item}
	</foreach>
	)
	</if>
	<if test="res.institutionName!=null and res.institutionName!=''">
		 and institution_name=#{res.institutionName}
	</if>
	<if test="res.userId!=null and res.userId!=''">
		 and user_id=#{res.userId}
	</if>
	<if test="res.source_db!=null and res.source_db!=''">
		 and source_db=#{res.source_db}
	</if>
	<if test="res.product_source_code!=null and res.product_source_code!=''">
		 and product_source_code=#{res.product_source_code}
	</if>
	<if test="starttime!=null and starttime!=''">
		 and date &gt;= #{starttime}
	</if>
	<if test="endtime!=null and endtime!=''">
		 and date &lt;= #{endtime}
	</if>
	 group by source_type_name,operate_type,date order by date asc
  </select>
  
  
   <select id="getLineMoreByCheckMore_IsInstitution_day" resultMap="BaseResultMap">
	SELECT sum(numbers) numbers,date,source_type_name sourceTypeName,operate_type 
	from (select p.resource_id from wfks_pay_channel_resources p 
		left join user u on p.user_id=u.user_id where 1=1 and p.resource_id  <![CDATA[ <> ]]>  ''
	 <if test="res.institutionName!=null and res.institutionName!=''">
		 and u.institution=#{res.institutionName}
	</if>
	<if test="res.userId!=null and res.userId!=''">
		 and u.user_id=#{res.userId}
	</if>	
	group by p.resource_id) temp left join rs_resources_statistics_sourcetype_use_hourly s
	on temp.resource_id=s.product_source_code
	where 1=1 
	and operate_type <![CDATA[ <> ]]>''
	and source_type_name <![CDATA[ <> ]]>''
	and source_type_name <![CDATA[ <> ]]>'全部'
	<if test="sourceTypeName!=null">
		 and source_type_name in
		 <foreach collection="sourceTypeName" index="index" item="item" open="(" separator="," close=")">
		    #{item}
		 </foreach>
	</if>
	
	<if test="urls!=null">
		and s.operate_type in(
	<foreach collection="urls" item="item" index="index" separator=",">  
    	#{item}
	</foreach>
	)
	</if>
	<if test="res.userId!=null and res.userId!=''">
		 and s.user_id=#{res.userId}
	</if>
	<if test="res.source_db!=null and res.source_db!=''">
		 and s.source_db=#{res.source_db}
	</if>
	<if test="res.product_source_code!=null and res.product_source_code!=''">
		 and s.product_source_code=#{res.product_source_code}
	</if>
	<if test="starttime!=null and starttime!=''">
		 and s.date &gt;= #{starttime}
	</if>
	<if test="endtime!=null and endtime!=''">
		 and s.date &lt;= #{endtime}
	</if>
	 group by s.source_type_name,s.operate_type,s.date order by s.date asc
  </select>
  
  
</mapper>