<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wf.dao.SourceAnalysisSearchWordHourlyMapper" >
  <resultMap id="BaseResultMap" type="com.wf.bean.SourceAnalysisSearchWordHourly" >
    <id column="type" property="type" jdbcType="VARCHAR" />
    <result column="keyWord" property="keyWord" jdbcType="VARCHAR" />
    <result column="date" property="date" jdbcType="VARCHAR" />
    <result column="hour" property="hour" jdbcType="VARCHAR" />
    <result column="numbers" property="numbers" jdbcType="VARCHAR" />
    <result column="sum" property="sum" jdbcType="VARCHAR"/>
  	<result column="sum1" property="sum1" jdbcType="VARCHAR"/>
    <result column="sum2" property="sum2" jdbcType="VARCHAR"/>
    <result column="sum3" property="sum3" jdbcType="VARCHAR"/>
    <result column="sum4" property="sum4" jdbcType="VARCHAR"/>
    <result column="sum5" property="sum5" jdbcType="VARCHAR"/>
    <result column="sum6" property="sum6" jdbcType="VARCHAR"/>
    <result column="sum7" property="sum7" jdbcType="VARCHAR"/>
    <result column="sum8" property="sum8" jdbcType="VARCHAR"/>
  </resultMap>
  
  <!-- 查询来源分析当前条件下（检索词、日期、指标类型）统计信息 -->
  <select id="getPage" resultMap="BaseResultMap">
		SELECT keyword,
		sum(CASE type when 1 then numbers else 0 end) sum1,
		sum(CASE type when 2 then numbers else 0 end) sum2,
		sum(CASE type when 3 then numbers else 0 end) sum3,
		sum(CASE type when 4 then numbers else 0 end) sum4,
		sum(CASE type when 5 then numbers else 0 end) sum5,
		sum(CASE type when 6 then numbers else 0 end) sum6,
		sum(CASE type when 7 then numbers else 0 end) sum7,
		sum(CASE type when 8 then numbers else 0 end) sum8
		
		from rs_source_analysis_external_searchword_hourly WHERE 1=1 
		
		<if test="date!=null and date !=''">
  		and date=#{date}
   		</if>
	  	<if test="startTime!=null and startTime !=''">
  		and hour <![CDATA[ >= ]]> #{startTime}
   		</if>
   		<if test="endTime!=null and endTime !=''">
   		and hour <![CDATA[ <= ]]> #{endTime}
   		</if>
	  	
		GROUP BY keyword order by sum1 limit #{pageNum},#{pageSize};
  </select>
  
  
  <!-- 查询来源分析当前条件下（检索词、日期、指标类型）统计信息 -->
  <select id="getPage_day" resultMap="BaseResultMap">
		SELECT keyword,
		sum(CASE type when 1 then numbers else 0 end) sum1,
		sum(CASE type when 2 then numbers else 0 end) sum2,
		sum(CASE type when 3 then numbers else 0 end) sum3,
		sum(CASE type when 4 then numbers else 0 end) sum4,
		sum(CASE type when 5 then numbers else 0 end) sum5,
		sum(CASE type when 6 then numbers else 0 end) sum6,
		sum(CASE type when 7 then numbers else 0 end) sum7,
		sum(CASE type when 8 then numbers else 0 end) sum8
		
		from rs_source_analysis_external_searchword_hourly WHERE 1=1 
	
	  	<if test="startTime!=null and startTime !=''">
  		and date <![CDATA[ >= ]]> #{startTime}
   		</if>
   		<if test="endTime!=null and endTime !=''">
   		and date <![CDATA[ <= ]]> #{endTime}
   		</if>
	  	
		GROUP BY keyword order by sum1 limit #{pageNum},#{pageSize};
  </select>
  
  
  
  <!-- 查询来源分析当前条件下（检索词、日期、指标类型）统计信息 -->
  <select id="getPages" resultMap="BaseResultMap">
		SELECT keyword,
		sum(CASE type when 1 then numbers else 0 end) sum1,
		sum(CASE type when 2 then numbers else 0 end) sum2,
		sum(CASE type when 3 then numbers else 0 end) sum3,
		sum(CASE type when 4 then numbers else 0 end) sum4,
		sum(CASE type when 5 then numbers else 0 end) sum5,
		sum(CASE type when 6 then numbers else 0 end) sum6,
		sum(CASE type when 7 then numbers else 0 end) sum7,
		sum(CASE type when 8 then numbers else 0 end) sum8
		
		from rs_source_analysis_external_searchword_hourly WHERE 1=1 
		
		<if test="date!=null and date !=''">
  		and date=#{date}
   		</if>
	  	<if test="startTime!=null and startTime !=''">
  		and hour <![CDATA[ >= ]]> #{startTime}
   		</if>
   		<if test="endTime!=null and endTime !=''">
   		and hour <![CDATA[ <= ]]> #{endTime}
   		</if>
	  	
		GROUP BY keyword order by sum1;
  </select>
  
  
    <!-- 查询来源分析当前条件下（检索词、日期、指标类型）统计信息 -->
  <select id="getPages_day" resultMap="BaseResultMap">
		SELECT keyword,
		sum(CASE type when 1 then numbers else 0 end) sum1,
		sum(CASE type when 2 then numbers else 0 end) sum2,
		sum(CASE type when 3 then numbers else 0 end) sum3,
		sum(CASE type when 4 then numbers else 0 end) sum4,
		sum(CASE type when 5 then numbers else 0 end) sum5,
		sum(CASE type when 6 then numbers else 0 end) sum6,
		sum(CASE type when 7 then numbers else 0 end) sum7,
		sum(CASE type when 8 then numbers else 0 end) sum8
		
		from rs_source_analysis_external_searchword_hourly WHERE 1=1 
		
	  	<if test="startTime!=null and startTime !=''">
  		and date <![CDATA[ >= ]]> #{startTime}
   		</if>
   		<if test="endTime!=null and endTime !=''">
   		and date <![CDATA[ <= ]]> #{endTime}
   		</if>
	  	
		GROUP BY keyword order by sum1;
  </select>
  
  
  <!-- 查询来源分析当前条件下（检索词、日期、指标类型）统计信息 -->
  <select id="getChart" resultMap="BaseResultMap">
		SELECT keyword,type,date,SUM(numbers)sum from rs_source_analysis_external_searchword_hourly WHERE 1=1 
		
		<if test="type!=null and type !=''">
  		and type=#{type}
	  	</if>
	  	<if test="date!=null and date !=''">
  		and date=#{date}
   		</if>
	  	<if test="startTime!=null and startTime !=''">
  		and hour <![CDATA[ >= ]]> #{startTime}
   		</if>
   		<if test="endTime!=null and endTime !=''">
   		and hour <![CDATA[ <= ]]> #{endTime}
   		</if>
	  	
		GROUP BY keyword,type ORDER BY sum DESC;
  </select>
  
  
    <!-- 查询来源分析当前条件下（检索词、日期、指标类型）统计信息 -->
  <select id="getChart_day" resultMap="BaseResultMap">
		SELECT keyword,type,date,SUM(numbers)sum from rs_source_analysis_external_searchword_hourly WHERE 1=1 
		
		<if test="type!=null and type !=''">
  		and type=#{type}
  		</if>
	  	<if test="startTime!=null and startTime !=''">
  		and date <![CDATA[ >= ]]> #{startTime}
   		</if>
   		<if test="endTime!=null and endTime !=''">
   		and date <![CDATA[ <= ]]> #{endTime}
   		</if>
	  	
		GROUP BY keyword,type ORDER BY sum DESC;
  </select>
  
  
  <!-- 查询来源分析当前条件下（检索词、日期、平均指标类型）统计信息 -->
  <select id="indexAverageList" resultMap="BaseResultMap">
		SELECT keyword,
		(CASE sum(CASE type when #{type2} then numbers else 0 end) when 0 THEN 0 
		ELSE (sum(CASE type when #{type1} then numbers else 0 end)/sum(CASE type when #{type2} then numbers else 0 end)) END)sum

		from rs_source_analysis_external_searchword_hourly WHERE 1=1 
	  	<if test="date!=null and date!=''">
  		and date=#{date}
   		</if>
	  	<if test="startTime!=null and startTime !=''">
  		and hour <![CDATA[ >= ]]> #{startTime}
   		</if>
   		<if test="endTime!=null and endTime !=''">
   		and hour <![CDATA[ <= ]]> #{endTime}
   		</if>
	  	
		GROUP BY keyword ORDER BY sum DESC limit 0,10;
  </select>
  
   <!-- 查询来源分析当前条件下（检索词、日期、平均指标类型）统计信息 -->
  <select id="indexAverageList_day" resultMap="BaseResultMap">
		SELECT keyword,
		(CASE sum(CASE type when #{type2} then numbers else 0 end) when 0 THEN 0 
		ELSE (sum(CASE type when #{type1} then numbers else 0 end)/sum(CASE type when #{type2} then numbers else 0 end)) END)sum

		from rs_source_analysis_external_searchword_hourly WHERE 1=1 
	  	<if test="startTime!=null and startTime !=''">
  		and date <![CDATA[ >= ]]> #{startTime}
   		</if>
   		<if test="endTime!=null and endTime !=''">
   		and date <![CDATA[ <= ]]> #{endTime}
   		</if>
	  	
		GROUP BY keyword ORDER BY sum DESC limit 0,10;
  </select>
  
  
  <!-- 查询来源分析当前条件下平均指标总的平均值 -->
  <select id="average" resultType="String">
		SELECT
		(CASE sum(CASE type when #{type2} then numbers else 0 end) when 0 THEN 0 
		ELSE (sum(CASE type when #{type1} then numbers else 0 end)/sum(CASE type when #{type2} then numbers else 0 end)) END)sum

		from rs_source_analysis_external_searchword_hourly WHERE 1=1 
	  	<if test="date!=null and date!=''">
  		and date=#{date}
   		</if>
	  	<if test="startTime!=null and startTime !=''">
  		and hour <![CDATA[ >= ]]> #{startTime}
   		</if>
   		<if test="endTime!=null and endTime !=''">
   		and hour <![CDATA[ <= ]]> #{endTime}
   		</if>
  </select>
  
  
  
  <!-- 查询来源分析当前条件下平均指标总的平均值 -->
  <select id="average_day" resultType="String">
		SELECT
		(CASE sum(CASE type when #{type2} then numbers else 0 end) when 0 THEN 0 
		ELSE (sum(CASE type when #{type1} then numbers else 0 end)/sum(CASE type when #{type2} then numbers else 0 end)) END)sum

		from rs_source_analysis_external_searchword_hourly WHERE 1=1 
	  	<if test="startTime!=null and startTime !=''">
  		and date <![CDATA[ >= ]]> #{startTime}
   		</if>
   		<if test="endTime!=null and endTime !=''">
   		and date <![CDATA[ <= ]]> #{endTime}
   		</if>
  </select>
  
  <!-- 查询来源分析当前条件下（检索词、日期、指标类型）折线图信息 -->
  <select id="getGroupList" resultType="String">
		SELECT keyWord from rs_source_analysis_external_searchword_hourly WHERE 1=1 
		
		<if test="type!=null and type !=''">
  		and type=#{type}
	  	</if>
	  	<if test="date!=null and date !=''">
  		and date=#{date}
   		</if>
	  	<if test="startTime!=null and startTime !=''">
  		and hour <![CDATA[ >= ]]> #{startTime}
   		</if>
   		<if test="endTime!=null and endTime !=''">
   		and hour <![CDATA[ <= ]]> #{endTime}
   		</if>
	  	
		GROUP BY keyWord;
  </select>
  
  
  <!-- 查询来源分析当前条件下（检索词、日期、指标类型）折线图信息 -->
  <select id="getGroupList_day" resultType="String">
		SELECT keyWord from rs_source_analysis_external_searchword_hourly WHERE 1=1 
		
		<if test="type!=null and type !=''">
  		and type=#{type}
	  	</if>
	  	<if test="startTime!=null and startTime !=''">
  		and date <![CDATA[ >= ]]> #{startTime}
   		</if>
   		<if test="endTime!=null and endTime !=''">
   		and date <![CDATA[ <= ]]> #{endTime}
   		</if>
	  	
		GROUP BY keyWord;
  </select>
  
  
  <!-- 查询来源分析当前条件下（检索词、日期、指标类型）折线图信息 -->
  <select id="getLine" resultType="String">
		SELECT numbers from rs_source_analysis_external_searchword_hourly WHERE 1=1 
		
		<if test="keyWord !=null and keyWord !=''">
  		and keyWord=#{keyWord}
	  	</if>
		<if test="type!=null and type !=''">
  		and type=#{type}
	  	</if>
	  	<if test="date!=null and date !=''">
  		and date=#{date}
   		</if>
	  	<if test="startTime!=null and startTime !=''">
  		and hour <![CDATA[ >= ]]> #{startTime}
   		</if>
   		<if test="endTime!=null and endTime !=''">
   		and hour <![CDATA[ <= ]]> #{endTime}
   		</if>
	  	
		GROUP BY keyWord,hour,type;
  </select>
  
  
   <!-- 查询来源分析当前条件下（检索词、日期、指标类型）折线图信息 -->
  <select id="getLine_day" resultType="String">
		SELECT numbers from rs_source_analysis_external_searchword_hourly WHERE 1=1 
		
		<if test="keyWord !=null and keyWord !=''">
  		and keyWord=#{keyWord}
	  	</if>
		<if test="type!=null and type !=''">
  		and type=#{type}
	  	</if>
	  	<if test="startTime!=null and startTime !=''">
  		and date <![CDATA[ >= ]]> #{startTime}
   		</if>
   		<if test="endTime!=null and endTime !=''">
   		and date <![CDATA[ <= ]]> #{endTime}
   		</if>
	  	
		GROUP BY keyWord,date,type;
  </select>
  
   <select id="getLine1" resultType="map">
		SELECT numbers,hour as date from rs_source_analysis_external_searchword_hourly WHERE 1=1 
		
		<if test="keyWord !=null and keyWord !=''">
  		and keyWord=#{keyWord}
	  	</if>
		<if test="type!=null and type !=''">
  		and type=#{type}
	  	</if>
	  	<if test="date!=null and date !=''">
  		and date=#{date}
   		</if>
	  	<if test="startTime!=null and startTime !=''">
  		and hour <![CDATA[ >= ]]> #{startTime}
   		</if>
   		<if test="endTime!=null and endTime !=''">
   		and hour <![CDATA[ <= ]]> #{endTime}
   		</if>
	  	
		GROUP BY keyWord,hour,type;
  </select>
  
  
   <select id="getLine1_day" resultType="map">
		SELECT numbers,date from rs_source_analysis_external_searchword_hourly WHERE 1=1 
		
		<if test="keyWord !=null and keyWord !=''">
  		and keyWord=#{keyWord}
	  	</if>
		<if test="type!=null and type !=''">
  		and type=#{type}
	  	</if>
	  	<if test="startTime!=null and startTime !=''">
  		and date <![CDATA[ >= ]]> #{startTime}
   		</if>
   		<if test="endTime!=null and endTime !=''">
   		and date <![CDATA[ <= ]]> #{endTime}
   		</if>
	  	
		GROUP BY keyWord,date,type;
  </select>
  
  
  <!-- 查询来源分析当前条件下（检索词、日期、指标类型）折线图信息 -->
  <select id="getDateList" resultType="String">
		SELECT hour from rs_source_analysis_external_searchword_hourly WHERE 1=1 
		
		<if test="type!=null and type !=''">
  		and type=#{type}
	  	</if>
	  	<if test="date!=null and date !=''">
  		and date=#{date}
   		</if>
	  	<if test="startTime!=null and startTime !=''">
  		and hour <![CDATA[ >= ]]> #{startTime}
   		</if>
   		<if test="endTime!=null and endTime !=''">
   		and hour <![CDATA[ <= ]]> #{endTime}
   		</if>
	  	
		GROUP BY hour;
  </select>
  
   <!-- 查询来源分析当前条件下（检索词、日期、指标类型）折线图信息 -->
  <select id="getDateList_day" resultType="String">
		SELECT date from rs_source_analysis_external_searchword_hourly WHERE 1=1 
		
		<if test="type!=null and type !=''">
  		and type=#{type}
	  	</if>
	  	<if test="startTime!=null and startTime !=''">
  		and date <![CDATA[ >= ]]> #{startTime}
   		</if>
   		<if test="endTime!=null and endTime !=''">
   		and date <![CDATA[ <= ]]> #{endTime}
   		</if>
	  	
		GROUP BY hour;
  </select>
  
  
  
</mapper>