<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wf.dao.UserBoughtItemsMapper" >
  <resultMap id="BaseResultMap" type="com.wf.bean.UserBoughtItems" >
	<id column="Id" property="Id" jdbcType="VARCHAR" />
  	<result column="UserId" property="UserId" jdbcType="VARCHAR" />
    <result column="TransteroutType" property="TransteroutType" jdbcType="VARCHAR" />
    <result column="Mode" property="Mode" jdbcType="VARCHAR" />
    <result column="Feature" property="Feature" jdbcType="VARCHAR" />
  </resultMap>
  <!-- 根据userid查询权限 -->
  <select id="getUserBoughtItemsList" resultMap="BaseResultMap" parameterType="java.lang.String">
  	select Id,UserId,TransteroutType,Mode,Feature from UserBoughtItems where UserId=#{userId}
  </select>
  <!-- 添加一条数据 -->
  <insert id="insert" parameterType="com.wf.bean.UserBoughtItems">
  	insert into UserBoughtItems(Id,UserId,TransteroutType,Mode,Feature) values(#{Id},#{UserId},#{TransteroutType},#{Mode},#{Feature})
  </insert>
 <update id="update" parameterType="com.wf.bean.UserBoughtItems">
    update UserBoughtItems
    <set>
      <if test="TransteroutType != null and TransteroutType !=''" >
		TransteroutType = #{TransteroutType},
      </if>
      <if test="Mode != null and Mode !=''" >
        Mode = #{Mode},
      </if>
      <if test="Feature != null and Feature !=''" >
        Feature = #{Feature},
      </if>
    </set>
    where UserId = #{UserId}
 </update>
  <!-- 根据userId删除数据  --> 
  <delete id="delete" parameterType="java.lang.String">
  	delete from UserBoughtItems where UserId = #{UserId}
  	<if test="TransteroutType != null and TransteroutType != ''">
		AND TransteroutType = #{TransteroutType}  
	</if>
  	<if test="Mode != null and Mode != ''">
		AND Mode = #{Mode}  
	</if>
  </delete>
</mapper>