<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wf.dao.UserIpMapper" >
  <resultMap id="BaseResultMap" type="com.wf.bean.UserIp" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="begin_ip_address_number" property="beginIpAddressNumber" jdbcType="BIGINT" />
    <result column="end_ip_address_number" property="endIpAddressNumber" jdbcType="BIGINT" />
  </resultMap>
  <resultMap id="BaseMap" type="java.util.Map" >
    <result column="begin_ip_address_number" property="beginIpAddressNumber" jdbcType="BIGINT" />
    <result column="end_ip_address_number" property="endIpAddressNumber" jdbcType="BIGINT" />
  </resultMap>
  <insert id="insert" parameterType="com.wf.bean.UserIp">
    insert into user_ip (id, user_id, begin_ip_address_number, end_ip_address_number)
    values (#{id}, #{userId}, #{beginIpAddressNumber}, #{endIpAddressNumber})
  </insert>
  
  <delete id="deleteUserIp" parameterType="java.lang.String">
  	delete from user_ip where user_id = #{userId}
  </delete>
  
  <!-- 查询IP -->
  <select id="validateIp2" resultMap="BaseResultMap">
	select user_id,begin_ip_address_number,end_ip_address_number from user_ip where user_id != #{userId}
  	<if test="endIp != null and endIp != ''">
		and begin_ip_address_number <![CDATA[<=]]> #{endIp}
	</if>
	<if test="beginIp != null and beginIp != ''">
		and end_ip_address_number <![CDATA[>=]]> #{beginIp}
	</if>
  </select>
  
  <select id="validateIp" resultMap="BaseResultMap">
	select up.user_id,up.begin_ip_address_number,up.end_ip_address_number from user_ip up where up.user_id != #{userId}
	<if test="beginIp != null and beginIp != '' and endIp != null and endIp != ''">
		and ((#{beginIp} <![CDATA[>=]]> up.begin_ip_address_number AND #{beginIp} <![CDATA[<=]]> up.end_ip_address_number) or 
			(#{endIp} <![CDATA[>=]]> up.begin_ip_address_number AND #{endIp} <![CDATA[<=]]> up.end_ip_address_number) or
			(up.begin_ip_address_number <![CDATA[>=]]> #{beginIp} AND up.end_ip_address_number <![CDATA[<=]]> #{endIp}))
	</if>
  </select>
  
    <!-- 通过userid查询IP -->
  <select id="findIpByUserId" resultMap="BaseMap">
	select begin_ip_address_number,end_ip_address_number from user_ip where user_id = #{userId} order by begin_ip_address_number
  </select>
  
 <update id="updateIp" parameterType="com.wf.bean.UserIp">
    update user_ip
    <set>
      <if test="beginIpAddressNumber != null and beginIpAddressNumber !=''" >
        begin_ip_address_number = #{beginIpAddressNumber},
      </if>
      <if test="endIpAddressNumber != null and endIpAddressNumber !=''" >
        end_ip_address_number = #{endIpAddressNumber},
      </if>
    </set>
    where user_id = #{userId}
 </update>
</mapper>