<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wf.dao.WebSiteDailyMapper">
	<resultMap id="WebSiteDaily" type="com.wf.bean.WebSiteDaily">
		<result column="type" property="type" jdbcType="INTEGER" />
		<result column="date" property="date" jdbcType="DATE" />
		<result column="numbers" property="numbers" jdbcType="VARCHAR" />
		<result column="num" property="num" jdbcType="VARCHAR" />
	</resultMap>
	<!-- 查询天表e charts 图 -->
	<select id="findPageView" resultMap="WebSiteDaily">
		select * from rs_website_survey_basic_quota_daily where 1=1
		
		<if test="startTime != null and startTime !='' ">
 	  <![CDATA[ and date >= #{startTime} ]]>
		</if>
		<if test="endTime != null and endTime !='' ">
 	 	<![CDATA[ and date <= #{endTime} ]]>
		</if>
		<if test="type != null and type != '' ">
			and type = #{type}
		</if>
		order by date
	</select>
	
	<!-- 查询浏览数据总量 -->
	<select id="selectSumNumbers" resultMap="WebSiteDaily">
		select type,SUM(numbers) num FROM rs_website_survey_basic_quota_daily 
			 where 1=1
		 <if test="startTime !=null and startTime != null">
		 	and date &gt;= #{startTime}
		 </if>
 		<if test="endTime != null and endTime != '' ">
 			and date &lt;= #{endTime}
 		</if>
			GROUP BY type	
	</select>
	
	<!-- 查询基础指标列表 按日 -->
	<select id="basicIndexNum" resultType="java.util.Map">
		SELECT date,
		MAX(CASE type WHEN 1 THEN numbers ELSE 0 END) 网站浏览量,
		MAX(CASE type WHEN 2 THEN numbers ELSE 0 END) 访问次数,
		MAX(CASE type WHEN 3 THEN numbers ELSE 0 END) 独立访客数,
		MAX(CASE type WHEN 4 THEN numbers ELSE 0 END) 新增访客,
		MAX(CASE type WHEN 5 THEN numbers ELSE 0 END) 独立IP数,
		MAX(CASE type WHEN 6 THEN numbers ELSE 0 END) 平均访问页面,
		MAX(CASE type WHEN 8 THEN numbers ELSE 0 END) 平均访问时长,
		MAX(CASE type WHEN 10 THEN numbers ELSE 0 END) 跳出率
		FROM rs_website_survey_basic_quota_daily where 1=1
		<if test="startTime != null and startTime !=''">
		<![CDATA[ and date >= #{startTime} ]]>
		</if>
		<if test="endTime != null and endTime !=''">
			<![CDATA[ and date <= #{endTime} ]]>
		</if>
			GROUP BY date
		<if test="pagenum >-1 and pagesize >-1 ">
			limit #{pagenum},#{pagesize}
		</if>
	</select>
	
	<!-- 查询基础指标总条数 -->
	<select id="getBasicIndexNum" resultType="int">
		select count(DISTINCT(date)) from rs_website_survey_basic_quota_daily
		where 1=1
		<if test="startTime != null and startTime !=''">
			<![CDATA[ and date >= #{startTime} ]]>
		</if>
		<if test="endTime != null and endTime !=''">
			<![CDATA[ and date <= #{endTime} ]]>
		</if>
			<!--  group by date-->
	</select>
</mapper>