<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wf.dao.WfadminMapper" >
  <resultMap id="BaseResultMap" type="com.wf.bean.Wfadmin" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="wangfang_admin_id" property="wangfang_admin_id" jdbcType="VARCHAR" />
    <result column="user_realname" property="user_realname" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="is_male" property="is_male" jdbcType="INTEGER" />
    <result column="mobile_phone" property="mobile_phone" jdbcType="VARCHAR" />
    <result column="tel_phone" property="tel_phone" jdbcType="VARCHAR" />
    <result column="department" property="department" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="role_id" property="role_id" jdbcType="VARCHAR" />
    <result column="registration_time" property="registration_time" jdbcType="TIMESTAMP" />
    <result column="registrant" property="registrant" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <association property="role" javaType="com.wf.bean.Role">
    	<result column="role_name" jdbcType="VARCHAR" property="roleName" />
    	<result column="purview" jdbcType="LONGVARCHAR" property="purview" />
    </association>
     <association property="dept" javaType="com.wf.bean.Department">
    	<result column="dept_name" jdbcType="VARCHAR" property="deptName" />
    	<result column="dept_describe" jdbcType="LONGVARCHAR" property="deptDescribe" />
    </association>
  </resultMap>
  
  <select id="getAdmin" resultMap="BaseResultMap">
	  select 
	  	a.id,a.wangfang_admin_id,a.user_realname,a.department,b.role_name, a.status 
	  from 
	  	wfadmin a left join role b on a.role_id=b.role_id
	  	where 1=1
		  <if test="param1!=null and param1!=''">
		  and b.role_name like #{param1}  or a.department like #{param2} or a.user_realname like #{param3} or a.wangfang_admin_id like #{param4}
		  </if>
	  order by registration_time desc
	  limit #{pagenum},#{pagesize}
  </select>
  
  <select id="getAdminNum" resultType="int">
  select count(1) 
  from 
  	wfadmin a left join role b on a.role_id=b.role_id left join department c on a.department=c.id
	where 1=1
  <if test="param1!=null and param1!=''">
     and b.role_name like #{param1}  or c.dept_name like #{param2} or a.user_realname like #{param3} or a.wangfang_admin_id like #{param4}
  </if>
  </select>
  
  <delete id="deleteAdmin" >
  	delete from wfadmin where id in
 	 <foreach collection="ids" index="index" item="item" open="(" separator="," close=")">  
            #{item}   
    </foreach>
  </delete>
  <select id="selectByDepartment" resultType="java.lang.Integer">
  	select count(1) from wfadmin 
  	where department=#{department}
  	or role_id in (select role_id from role where department=#{department})
  </select>
  <select id="selectByRoleId" resultType="java.lang.Integer">
  	select count(1) from wfadmin 
  	where role_id = #{role_id}
  </select>
  <delete id="closeAdmin" >
  	update wfadmin set status=0 where id in
 	 <foreach collection="ids" index="index" item="item" open="(" separator="," close=")">  
            #{item}   
    </foreach>
  </delete>
  
    <delete id="openAdmin" >
  	update wfadmin set status=1 where id in
 	 <foreach collection="ids" index="index" item="item" open="(" separator="," close=")">  
            #{item}   
    </foreach>
  </delete>
  
  <select id="checkAdminId" resultMap="BaseResultMap">
  select * from wfadmin where wangfang_admin_id = #{id}
  </select>
  
  <insert id="doAddAdmin" parameterType="com.wf.bean.Wfadmin" >
    insert into wfadmin
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="wangfang_admin_id != null" >
        wangfang_admin_id,
      </if>
      <if test="user_realname != null" >
        user_realname,
      </if>
      <if test="password != null" >
        password,
      </if>
      <if test="is_male != null" >
        is_male,
      </if>
      <if test="department != null" >
        department,
      </if>
      <if test="role_id != null" >
        role_id,
      </if>
      <if test="registration_time != null" >
        registration_time,
      </if>
      <if test="registrant != null" >
        registrant,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="wangfang_admin_id != null" >
        #{wangfang_admin_id,jdbcType=VARCHAR},
      </if>
      <if test="user_realname != null" >
        #{user_realname,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="is_male != null" >
        #{is_male,jdbcType=INTEGER},
      </if>
      <if test="mobile_phone != null" >
        #{mobile_phone,jdbcType=VARCHAR},
      </if>
      <if test="tel_phone != null" >
        #{tel_phone,jdbcType=VARCHAR},
      </if>
      <if test="department != null" >
        #{department,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="role_id != null" >
        #{role_id,jdbcType=VARCHAR},
      </if>
      <if test="registration_time != null" >
        #{registration_time,jdbcType=TIMESTAMP},
      </if>
      <if test="registrant != null" >
        #{registrant,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  
  <select id="getAdminById"  resultMap="BaseResultMap">
  select * from wfadmin where id = #{id}
  </select>
  
  <select id="getAdminByAdminIds" resultType="String">
   select wangfang_admin_id from wfadmin where id in <foreach collection="ids"  item="item" open="(" separator="," close=")">#{item}</foreach>
  </select>

  <update id="doUpdateAdmin" parameterType="com.wf.bean.Wfadmin" >
    update wfadmin
    <set >
      <if test="wangfang_admin_id != null" >
        wangfang_admin_id = #{wangfang_admin_id,jdbcType=VARCHAR},
      </if>
      <if test="user_realname != null" >
        user_realname = #{user_realname,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="is_male != null" >
        is_male = #{is_male,jdbcType=TINYINT},
      </if>
      <if test="mobile_phone != null" >
        mobile_phone = #{mobile_phone,jdbcType=VARCHAR},
      </if>
      <if test="tel_phone != null" >
        tel_phone = #{tel_phone,jdbcType=VARCHAR},
      </if>
      <if test="department != null" >
        department = #{department,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="role_id != null" >
        role_id = #{role_id,jdbcType=VARCHAR},
      </if>
      <if test="registration_time != null" >
        registration_time = #{registration_time,jdbcType=TIMESTAMP},
      </if>
      <if test="registrant != null" >
        registrant = #{registrant,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>