<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wf.dao.WfksAccountidMappingMapper" >
  <resultMap id="BaseResultMap" type="com.wf.bean.WfksAccountidMapping" >
    <id column="mappingid" property="mappingid" jdbcType="VARCHAR" />
    <result column="id_accounttype" property="idAccounttype" jdbcType="VARCHAR" />
    <result column="id_key" property="idKey" jdbcType="VARCHAR" />
    <result column="relatedid_accounttype" property="relatedidAccounttype" jdbcType="VARCHAR" />
    <result column="relatedid_key" property="relatedidKey" jdbcType="VARCHAR" />
    <result column="begintime" property="begintime" jdbcType="TIMESTAMP" />
    <result column="endtime" property="endtime" jdbcType="TIMESTAMP" />
    <result column="last_updatetime" property="lastUpdatetime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    mappingid, id_accounttype, id_key, relatedid_accounttype, relatedid_key, begintime, 
    endtime, last_updatetime
  </sql>
  
  <select id="getWfksAccountid" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from wfks_accountid_mapping
    where relatedid_accounttype = #{relatedidAccounttype,jdbcType=VARCHAR} and id_key = #{idKey,jdbcType=VARCHAR}
  </select>
  
  <select id="getWfksAccountidLimit" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from wfks_accountid_mapping where id_accounttype = #{idAccounttype,jdbcType=VARCHAR} and id_key = #{idKey,jdbcType=VARCHAR}
  </select>
  
  <delete id="deleteByUserId" parameterType="java.lang.String" >
    delete from wfks_accountid_mapping where relatedid_accounttype = #{relatedidAccounttype,jdbcType=VARCHAR} and id_key = #{idKey,jdbcType=VARCHAR}
  </delete>
  
  <delete id="deleteByUserIdAndType" parameterType="java.lang.String" >
    delete from wfks_accountid_mapping where id_accounttype = #{idAccounttype,jdbcType=VARCHAR} and id_key = #{idKey,jdbcType=VARCHAR}
  </delete>
  
  <insert id="insert" parameterType="com.wf.bean.WfksAccountidMapping" >
    insert into wfks_accountid_mapping (mappingid, id_accounttype, id_key, 
      relatedid_accounttype, relatedid_key, begintime, 
      endtime, last_updatetime)
    values (#{mappingid,jdbcType=VARCHAR}, #{idAccounttype,jdbcType=VARCHAR}, #{idKey,jdbcType=VARCHAR}, 
      #{relatedidAccounttype,jdbcType=VARCHAR}, #{relatedidKey,jdbcType=VARCHAR}, #{begintime,jdbcType=TIMESTAMP}, 
      #{endtime,jdbcType=TIMESTAMP}, #{lastUpdatetime,jdbcType=TIMESTAMP})
  </insert>
</mapper>