@charset "utf-8";
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary { display: block }
audio, canvas, video { display: inline-block; *display:inline;
*zoom:1
}
audio:not([controls]) { display: none; height: 0 }
[hidden], template { display: none }
html { font-family: "微软雅黑", "宋体"; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
body { margin: 0; font-size: 14px; }
a { background: transparent; color: #417dc9; }
a:link { text-decoration: none; }
a:focus { outline: thin dotted }
a:visited { text-decoration: none; }
a:hover { color: #ff6c00; text-decoration: underline; outline: 0 }
a:active { text-decoration: none; outline: 0 }
h1 { margin: .67em 0; font-size: 2em }
abbr[title] { border-bottom: 1px dotted }
b, strong { font-weight: bold }
dfn { font-style: italic }
hr { height: 0; -moz-box-sizing: content-box; box-sizing: content-box }
mark { color: #000; background: #ff0 }
code, kbd, pre, samp { font-family: monospace, serif; font-size: 1em }
pre { white-space: pre-wrap }
q { quotes: "\201C" "\201D" "\2018" "\2019" }
p { margin: 0 }
small { font-size: 80% }
sub, sup { position: relative; font-size: 75%; line-height: 0; vertical-align: baseline }
sup { top: -0.5em }
sub { bottom: -0.25em }
img { border: 0 }
svg:not(:root) { overflow: hidden }
figure { margin: 0 }
fieldset { padding: .35em .625em .75em; margin: 0 2px; border: 1px solid #c0c0c0 }
legend { padding: 0; border: 0 }
button, input, select, textarea { margin: 0; font-family: inherit; font-size: 100% }
button, input { line-height: normal }
button, select { text-transform: none }
button, html input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button }
button[disabled], html input[disabled] { cursor: default }
input[type="checkbox"], input[type="radio"] { padding: 0; box-sizing: border-box }
input[type="search"] { -webkit-box-sizing: content-box; -moz-box-sizing: content-box; box-sizing: content-box; -webkit-appearance: textfield }
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
-webkit-appearance:none
}
button::-moz-focus-inner, input::-moz-focus-inner {
padding:0;
border:0
}
textarea { overflow: auto; vertical-align: top }
table { border-collapse: collapse; border-spacing: 0 }
small, .small { font-size: 85% }
cite { font-style: normal }
ul, ol { margin: 0; padding: 0 }
ul ul, ol ul, ul ol, ol ol { margin-bottom: 0 }
li { list-style: none; }
dl { margin: 0; }
dt, dd { line-height: 1.428571429 }
dt { font-weight: bold }
dd { margin-left: 0 }
h4, h5 { margin: 0; padding: 0; }
.clear:after { display: block; clear: both; content: ""; visibility: hidden; height: 0; zoom: 1 }
.container { max-width: 1200px; min-width: 480px; margin: 0 auto; *zoom: 1;
padding: 0 48px 0 66px; }
.container:before, .container:after { content: ''; display: block; clear: both; }
/*头部*/
.top { background: #f9f9f9; background: -webkit-linear-gradient(top, #ffffff, #f9f9f9); display: block; height: 84px; }
.top .logo { padding: 25px 0 0; float: left }
.top .menu { float: right; width: 131px; display: inline-block; *display:inline;
*zoom:1;
}
.menu_mail, .menu_user, .menu_nav { float: left; padding: 30px 8px 0; position: relative; }
/*.nav_b{ position:absolute; background:#096; width:150px; height:50px; top:60px; right:0}*/


/*左边栏*/
.left_sidebar { width: 220px; float: left; overflow: hidden; margin-bottom: 30px; }
.SidebarBox { margin-top: 14px; }
.SidebarBox .title h3 { font-size: 16px; color: #000; line-height: 2.75; margin: 0 }
.right_con { padding-left: 0px; margin-left: 240px; }
.left_sidebar:before, .right_con:before { content: '.'; display: block; width: 0; height: 0; visibility: hidden; overflow: hidden }
.icon { display: inline-block; *display:inline;
*zoom:1;
vertical-align: middle; background-image: url(../images/icon_all.png); background-repeat: no-repeat; }
/*学者名片*/
.ScholarCard { clear: both; }
.ScholarCard_title { }
.ScholarCard_details { float: left; display: inline-block; *display:inline;
*zoom:1;
border: 1px solid #b4d6f9; height: 60px; width: 21.7%; padding: 5px 1% 5px 1%; line-height: 30px; border-radius: 4px; margin: 5px 1% 5px 0; }
.ScholarCard_details a { font-size: 16px; font-weight: bold; margin-right: 10px; display: inline-block; *display:inline;
*zoom:1;
float: left; }
.ScholarCard_details span { display: block; width: auto; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
.ScholarCard_details a.follow { font-size: 12px; font-weight: normal; margin-right: 0px; margin-left: 0; float: right; }
.ScholarCard_college { color: #717171; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; clear: both; }

@media(min-width:992px) {
.ScholarCard_details { width: 181px; }
}

@media(min-width:1248px) {
.ScholarCard_details { width: 21.7%; }
}

@media(min-width:1310px) {
.ScholarCard_details { width: 21.7%; }
}

@media(max-width:991px) {
.ScholarCard_details { width: 213px; }
}
/*尾部*/
.foot { background: #f3f3f3; padding: 2px 0; padding-bottom: 20px; color: #323232; clear:both}
.footLeft { float: left; font-size: 12px; padding: 33px 0 0; position: relative; }
.smallNav { margin: 0 0 30px 0; }
.smallNav a { padding: 0 45px 0px 0; white-space: nowrap; line-height: 2; color: #323232; font-size: 13px; font-weight: bold; }
.copy { line-height: 35px; color: #898989; }
.copy i { position: relative; top: 5px; }
.copy .icon_copy { width: 18px; height: 20px; background-image: url(../images/icon_all.png); background-repeat: no-repeat; display: inline-block; *display:inline;
*zoom:1;
}
.copy .i_copy { background-position: -441px -50px; margin: 0 0 0 35px; }
.footRight { float: right; background: url(../images/icon_tele.png) no-repeat right 20px; }

@media(min-width:992px) {
.footLeft { width:100%; padding-top: 75px; float:none;}
.smallNav { position: absolute; left: 0px; top: 30px; width: 90vw }

.footRight { float:none; width:100%; clear:both; background-position:70px 0; }
.footRight .Telephone{ float:left; padding:0 20px 0 0;}
}

@media(min-width:1310px) {
.footLeft { width: 940px; padding-top: 28px; float:left}
.smallNav { position: relative; left: auto; top: auto; width: auto; }
.footRight { margin-top: 0px;float: right; width:auto; clear:none; }
.footRight .Telephone{ float: none; padding:0 0px 0 0;}
}
.Customer { padding: 0 0 0 65px; border-left: 1px solid #c7dfff; }
.service { font-weight: bold; margin: 33px 0 15px 0; }
.Telephone { line-height: 35px; font-size: 20px; font-weight: bold; }
.Website { line-height: 25px; }
/*弹框*/
.bombBox { width: 66px; height: 385px; background: url(../images/bombBox.png) no-repeat; border-radius: 5px; color: #fff; font-size: 12px; position: absolute; top: 50%; margin-top: -194px; left: 0; }
.bombBox a { color: #fff; }
.bombBoxR { position: absolute; left: 66px; top: 50%; width: 12px; height: 57px; margin-top: -50%; }
.bombBoxR a { display: block; width: 12px; height: 57px; padding: 0; background: url(../images/bombBoxR.png) no-repeat; }
.bombBoxR a.open { background-position: -50px 0; }
.block { height: 77px; background: url(../images/line.png) no-repeat 0 bottom; text-align: center; }
.workbench { width: 66px; height: 50px; background: url(../images/workbench.png) no-repeat center 20px; display: block; }
.circle { width: 66px; height: 50px; background: url(../images/circle.png) no-repeat center 20px; display: block; }
.footprint { width: 66px; height: 50px; background: url(../images/footprint.png) no-repeat center 20px; display: block; }
.subscribe { width: 66px; height: 50px; background: url(../images/subscribe.png) no-repeat center 20px; display: block; }
.supermarket { width: 66px; height: 50px; background: url(../images/supermarket.png) no-repeat center 20px; display: block; }
.box_right { position: fixed; bottom: 100px; right: 0px; }
.news { width: 48px; height: 48px;/* background:#cdcdcd; border:1px solid #bebebe; border-radius:6;*/ background: url(../images/bg.png) no-repeat; text-align: center; margin-bottom: 10px; }
.news_info { width: 48px; height: 48px; background: url(../images/news.png) no-repeat center center; display: inline-block; *display:inline;
*zoom:1;
}
.return { background: url(../images/top.png) no-repeat center center; }
/*2016-7-26 子页面主搜索条*/
/*搜索块*/

.search_block { height: 120px; background: url(../images/public_searchbar.png) no-repeat center bottom #1a4882; }
.searchContainer { float: left; width: 100%; margin-left: -180px; position: relative; }
.resource_type { color: #fff; margin-left: 200px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; padding-right: 80px; display: -webkit-box;  /* 老版本语法: Safari,  iOS, Android browser, older WebKit browsers.  */ display: -moz-box;    /* 老版本语法: Firefox (buggy) */ display: -ms-flexbox;  /* 混合版本语法: IE 10 */ display: -webkit-flex;  /* 新版本语法： Chrome 21+ */ display: flex;       /* 新版本语法： Opera 12.1, Firefox 22+ */ -webkit-box-pack: justify; -moz-box-pack: justify; -ms-flex-pack: justify; -webkit-justify-content: space-between; justify-content: space-between; text-align: justify; }
.resource_type a { color: #d5e5fa; font-size: 16px; padding: 0px 8px; line-height: 60px; }
.resource_type a:hover { text-decoration: none; font-weight: bold; }
.resource_type a.selected { font-weight: bold; color: #fff; }
.searchBox { margin-left: 200px; position: relative; margin-right: 80px; overflow: hidden; height: 45px; position: relative; background: #ffffff; border: 1px solid #ababab; -webkit-box-shadow: 0px 3px 5px 2px rgba(80,80,80,.3); -moz-box-shadow: 0px 3px 5px 2px rgba(80,80,80,.3); -o-box-shadow: 0px 3px 5px 2px rgba(80,80,80,.3); box-shadow: 0px 0px 5px 2px rgba(80,80,80,.3); position: relative; z-index: 2; -webkit-border-radius: 5px; -moz-border-radius: 5px; -o-border-radius: 5px; border-radius: 5px; }
.searchInput { height: 45px; padding-right: 200px; }
.searchInput input { line-height: 41px; height: 41px; width: 100%; margin: 2px; padding: 0 0 0 10px; border: 0; font-size: 14px; outline: none }
.searchBtn { height: 45px; position: absolute; top: 0; width: 90px; right: 90px; background: #d9d9d9; FILTER: progid:DXImageTransform.Microsoft.Gradient(gradientType=0, startColorStr=#fafafa, endColorStr=#b8b8b8); /*IE 6 7 8*/
background: -ms-linear-gradient(top, #fafafa, #b8b8b8);        /* IE 10 */ background: -webkit-linear-gradient(top, #fafafa, #b8b8b8); background: -moz-linear-gradient(top, #fafafa, #b8b8b8); background: -webkit-gradient(linear, 0 0, 0 bottom, from(#fafafa), to#b8b8b8); background: -o-linear-gradient(top, #fafafa, #b8b8b8); }
.searchBtn input { font-size: 14px; font-weight: normal; height: 45px; width: 90px; line-height: 45px; color: #003d7c; border: 0; background: transparent url(../images/iconfont-sousuo-small.png) no-repeat 9px 12px; padding-left: 30px; }
.searchBtn:hover { background: #dbdbdb }
.gjsearchBtn { position: absolute; top: 57px; right: 10px; line-height: 25px }
.gjsearchBtn a { color: #fff; }
.gjsearchBtn a:hover { text-decoration: none; }
.search_block.sub_search { height: 130px; position: relative; }
.search_block.sub_search .resource_type a { color: #d5e5fa; font-size: 16px; padding: 0px 8px; }
.search_block.sub_search .resource_type a.selected { font-weight: bold; color: #fff; }
.pubsearchBtn { height: 45px; position: absolute; top: 0; right: 0px; FILTER: progid:DXImageTransform.Microsoft.Gradient(gradientType=0, startColorStr=#2453ad, endColorStr=#183c82); /*IE 6 7 8*/
background: -ms-linear-gradient(top, #2453ad, #183c82); /* IE 10 */ background: -webkit-linear-gradient(top, #2453ad, #183c82); background: -moz-linear-gradient(top, #2453ad, #183c82); background: -webkit-gradient(linear, 0 0, 0 bottom, from(#2453ad), to#183c82); background: -o-linear-gradient(top, #2453ad, #183c82); }
.pubsearchBtn input { font-size: 14px; font-weight: normal; height: 45px; width: 90px; background: transparent url(../images/iconfont-sousuo-all.png) no-repeat 9px 12px; line-height: 45px; color: #fff; border: 0; padding-left: 30px; }
.pubsearchBtn:hover { background: #1e4898; }
.searchInput_bomb { padding: 10px 15px; position: absolute; top: 107px; z-index: 200; background: #fff; border: 1px solid #dfdfdf; display: none; left: 200px; }
.triangle { background: url(../images/sanjiao.png) no-repeat; width: 19px; height: 11px; position: absolute; top: -10px; left: 25px; }
.bomb_list { background: #fff; line-height: 30px; text-align: left }
.bomb_list a { display: block; width: 110px; }

@media(min-width:992px) {
.search_block { background-position: -100px center; }
.search_block.sub_search .resource_type a { padding: 0px 4px; }
}

@media(min-width:1248px) {
.search_block { background-position: -100px center; }
.search_block.sub_search .resource_type a { padding: 0px 8px; }
}

@media(min-width:1310px) {
.search_block { background-position: center center; }
.search_block.sub_search .resource_type a { padding: 0px 12px; }
}

@media(max-width:991px) {
.search_block { background-position: -100px center; }
.search_block.sub_search .resource_type a { padding: 0px 2px; }
}
.SubTitle { float: left; line-height: 130px; height: 130px; left: 0; color: #fff; font-size: 36px; padding-left: 20px; width: 160px; min-width: 160px }
/*检索条件*/
.FilterList2 { /*clear: both;*/ padding-left: 0; overflow: hidden; }
.FilterList2:after{clear:both;content:'.';display:block;width: 0;height: 0;visibility:hidden;}
.FilerItem { float: left; margin: 3px 4px; cursor: pointer; white-space: nowrap; }
.condition { margin-left: 0; }
.FilerItem span { padding: 2px 6px; display: inline-block; *display:inline;
*zoom:1;
float: left; color: #417dc9; background: #f1f9ff; border: #b8e0ff 1px solid; }
.del { display: inline-block; *display:inline;
*zoom:1;
width: 13px; vertical-align: middle; height: 15px; background: url(../images/icon_del.png) no-repeat 0 0px; margin: 0px 0 0 6px; }
.Reset { display: inline-block; *display:inline;
*zoom:1;
margin: 3px 0 0 20px; color: #484848; background: url(../images/Reset.png) no-repeat 0 4px; padding-left: 20px; }
/*分页*/
.page { padding: 20px 0 45px 0px; overflow: hidden; font-size: 14px; text-align: center }
.page a { width: 35px; height: 35px; text-align: center; line-height: 35px; color: #898989; font-weight: bold; margin: 6px; border: 1px solid #dfdfdf; display: inline-block; *display:inline;
*zoom:1;
background: #f5f5f5; background: -webkit-linear-gradient(top, #fefefe, #f0f0f0); -webkit-border-radius: 3px; -moz-border-radius: 5px; -o-border-radius: 5px; border-radius: 3px; }
.page .cur { background: #315bcd; color: #fff; border: 1px solid #315bcd; }
.page span { padding: 0 0 0 5px; color: #898989; }
.page input { border: #afafaf 1px solid; line-height: 22px; padding: 0 5px; vertical-align: middle; width: 40px; height: 33px; }
.gjsearchT { position: absolute; right: 80px; top: 65px; color: #fff; }
.gjsearchT a { color: #fff; }
.icon_export2 { float: none; display: inline-block; *display:inline;
*zoom:1;
position: relative; width: 19px; height: 19px; background: url(../images/icon_all.png) no-repeat -304px 0; margin-left: 10px; }
.icon_share2 { float: none; display: inline-block; *display:inline;
*zoom:1;
width: 19px; position: relative; height: 19px; background: url(../images/icon_all.png) no-repeat -354px 0; margin-left: 5px; }
.icon_rss { float: none; display: inline-block; *display:inline;
*zoom:1;
width: 19px; position: relative; height: 19px; background: url(../images/icon_all.png) no-repeat -450px 0; margin-left: 5px; }
.icon_export { background-position: -0px 0; }
.icon_favorite { background-position: -50px 0; }
.sel .icon_favorite, .sel .icon_subscribe { background-position: -150px 0; }
.icon_subscribe { background-position: -50px 0; }
.icon_share { background-position: -100px 0; }
.icon_book { width: 16px; height: 16px; background-position: -150px -50px; margin-right: 5px; }
.icon_down { width: 16px; height: 16px; background-position: -200px -50px; margin-right: 2px; }
.icon-date { background-position: -200px -200px; width: 19px; height: 19px; }
.icon_pdf { width: 19px; height: 19px; background-position: -0px -200px; margin-right: 2px; }
.icon-DoubleArrowUp { width: 10px; height: 19px; background-position: 0px -246px; margin-right: 0px; }
.icon_delred{ width: 16px; height: 16px; background-position: 0px -300px; }
.icon-DoubleArrowDown { width: 10px; height: 19px; background-position: -50px -246px; margin-right: 0px; }
.icon_Miner { float: none; display: inline-block; *display:inline;
*zoom:1;
width: 19px; height: 19px; background: url(../images/icon_all.png) no-repeat -250px 0; margin-left: 20px; }
.icon_box { width: 160px; background-color: #fff; border: 1px solid #a9bce1; box-shadow: 3px 3px 3px #d4d4d4; -webkit-box-shadow: 3px 3px 3px 0px rgba(0,0,0,.2); -moz-box-shadow: 3px 3px 3px 0px rgba(0,0,0,.2); -o-box-shadow: 3px 3px 3px 0px rgba(0,0,0,.2); box-shadow: 3px 3px 3px 0px rgba(0,0,0,.2); padding: 5px 0 10px 20px; font-size: 14px; font-weight: normal; font-style: normal; position: absolute; z-index: 910; margin-bottom: 10px; zoom: 1 }
.icon_box .horn { background: url(../images/icon_all.png) no-repeat -250px -200px; display: inline-block; *display:inline;
*zoom:1;
width: 10px; height: 17px; position: absolute; top: 12px; left: -8px; z-index: 10; }
.use { line-height: 13px; margin: 13px 0 6px 0; padding-left: 7px; color: #99cd00; border-left: #99cd00 4px solid; }
.use_plate { padding-left: 10px; line-height: 22px; color: #484848; }
.obtain { border-color: #ff9900; color: #ff9900; }
.quote { border-color: #329aff; color: #329aff; }
.spread { border-color: #cd66ff; color: #cd66ff; }
.BatchOper { padding: 8px 0 0 0; }
.BatchOper a { display: inline-block; *display:inline;
*zoom:1;
padding: 0 5px; }
h4 em { color: red; font-style: normal; }
.con a em { color: red; font-style: normal; }
/* 导出弹出窗 样式*/
/* 小tab切换样式*/
#export { margin-top: 10px; margin-bottom: 20px; overflow: hidden; *zoom: 1;
background: #417dc9; padding: 1px; -webkit-border-radius: 5px; -moz-border-radius: 5px; -o-border-radius: 5px; border-radius: 5px; padding: 20px 2px 2px; }
#export:after { clear: both; content: '.'; display: block; width: 0; height: 0; visibility: hidden; }
#tags { float: left; width: 140px; margin-top: 5px; }
#tags :before, #tagContent:before { content: ' '; display: block; width: 0; height: 0; visibility: hidden; overflow: hidden }
#tags LI A { margin: 2px 0; background: #d3e3f7; outline: none; font-size: 14px; display: inline-block; *display:inline;
*zoom:1;
width: 140px; text-align: center; line-height: 36px; color: #484848; text-decoration: none; border-right: solid 1px #417dc9; }
#tags LI.emptyTag { BACKGROUND: none transparent scroll repeat 0% 0%; WIDTH: 4px }
#tags LI.selectTag { }
#tags LI.selectTag A { color: #000; background: #fff; border-right: solid 1px #fff; }
#tagContent { margin-left: 141px; background: #fff; padding: 10px 30px; min-height: 150px }
.tagContent { DISPLAY: none; }
#tagContent DIV.selectTag { DISPLAY: block }
.export_qingkong, .export_copy, .export_export, .export_clear, .export_refworks { background: url("../images/export.gif") no-repeat; }
.export_copy, .export_export, .export_refworks, .export_clear { height: 21px; border: 0; cursor: pointer; font-size: 12px; margin-right: 3px; line-height: normal; margin-top: 5px; margin-bottom: 6px; }
.export_copy { background-position: 0 -89px; width: 53px; padding-left: 19px; }
.export_export { background-position: -60px -89px; width: 53px; padding-left: 19px; }
.export_clear { background-position: 0 -121px; width: 53px; padding-left: 16px; }
.export_refworks { background-position: 0px -51px; width: 122px; padding-left: 16px; font-family: Verdana; }
.export_qingkong { background-position: 0 0; width: 113px; height: 29px; line-height: 29px; font-size: 12px; font-weight: bold; border: 0; cursor: pointer; padding-left: 23px; color: #0f398b; }
.export_title { margin-bottom: 15px; }
.export_list { padding: 10px 0; font-size: 14px; line-height: 170% }
.export_list.graybg { background: #f3f3f3; padding: 10px; margin-bottom: 10px }
.export_list p { padding-bottom: 5px; }
.export_drag { width: 100%; overflow: hidden; padding-bottom: 5px; margin: 3px; }
.export_drag > div { float: left; }
.export_drag .title { line-height: 30px; }
.mo { height: auto; float: left; border: 1px solid #CCC; margin: 3px 5px; background: #FFF; overflow: hidden; width: 100px; }
.mo h1 { height: 24px; padding: 3px; cursor: move; float: left; line-height: 24px; font-weight: normal; width: 57px; font-size: 14px; display: block; padding: 0 10px; margin: 0; }
.mo .nr { float: right; width: 22px; height: 24px; border-left: #CCC 1px solid; }
.mo .nr a { display: block; height: 24px; width: 22px; }
.mo .nr a:hover { background: #CCC }
.icon_close { width: 16px; height: 16px; background-position: -242px -95px; margin-right: 5px; }


#export .note { border-top: 1px dotted #dfdfdf; padding-top: 5px; color: #ff6c00; margin-bottom: 15px; }
.nodata h3 { text-align: center; font-size: 28px; color: #bfbfbf; font-weight: normal; line-height: 5em }
.searchsug { display: none; position: relative; left:19%; right:261px; z-index:100; padding:0px ; background: #fff; border: 1px solid #ababab; border-top:0;_overflow: hidden;margin-left:3px;}
.searchsug li { color: #000; font: 14px arial; line-height: 25px; padding: 4px 8px; color:#417dc9; position: relative; cursor: default; }
.bdsug-store-del { font-size: 12px; color: #666; text-decoration: underline; position: absolute; right: 8px; top: 0; cursor: pointer; display: none; }
.searchsug li.bdsug-s { background: #f0f0f0 }
.pers_info p{ text-align:center;}
.bdsug-s .bdsug-store-del { display: inline-block }

/*公共表格部分*/


.TableL { margin: 5px 0 0 0; padding: 0; border: #dfdfdf 1px solid; margin-left: -1px; border-right: 0; *border-right:#dfdfdf 1px solid;
border-left: 0; }
.TableL li, .TableL th, .TableL td { margin: 0; line-height: 1.75; color: #484848; }
.TableL th, .TableL td { border-left: #eeeeee 1px solid; border-bottom: none; border-bottom: #eeeeee 1px solid\0; +border-bottom: #eeeeee 1px solid;
line-height: 1.75 }
.TableL th { background: #edf7ff; font-weight: bold; white-space:nowrap; }
.TableL li:nth-child(odd), .TableL tr:nth-child(odd) { background: #f7f7f7; }
.TableL li .JouColumn { float: left; }
.TableL li .JouColumn div { border-left: #eeeeee 1px solid; padding: 6px 6px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }

.TableL li .title { background: #edf7ff; font-weight: bold; }

.TableL .JouColumn div.con { padding: 6px 4px; }
.TOperate { width:15%; text-align: center; font-size:12px; }
.TOperate .OperatBtn1 {float: left; text-align: right; padding: 8px 0 0px 8px; font-size: 12px; font-weight: normal; }
.JouColumn .TOperate .OperatBtn1  a{ margin-top: 5px; }
.TOperate .OperatBtn1 a { display: block; float: left; padding: 0 0 8px 8px; line-height: 16px }
.TOperate .OperatBtn1 a .icon { width: 16px; height: 16px; background-image: url(../images/icon_all.png); background-repeat: no-repeat; }

/*弹框样式*/
.mask { width: 100%; height: 100%; position: fixed; top: 0; left: 0; z-index: 99; background: rgba(0, 0, 0, 0.5); }
.popup { position: absolute; z-index: 100; top: 50%;    left: 50%;   -webkit-border-radius: 5px; -moz-border-radius: 5px; -o-border-radius: 5px; border-radius: 5px; background: #fff; }
.popup_close { height: 36px; }
.popup_close a { display: block; float: right; padding: 8px 10px 12px 10px; margin: 0 5px; height: 17px; width: 17px; line-height: 17px }
.popup_close .icon_close { background: url(../images/scholar_btn.png) no-repeat -100px -150px; width: 17px; height: 17px; margin: 0 }
.popup_close a:hover { background-color: #e60012; }
.popup_close a:hover .icon_close { background-position: -150px -150px; }
.poptitle{ color:#1a4882; font-size:16px; font-weight:bold; padding:0 20px; margin-top:-20px;}

.hoverli:hover{background:#d3d3d3;}