.b{
	width: 600px;
	height: 30px;
}
.channel{
    width: 400px;
    height: 30px;
 }
.lm{
	width: 400px;
	height: 30px;
	padding: 2px 2px 2px 4px;
}
.tdl{
	text-align: right;
}
.tdr{
	text-align: left;
}
td{
	padding-left: 40px;
	padding-top: 20px;
}
.add_mark_list{
    width: 400px;
    display: none;
    top: 49px;
    position: absolute;
    background: white;
    border: 1px solid #ccc;
}
.add_mark_list ul li{
   /* border-bottom:1px solid #ccc ;*/
    cursor: pointer;
    text-indent: 5px;
}
.mark_list{
	width: 406px;
	margin-top: 10px;
	margin-left: 162px;
}
.mark_list span{
	display: inline-block;
	margin-left: 10px;
	min-width: 40px;
	height: 30px;
	line-height: 30px;
	cursor: pointer;
}
.mark_list span i{
	cursor: pointer;
}
.mark_list span p{
	display: inline-block;
}
.mark_common_wrap{
    margin-left: 169px;
}
.mark_common_wrap span.mark_title{
    color: #2196F3;
    cursor: pointer;

}
.mark_common_wrap .common_mark span{
    color: #0000FF;
    padding-right: 5px;
}
.add_goods_form{
    position: relative;
}
.add_goods_form div{
    position: absolute;
}
.add_goods_form div input{
    float: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: 30px;
    width: 215px;
}
.add_goods_form div span{
    float: left;
    height: 30px;
    width: 50px;
    display: inline-block;
    line-height: 30px;
    text-align: center;
    background: #ccc;
}
.colum_list span label{
    color: #000;
    font-weight: 400;
}
.error_mark{
    display: none;
    color: red;
    padding-left:100px;
    position: relative;
}
.error_mark .sensitive_wrap{
    position: absolute;
    top: 20px;
    left: 0px;
    z-index: 9999;
    background: #fff;
    width: 218px;
    margin-left: 28px;
}
.error_mark .sensitive_wrap ul{
    height: 218px;
    width: 230px;
    overflow-x: auto;
}

/*滚动条样式*/
::-webkit-scrollbar {/*滚动条整体样式*/
    width: 4px;     /*高宽分别对应横竖滚动条的尺寸*/
    height: 4px;
}
::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    background: rgba(0,0,0,0.2);
}
::-webkit-scrollbar-track {/*滚动条里面轨道*/
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    border-radius: 0;
    background: rgba(0,0,0,0.1);
}

.error_mark .sensitive_wrap ul li{
    color: #000;
    text-align: left;
    text-indent: 10px;
    border: 1px dashed #ccc;
}
.error_mark .sensitive_wrap ul li:not(:first-child){
    border-top: none;
}
.all_file_url{
    position: absolute;
    display: none;
    top: 31px;
    border: 1px solid #ccc;
    left: 20px;
    padding: 3px;
    background: #fff;
}



