.ar select{
	width: 200px;
	height: 30px;
}
.ar input{
	height: 30px;
	width: 200px;
}
.al{
	text-align: right;
}
.ar{
	text-align: left;
}
.messagetable{
	margin-left: 50px;
}
.messagetable td{
	padding-left: 15px;
	padding-top: 10px;
}
.messagetable select{
	padding: 2px 2px 2px 4px;
}
.change_setting {
    margin-left: 16px;
    margin-top: 10px;
}
#manual_setting, #auto_setting {
    cursor: pointer;
}
.nav-tabs > li.active > a ,.nav-tabs > li.active > a:focus,.nav-tabs > li.active > a:hover{
	background-color: #3c8dbc;
    color: #fff;
}
.change_setting a,.change_setting a{
	color: #444;
    background: #f7f7f7;
}
#manual_content tr th, #auto_content tr th{
	text-align: center;
}