.ar select{
	width: 200px;
	height: 30px;
}
.ar input{
	height: 30px;
	width: 200px;
}
.al{
	text-align: right;
}
.ar{
	text-align: left;
}
#messagetable,#infoLabel{
	margin-left: 50px;
}
#messagetable td,#infoLabel td{
	padding-left: 15px;
	padding-top: 10px;
}
#messagetable select,#infoLabel select{
	padding: 2px 2px 2px 4px;
}

.label_input{
	border: none;
	line-height: 26px;
	border-bottom: 1px solid #cdcdcd;
	padding-left: 10px;
	height: 26px;
}
.add_label-tip{
	display: none;
	color: red;
}
.empty-warning{
	font-size: 20px;
	line-height: 70px;
	text-align: center;
}
.modify-label{
	display: none;
}

.mypage .page_bind{
	float: none;
	margin-top: 20px;
}

