body {
	position: relative;
}



/*.theme {
	margin-bottom: 30px;
}*/

.subject .theme_con {
	padding: 0 16px 0 0;
	border: 1px solid #a9a9a9;
	position: relative;
	min-width: 330px;
}

.subject .theme_con span:first-child {
	margin-left: 6px;
}

.subject .theme_con span {
	padding-right: 10px;
	display: inline-block;
	vertical-align: middle;
	line-height: 30px;
	width: 96px;
	color: #484848;
	position: relative;
}

.subject .theme_con span a {
	position: absolute;
	left: 66px;
	top: 0px;
	margin-left: 3px;
}

.subject .theme_con span a img {
	display: inline-block;
	vertical-align: middle;
}

.subject .theme_con span b {
	display: inline-block;
	vertical-align: middle;
	font-weight: normal;
	max-width: 73px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.subject .theme_con .input_add input {
	height: 30px;
	line-height: 30px;
	width: 100px;
}


.subject .subject_txt {
	position: relative;
}

.subject_txt .subject_text {
	position: absolute;
	left: 5px;
	top: 0;
}

.subject_text span {
	position: relative;
	padding-right: 20px;
	text-overflow: ellipsis;
}

.subject_text img {
	position: absolute;
	right: -18px;
	top: 15px;
	cursor: pointer;
}

.write_box .add_input input {
	margin-bottom: 20px;
}

.write_box .add_input a {
	margin-left: 6px;
}

.write_box .add_input img {
	display: inline-block;
	vertical-align: middle;
}

.choice_box {
	position: absolute;
	padding-bottom:10px;
	left: 635px;
	top: 495px;
	width: 670px;
	height: 476px;
	background: #FFFFFF;
	border: 1px solid #A9BCE1;
	z-index: 88;
	/*overflow: hidden;*/
}

.choice_box .choice_triangle {
	position: absolute;
	left: 35px;
	top: -15px;
}

.choice_box .search {
	margin-top: 10px;
	margin-left: 425px;
	margin-bottom: 10px;
	position: relative;
}

.choice_box .search input {
	outline: none;
	border: none;
	width: 235px;
	height: 24px;
	border: 1px solid #CCCCCC;
	text-indent: 0.5em;
}

.choice_box .search a {
	position: absolute;
	right: 15px;
	top: 4px;
}

.choice_tab {
	overflow-y: scroll;
	height:352px;
	background: #F5F5F5;
	margin: 0 30px 10px 10px;
	border: 1px solid #DFDFDF;
}

.choice_left ul {
	float: left;
}

.choice_left ul li a {
	display: inline-block;
	width: 193px;
	height: 31px;
	line-height: 31px;
	text-indent: 1em;
	background: #FFFFFF;
	border-right: 1px solid #DFDFDF;
	border-bottom: 1px solid #DFDFDF;
	color: #484848;
}

.choice_left ul li:last-child a {
	border-bottom: none;
}

.choice_left ul li a:hover {
	text-decoration: none;
	background: #F5F5F5;
	border-right: none;
}

.choice_left ul li .cur {
	background: #F5F5F5;
	border-right: none;
}

.choice_right {
	float: left;
	margin-left: 20px;
	margin-top: 15px;
}

.choice_right div a {
	margin-right: 10px;
}

.choice_right div {
	margin-bottom: 10px;
}

.choice_right div ul {
	margin-left: 36px;
	margin-top: 10px;
}

.choice_right div ul li {
	margin-bottom: 10px;
}

.choice_right div ul li input {
	margin-right: 8px;
}

.more {
	margin-left: 10px;
}

.more span {
	margin-right: 20px;
	position: relative;
}

.more span b {
	display: inline-block;
	vertical-align: middle;
	font-weight: normal;
	max-width: 73px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.more span img {
	display: inline-block;
	vertical-align: middle;
	position: absolute;
	right: -18px;
	top: 4px;
	cursor: pointer;
}

.choice_btn {
	margin-left: 415px;
	margin-top: 10px;
}

.choice_btn input {
	outline: none;
	border: none;
	width: 100px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	background: #417DC9;
	color: #FFFFFF;
	margin-left: 10px;
}

.choice_btn .choice_no {
	background: #E1E1E1;
}


/*实名认证*/

.certification_box .cer_info {
	/*width: 380px !important;*/
	width: 430px !important;
	margin: 100px auto 0;
}


/*找回密码1-核对账户-邮箱*/

.check_info {
	width: 650px;
	margin: 50px auto 0;
}

.check_info .step_one,
.check_info .step_two {
	position: relative;
}

.check_info .step_line {
	width: 160px;
	border: 1px solid rgba(84, 163, 238, 0.62);
	position: absolute;
	left: 105px;
	top: 16px;
}

.check_info .step_line img {
	position: absolute;
	right: -9px;
	top: -7px;
	opacity: 0.62;
}

.check_info .step_dashed {
	/*border-style: dashed;*/
	border-style: dotted;
	border-color: rgba(84, 163, 238, 1);
}

.check_info .step div {
	display: inline-block;
}

.check_info .step .step_one,
.check_info .step .step_two {
	width: 100px;
	background: #FFFFFF;
	text-align: center;
}

.check_info .step .step_one .bg_one,
.check_info .step .step_two .bg_two {
	width: 35px;
	height: 35px;
	line-height: 35px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	text-align: center;
	background: #E1E1E1;
	color: #FFFFFF;
}

.check_info .step .step_find span {
	color: #95c6f4;
}

.check_info .step span {
	color: #E1E1E1;
}

.check_info .step .step_one .bg_one {
	background: #54A3EE;
	color: #FFFFFF;
}

.check_info .step .step_one .text_one {
	color: #54a3ee;
}

.check_info .step .step_find .bg_one {
	background: rgba(84, 163, 238, 0.62);
}

.check_info .step .step_find .text_one {
	color: rgba(84, 163, 238, 0.62);
}

.check_con {
	width: 600px;
	margin: 80px auto 0;
}

.check_con dl {
	overflow: hidden;
}

.check_con dl dt {
	float: left;
	width: 90px;
	text-align: right;
	margin-right: 10px;
	margin-bottom: 40px;
	font-weight: 400;
}

.check_con dl dd {
	float: left;
}

.check_con .username dd {
	margin-right: 50px;
	margin-bottom: 20px;
}

.check_con .btngroup {
	width: 320px;
	margin: 50px auto;
}

.check_con .btngroup input {
	outline: none;
	border: none;
	width: 137px;
	height: 41px;
	line-height: 41px;
	background: #417DC9;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	font-size: 18px;
	color: #FFFFFF;
	margin-right: 20px;
}

.check_con .btngroup .cancel_btn {
	background: #C2C2C2;
}

.check_con dt {
	line-height: 40px;
}

.check_con .find_way dd a {
	display: inline-block;
	width: 133px;
	height: 36px;
	line-height: 36px;
	text-align: center;
	background: #F3F3F3;
	color: #484848;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
}

.check_con .find_way .phone a {
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
}

.check_con .find_way .e_mail a {
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
}

.check_con .find_way .cur {
	background: #417DC9;
	color: #FFFFFF;
}

.check_con .tel input {
	outline: none;
	border: none;
	width: 268px;
	height: 40px;
	line-height: 40px;
	background: #FFFFFF;
	border: 1px solid #CCCCCC;
	text-indent: 0.5em;
}

.check_con .code input {
	outline: none;
	border: none;
	width: 166px;
	height: 40px;
	line-height: 40px;
	background: #FFFFFF;
	border: 1px solid #CCCCCC;
	text-indent: 0.5em;
}

.check_con .btn_next input {
	width: 268px;
	height: 40px;
	margin-top: -15px;
}

.line {
	width: 998px;
	/*border: 1px dashed #417DC9;*/
	border: 1px dotted #417DC9;
	margin-left: -258px;
	margin-bottom: 40px;
}

.img_yes {
	position: relative;
}

.img_yes i {
	position: absolute;
	top: 50%;
	left: 0;
	margin-top: -12px;
}