<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wf.dao.ResourceStatisticsHourMapper" >
  <resultMap id="BaseResultMap" type="com.wf.bean.ResourceStatisticsHour" >
    <result column="url_type" property="urlType" jdbcType="INTEGER" />
    <result column="institution_name" property="institutionName" jdbcType="VARCHAR" />
    <result column="source_type_name" property="sourceTypeName" jdbcType="VARCHAR" />
    <result column="source_name" property="sourceName" jdbcType="VARCHAR" />
    <result column="date" property="date" jdbcType="DATE" />
    <result column="hour" property="hour" jdbcType="VARCHAR" />
    <result column="numbers" property="numbers" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="VARCHAR" />
  </resultMap>
  
  
  
    <select id="getLine" resultMap="BaseResultMap">
	SELECT sum(numbers) numbers,date,source_type_name sourceTypeName,hour
	from rs_resources_statistics_sourcetype_use_hourly 
	where url_type=#{res.urlType} and date=#{date} and source_type_name <![CDATA[<>]]> ''
	and  source_type_name <![CDATA[ <> ]]>'全部'
	<if test="res.institutionName!=null and res.institutionName!=''">
		 and institution_name=#{res.institutionName}
	</if>
	<if test="res.sourceName!=null   and res.sourceName!=''">
		and source_name=#{res.sourceName}
	</if>
	<if test="res.userId!=null and res.userId!=''">
		 and user_id=#{res.userId}
	</if>
	<if test="res.sourceTypeName!=null and res.sourceTypeName!='' and res.sourceTypeName!='--请选择资源类型--'">
		 and source_type_name=#{res.sourceTypeName}
	</if>
	 group by source_type_name,hour order by date asc
  </select>
  
   <select id="getLineByCheckMore" resultMap="BaseResultMap">
	SELECT sum(numbers) numbers,date,source_type_name sourceTypeName,hour
	from rs_resources_statistics_sourcetype_use_hourly 
	where url_type=#{res.urlType} and date=#{date} and source_type_name <![CDATA[<>]]> ''
	and  source_type_name <![CDATA[ <> ]]>'全部'
	<if test="res.institutionName!=null and res.institutionName!=''">
		 and institution_name=#{res.institutionName}
	</if>
	<if test="res.sourceName!=null   and res.sourceName!=''">
		and source_name=#{res.sourceName}
	</if>
	<if test="res.userId!=null and res.userId!=''">
		 and user_id=#{res.userId}
	</if>
	<if test="sourceTypeName!=null">
		 and source_type_name in
		 <foreach collection="sourceTypeName" index="index" item="item" open="(" separator="," close=")">
		 	#{item}
		 </foreach>
	</if>
	 group by source_type_name,hour order by date asc
  </select>
  
  
     <select id="getLineMore" resultMap="BaseResultMap">
	SELECT sum(numbers) numbers,date,source_type_name sourceTypeName,hour,url_type
	from rs_resources_statistics_sourcetype_use_hourly 
	where  date=#{date} and url_type <![CDATA[ <> ]]>'' 
	and source_type_name <![CDATA[ <> ]]>'' 
	and source_type_name <![CDATA[ <> ]]>'全部'
	<if test="urls!=null">
		and url_type in(
	<foreach collection="urls" item="item" index="index" separator=",">  
    #{item}
	</foreach>
	)
	</if>
	<if test="res.institutionName!=null and res.institutionName!=''">
		 and institution_name=#{res.institutionName}
	</if>
	<if test="res.sourceName!=null   and res.sourceName!=''">
		and source_name=#{res.sourceName}
	</if>
	<if test="res.userId!=null and res.userId!=''">
		 and user_id=#{res.userId}
	</if>
	<if test="res.sourceTypeName!=null and res.sourceTypeName!='' and res.sourceTypeName!='--请选择资源类型--'">
		 and source_type_name=#{res.sourceTypeName}
	</if>
	 group by source_type_name,hour,url_type order by date asc
  </select>
  
  
   <select id="getLineMoreByCheckMore" resultMap="BaseResultMap">
	SELECT sum(numbers) numbers,date,source_type_name sourceTypeName,hour,url_type
	from rs_resources_statistics_sourcetype_use_hourly 
	where  date=#{date} and and url_type <![CDATA[ <> ]]>'' 
	and source_type_name <![CDATA[ <> ]]>'' 
	and source_type_name <![CDATA[ <> ]]>'全部'
	<if test="urls!=null">
		and url_type in(
	<foreach collection="urls" item="item" index="index" separator=",">  
    #{item}
	</foreach>
	)
	</if>
	<if test="res.institutionName!=null and res.institutionName!=''">
		 and institution_name=#{res.institutionName}
	</if>
	<if test="res.sourceName!=null   and res.sourceName!=''">
		and source_name=#{res.sourceName}
	</if>
	<if test="res.userId!=null and res.userId!=''">
		 and user_id=#{res.userId}
	</if>
	
	<if test="sourceTypeName!=null">
		and source_type_name in
		<foreach collection="sourceTypeName" index="index" item="item" open="(" separator="," close=")">
		     #{item}
		</foreach>
	</if>
	 group by source_type_name,hour,url_type order by date asc
  </select>
  
  
  <select id="gethourtable" resultMap="BaseResultMap">
  	select sum(numbers) numbers ,url_type,source_name,source_type_name,hour
  	from rs_resources_statistics_sourcetype_use_hourly
  	where date=#{date} and and url_type <![CDATA[ <> ]]>'' 
	and source_type_name <![CDATA[ <> ]]>'' 
	and source_type_name <![CDATA[ <> ]]>'全部'
  	<if test="res.institutionName!=null and res.institutionName!=''">
		 and institution_name=#{res.institutionName}
	</if>
	<if test="res.sourceName!=null   and res.sourceName!=''">
		and source_name=#{res.sourceName}
	</if>
	<if test="res.userId!=null and res.userId!=''">
		 and user_id=#{res.userId}
	</if>
	<if test="res.sourceTypeName!=null and res.sourceTypeName!='' and res.sourceTypeName!='--请选择资源类型--'">
		 and source_type_name=#{res.sourceTypeName}
	</if>
	GROUP BY url_type,source_type_name order by url_type
  </select>
  
  <select id='gethouronetable' resultMap="BaseResultMap">
 	 SELECT sum(numbers) numbers,source_name,url_type,source_type_name,hour
	from rs_resources_statistics_sourcetype_use_hourly
	where date=#{date}
	<if test="res.institutionName!=null and res.institutionName!=''">
		 and institution_name=#{res.institutionName}
	</if>
	<if test="res.sourceName!=null   and res.sourceName!=''">
		and source_name=#{res.sourceName}
	</if>
	<if test="res.userId!=null and res.userId!=''">
		 and user_id=#{res.userId}
	</if>
	<if test="res.sourceTypeName!=null and res.sourceTypeName!='' and res.sourceTypeName!='--请选择资源类型--'">
		 and source_type_name=#{res.sourceTypeName}
	</if>
	group by url_type
  </select>
</mapper>